Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, pytest-validation, conflict-detection, formatter-availability, yaml-validation

nwave-version-bump:
  name: nWave Version Auto-Increment
  entry: python3 scripts/hooks/version_bump.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-validation:
  name: Pytest Test Validation
  entry: python3 scripts/hooks/validate_tests.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

conflict-detection:
  name: Conflict Detection - Related Files
  entry: python3 scripts/hooks/detect_conflicts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

formatter-availability:
  name: Code Formatter Availability Check
  entry: python3 scripts/hooks/check_formatter_available.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

yaml-validation:
  name: YAML File Validation
  entry: python3 scripts/validation/validate_yaml_files.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(forge-tui): add TUI redesign acceptance plan and journey artifacts
  docs/features/modern-cli-installer/03-distill/tui-redesign-acceptance-plan.md
  docs/features/modern-cli-installer/04-develop/WIP.yaml
  docs/features/modern-cli-installer/04-develop/execution-log.yaml
  docs/ux/modern-cli-installer/journey-forge-tui-visual.md
  docs/ux/modern-cli-installer/journey-forge-tui.feature
  docs/ux/modern-cli-installer/journey-forge-tui.yaml
  tests/acceptance/forge_tui/__init__.py
  tests/acceptance/forge_tui/test_error_scenarios.py
Due: pytest-validation, formatter-availability, yaml-validation

feat(forge-tui): unify build + install TUI with IDE bundle and asset deployment
  docs/ux/modern-cli-installer/actual/build.visual.stdout
  docs/ux/modern-cli-installer/actual/install.visual.stdout
  docs/ux/modern-cli-installer/journey-forge-tui-visual.md
  docs/ux/modern-cli-installer/journey-forge-tui.feature
  docs/ux/modern-cli-installer/journey-forge-tui.yaml
  tests/acceptance/forge_tui/test_error_scenarios.py
Due: pytest-validation, formatter-availability, yaml-validation

chore: add .nwave-audit.log to gitignore
  .gitignore
Due: none

feat(forge-tui): add Phase 09 roadmap, integration architecture, and test pyramid
  docs/features/modern-cli-installer/02-design/unified-install-integration-architecture.md
  docs/features/modern-cli-installer/03-distill/test-pyramid-plan.md
  docs/features/modern-cli-installer/04-develop/roadmap.yaml
  pytest.ini
  tests/acceptance/forge_tui/test_error_scenarios.py
  tests/acceptance/forge_tui/test_walking_skeleton.py
  tests/installer/checks/test_deployment_checks.py
  tests/installer/integration/__init__.py
  tests/installer/integration/test_unified_pipeline_integration.py
  tests/installer/services/test_asset_deployment_service.py
  tests/installer/services/test_deployment_validation_service.py
  tests/installer/services/test_ide_bundle_build_service.py
Due: pytest-validation, formatter-availability, yaml-validation

docs: add WIP + /nw:develop integration report for future WIP branch
  docs/features/modern-cli-installer/04-develop/protocols/wip-develop-integration-report.md
Due: none

feat(installer): add shared IDE bundle constants module
  src/crafter_ai/installer/domain/__init__.py
  src/crafter_ai/installer/domain/ide_bundle_constants.py
Due: none

feat(installer): extend InMemoryFileSystemAdapter with copy_file method
  tests/installer/conftest.py
Due: pytest-validation, formatter-availability

feat(installer): implement IdeBundleBuildService with domain result class
  src/crafter_ai/installer/domain/__init__.py
  src/crafter_ai/installer/domain/ide_bundle_build_result.py
  src/crafter_ai/installer/services/__init__.py
  src/crafter_ai/installer/services/ide_bundle_build_service.py
  tests/installer/services/test_ide_bundle_build_service.py
Due: pytest-validation, formatter-availability

feat(installer): implement IdeBundleExistsCheck pre-flight check
  src/crafter_ai/installer/checks/ide_bundle_exists_check.py
  tests/installer/checks/test_deployment_checks.py
Due: pytest-validation, formatter-availability

feat(installer): implement AssetDeploymentService with domain result class
  src/crafter_ai/installer/domain/__init__.py
  src/crafter_ai/installer/domain/asset_deployment_result.py
  src/crafter_ai/installer/services/__init__.py
  src/crafter_ai/installer/services/asset_deployment_service.py
  tests/installer/services/test_asset_deployment_service.py
Due: pytest-validation, formatter-availability

feat(installer): implement DeploymentValidationService with domain result
  src/crafter_ai/installer/domain/__init__.py
  src/crafter_ai/installer/domain/deployment_validation_result.py
  src/crafter_ai/installer/services/__init__.py
  src/crafter_ai/installer/services/deployment_validation_service.py
  tests/installer/services/test_deployment_validation_service.py
Due: pytest-validation, formatter-availability

feat(installer): integrate IdeBundleBuildService into BuildService with real integration tests
  src/crafter_ai/installer/services/build_service.py
  tests/installer/integration/test_unified_pipeline_integration.py
Due: pytest-validation, formatter-availability

feat(forge-tui): wire IDE bundle build into forge_build CLI
  docs/features/modern-cli-installer/04-develop/WIP.yaml
  docs/features/modern-cli-installer/04-develop/protocols/reverseEngDevelop.md
  docs/features/modern-cli-installer/04-develop/roadmap.yaml
  src/crafter_ai/installer/cli/forge_build.py
  tests/acceptance/forge_tui/test_walking_skeleton.py
Due: pytest-validation, formatter-availability, yaml-validation

feat(installer): integrate deployment services into InstallService
  src/crafter_ai/installer/services/install_service.py
Due: none

fix(installer): align IDE bundle constants and tests with actual nWave structure
  src/crafter_ai/installer/domain/ide_bundle_constants.py
  src/crafter_ai/installer/services/ide_bundle_build_service.py
  tests/installer/checks/test_deployment_checks.py
  tests/installer/integration/test_unified_pipeline_integration.py
  tests/installer/services/test_asset_deployment_service.py
  tests/installer/services/test_deployment_validation_service.py
  tests/installer/services/test_ide_bundle_build_service.py
Due: pytest-validation, formatter-availability

feat(forge-build): add configurable spinners for wheel and IDE bundle build
  src/crafter_ai/installer/cli/forge_build.py
  src/crafter_ai/installer/services/build_service.py
Due: none

feat(forge-build): add IDE bundle artifact summary to build complete
  src/crafter_ai/installer/cli/forge_build.py
Due: none

feat(forge-install): add asset deployment display section
  docs/features/modern-cli-installer/04-develop/WIP.yaml
  src/crafter_ai/installer/cli/forge_install.py
  tests/acceptance/forge_tui/test_walking_skeleton.py
Due: pytest-validation, formatter-availability, yaml-validation

fix(forge-install): align auto-chain build with TUI design
  src/crafter_ai/installer/cli/forge_install.py
Due: none

feat(forge-install): add branded header at command start
  src/crafter_ai/installer/cli/forge_install.py
Due: none

feat(forge-install): add CLI install section with spinner
  src/crafter_ai/installer/cli/forge_install.py
Due: none

fix(forge-install): update nWave slogan to match brand
  src/crafter_ai/installer/cli/forge_install.py
Due: none

fix(forge-install): match Luna's design for CLI install completion line
  src/crafter_ai/installer/cli/forge_install.py
Due: none

feat(forge-install): add deployment validation display section
  docs/features/modern-cli-installer/04-develop/WIP.yaml
  src/crafter_ai/installer/cli/forge_install.py
  tests/acceptance/forge_tui/test_walking_skeleton.py
Due: pytest-validation, formatter-availability, yaml-validation

fix(forge-install): show all install details even on failure
  src/crafter_ai/installer/cli/forge_install.py
Due: none

fix(forge-install): use correct DeploymentValidationResult attributes
  src/crafter_ai/installer/cli/forge_install.py
Due: none

feat(forge-install): add explicit validation error context
  src/crafter_ai/installer/cli/forge_install.py
Due: none

fix(constants): update expected counts to match actual nWave source
  src/crafter_ai/installer/domain/ide_bundle_constants.py
Due: none

fix(validation): count only files with valid extensions, exclude directories
  src/crafter_ai/installer/services/deployment_validation_service.py
Due: none

fix(forge-install): make validation error message user-friendly
  src/crafter_ai/installer/cli/forge_install.py
Due: none

fix(installer): resolve deployment path mismatch (agents/nw, commands/nw, scripts)
  docs/features/modern-cli-installer/04-develop/WIP.yaml
  src/crafter_ai/installer/checks/ide_bundle_exists_check.py
  src/crafter_ai/installer/cli/forge_install.py
  src/crafter_ai/installer/domain/__init__.py
  src/crafter_ai/installer/domain/ide_bundle_constants.py
  src/crafter_ai/installer/services/asset_deployment_service.py
  src/crafter_ai/installer/services/build_service.py
  src/crafter_ai/installer/services/deployment_validation_service.py
  src/crafter_ai/installer/services/ide_bundle_build_service.py
  src/crafter_ai/installer/services/install_service.py
  src/crafter_ai/installer/services/release_readiness_service.py
  tests/installer/checks/test_deployment_checks.py
  tests/installer/cli/test_forge_install.py
  tests/installer/integration/test_unified_pipeline_integration.py
  tests/installer/services/test_asset_deployment_service.py
  tests/installer/services/test_deployment_validation_service.py
  tests/installer/services/test_ide_bundle_build_service.py
  tests/installer/services/test_install_service.py
Due: pytest-validation, formatter-availability, yaml-validation

feat(installer): add SBOM dual-group format (CLI + IDE assets)
  docs/features/modern-cli-installer/04-develop/WIP.yaml
  src/crafter_ai/installer/checks/ide_bundle_exists_check.py
  src/crafter_ai/installer/cli/forge_build.py
  src/crafter_ai/installer/cli/forge_install.py
  src/crafter_ai/installer/domain/__init__.py
  src/crafter_ai/installer/domain/ide_bundle_constants.py
  src/crafter_ai/installer/services/__init__.py
  src/crafter_ai/installer/services/build_service.py
  src/crafter_ai/installer/services/install_service.py
  tests/acceptance/forge_tui/test_walking_skeleton.py
  tests/installer/services/test_install_service.py
Due: pytest-validation, formatter-availability, yaml-validation

refactor(installer): reorganize output flow to reduce repetition
  src/crafter_ai/installer/cli/forge_install.py
Due: none

feat(installer): improve health check with diagnostic flow and version display
  src/crafter_ai/installer/cli/forge_install.py
Due: none

style(installer): add indentation to validation checks for visual hierarchy
  src/crafter_ai/installer/cli/forge_install.py
Due: none

feat(forge-install): update celebration to use nWave brand and add Getting started section
  src/crafter_ai/installer/cli/forge_install.py
Due: none

feat(forge-install): add ASCII art branding to installation header
  src/crafter_ai/installer/cli/forge_install.py
Due: none

feat(forge-install): remove header line and fix test marker ordering
  docs/features/modern-cli-installer/04-develop/WIP.yaml
  src/crafter_ai/installer/cli/forge_install.py
  tests/acceptance/forge_tui/test_walking_skeleton.py
  tests/installer/cli/test_forge_install.py
Due: pytest-validation, formatter-availability, yaml-validation

refactor(forge-install): update tagline to emphasize code assistant role
  src/crafter_ai/installer/cli/forge_install.py
Due: none

chore: fix trailing whitespace and EOF in visual stdout files
  docs/ux/modern-cli-installer/actual/build.visual.stdout
  docs/ux/modern-cli-installer/actual/install.visual.stdout
Due: none

Path conditions:
  nwave-version-bump: any of: ^(nWave/|tools/), but not: version\.md$
  pytest-validation: any of: ^(tests/|src/des/).*\.py$
  conflict-detection: any of: ^(nWave/|scripts/|tools/)
  formatter-availability: any of: ^(scripts/|tools/|tests/).*\.py$, but not: \.json$
  yaml-validation: any of: \.(yaml|yml)$
