Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation, shell-syntax-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for AI-Craft nWave Framework
# Install: pip install pre-commit && pre-commit install
# Manual run: pre-commit run --all-files

repos:
  # Local hooks for nWave framework
  - repo: local
    hooks:
      # Phase 0: Auto-increment version when nWave files are modified
      - id: nwave-version-bump
        name: nWave Version Auto-Increment
        entry: python3 scripts/hooks/version_bump.py
        language: system
        files: ^(nWave/|tools/)
        exclude: version\.md$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 1: Run pytest test suite
      - id: pytest-validation
        name: Pytest Test Validation
        entry: python3 scripts/hooks/validate_tests.py
        language: system
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

      # Phase 2: Documentation version validation
      - id: docs-version-validation
        name: Documentation Version Validation
        entry: python3 scripts/hooks/validate_docs.py
        language: system
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

      # Phase 4: Conflict detection between related files
      - id: conflict-detection
        name: Conflict Detection - Related Files
        entry: python3 scripts/hooks/detect_conflicts.py
        language: system
        files: ^(nWave/|scripts/|tools/)
        pass_filenames: false
        stages: [pre-commit]

      # Phase 4: Code formatter availability check
      - id: formatter-availability
        name: Code Formatter Availability Check
        entry: python3 scripts/hooks/check_formatter_available.py
        language: system
        files: ^(scripts/|tools/|tests/).*\.py$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 5: YAML validation (mirrors CI/CD validation)
      - id: yaml-validation
        name: YAML File Validation
        entry: python3 scripts/validation/validate_yaml_files.py
        language: system
        files: \.(yaml|yml)$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 6: Shell script syntax validation (bash -n)
      # Note: Only for acceptance test scripts in tests/acceptance/
      - id: shell-syntax-check
        name: Shell Script Syntax Check
        entry: bash -n
        language: system
        files: ^tests/acceptance/.*\.sh$
        stages: [pre-commit]

  # Shellcheck linting (optional - non-blocking if not installed)
  # Note: Only for acceptance test scripts in tests/acceptance/
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-x]
        files: ^tests/acceptance/.*\.sh$
        stages: [pre-commit]

  # Standard hooks from pre-commit repository
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(dist/|\.git/)
      - id: end-of-file-fixer
        exclude: ^(dist/|\.git/)
      - id: check-yaml
        exclude: ^(dist/|\.git/)
      - id: check-json
        exclude: ^(dist/|\.git/)
      - id: check-merge-conflict
      - id: detect-private-key

  # Python linting and formatting with Ruff (replaces black, flake8, isort)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^(scripts/|tools/|tests/).*\.py$
      - id: ruff-format
        files: ^(scripts/|tools/|tests/).*\.py$

# Configuration
default_stages: [pre-commit]
fail_fast: false

refactor(hooks): Move documentation freshness check to push phase
  .pre-commit-config.yaml
Due: yaml-validation

feat(us005-02-02): Detect silent completion failures with recovery guidance
  tests/acceptance/test_us005_failure_recovery.py
Due: formatter-availability

refactor(hooks): Fix pytest-validation blocking commits and ruff exit-code issues
  .pre-commit-config.yaml
Due: yaml-validation

feat(us005-02-03): Detect missing artifacts failures with recovery guidance
  src/des/application/recovery_guidance_handler.py
  tests/acceptance/test_us005_failure_recovery.py
  tests/unit/des/test_recovery_guidance_handler.py
Due: formatter-availability

docs(requirements): add versioning and release management feature spec
  docs/features/versioning-release-management/requirements.md
Due: none

feat(des): Implement 8-phase TDD optimization with schema versioning and automatic rollback
  nWave/agents/software-crafter-reviewer.md
  nWave/agents/software-crafter.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/hooks/pre_commit_tdd_phases.py
  nWave/tasks/nw/version.md
  nWave/templates/step-tdd-cycle-schema.json
  src/des/application/orchestrator.py
  src/des/application/schema_rollback_handler.py
  src/des/application/validator.py
  tests/acceptance/test_us005_failure_recovery.py
  tests/des/unit/test_orchestrator_schema_versioning.py
  tests/des/unit/test_validator_schema_versioning.py
  tests/feature/des-us005/steps/03-01.json
  tests/feature/des-us005/steps/03-02.json
  tests/feature/des-us005/steps/03-03.json
  tests/feature/des-us005/steps/03-04.json
  tests/feature/des-us005/steps/03-05.json
  tests/unit/des/test_schema_rollback_handler.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

fix(install): Add schema validation and force-rebuild option
  scripts/install/install_nwave.py
Due: conflict-detection, formatter-availability

feat(design): complete DESIGN wave for versioning-release-management
  .github/workflows/release.yml.wip
  docs/design/versioning-release-management/adrs/ADR-PLAT-001-pure-python-dependencies.md
  docs/design/versioning-release-management/adrs/ADR-PLAT-002-github-api-rate-limit-handling.md
  docs/design/versioning-release-management/adrs/ADR-PLAT-003-branch-protection-workflow.md
  docs/design/versioning-release-management/cicd-pipeline.md
  docs/design/versioning-release-management/deployment-strategy.md
  docs/design/versioning-release-management/observability.md
  docs/features/versioning-release-management/architecture.md
Due: none

feat: new agent Apex
  docs/agents/infrastructure-architect-proposal.md
  docs/research/platform-engineering-curriculum.md
  nWave/agents/platform-architect-reviewer.md
  nWave/agents/platform-architect.md
  nWave/checklists/platform-design-checklist.md
  nWave/checklists/platform-design-review-checklist.md
  nWave/data/methodologies/platform-engineering-principles.md
  nWave/templates/platform-design-interactive.yaml
  nWave/templates/platform-review-checklist.yaml
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(us005-03-01): Format recovery suggestions with WHY + HOW + Actionable structure
  .des/audit/audit-2026-01-27.log
  docs/evolution/recovery-suggestion-formatting-evolution.md
  docs/feature/recovery-suggestion-formatting/baseline.yaml
  docs/feature/recovery-suggestion-formatting/roadmap.yaml
  docs/feature/recovery-suggestion-formatting/steps/03-01.json
  docs/feature/recovery-suggestion-formatting/steps/03-02.json
  docs/feature/recovery-suggestion-formatting/steps/03-03.json
  docs/feature/recovery-suggestion-formatting/steps/03-04.json
  docs/feature/recovery-suggestion-formatting/steps/03-05.json
  scripts/install/install_nwave.py
  src/des/application/recovery_guidance_handler.py
  tests/acceptance/test_us005_failure_recovery.py
  tests/unit/des/test_recovery_guidance_handler.py
  tests/unit/test_suggestion_formatter.py
Due: conflict-detection, formatter-availability, yaml-validation

fix(agents): Add STEP 1.7 subagent execution mode to prevent confirmation loops
  nWave/agents/acceptance-designer-reviewer.md
  nWave/agents/acceptance-designer.md
  nWave/agents/agent-builder-reviewer.md
  nWave/agents/agent-builder.md
  nWave/agents/data-engineer-reviewer.md
  nWave/agents/data-engineer.md
  nWave/agents/devop-reviewer.md
  nWave/agents/devop.md
  nWave/agents/illustrator-reviewer.md
  nWave/agents/illustrator.md
  nWave/agents/product-discoverer-reviewer.md
  nWave/agents/product-discoverer.md
  nWave/agents/product-owner-reviewer.md
  nWave/agents/product-owner.md
  nWave/agents/software-crafter-reviewer.md
  nWave/agents/software-crafter.md
  nWave/agents/solution-architect-reviewer.md
  nWave/agents/solution-architect.md
  nWave/agents/troubleshooter-reviewer.md
  nWave/agents/troubleshooter.md
  nWave/agents/visual-architect-reviewer.md
  nWave/agents/visual-architect.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  nWave/templates/AGENT_TEMPLATE.yaml
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(us005-03-02): Include transcript path in crash recovery suggestions
  docs/feature/recovery-suggestion-formatting/steps/03-02.json
  src/des/application/recovery_guidance_handler.py
  tests/acceptance/test_us005_failure_recovery.py
  tests/unit/des/test_recovery_guidance_handler.py
Due: formatter-availability

docs(us005-03-02): Update step file - mark all 8 TDD phases EXECUTED
  docs/feature/recovery-suggestion-formatting/steps/03-02.json
Due: none

feat(us005-03-03): Integrate recovery suggestions with validation error messages
  docs/feature/recovery-suggestion-formatting/steps/03-03.json
  src/des/application/validator.py
  tests/acceptance/test_us005_failure_recovery.py
  tests/unit/des/test_validation_error_formatting.py
Due: formatter-availability

test(us005-03-03): Update step file with complete 8-phase TDD execution log
  docs/feature/recovery-suggestion-formatting/steps/03-03.json
Due: none

feat(us005-03-04): Polish recovery suggestions with junior-dev friendly language
  .des/audit/audit-2026-01-28.log
  docs/feature/recovery-suggestion-formatting/steps/03-04.json
  src/des/application/recovery_guidance_handler.py
  tests/acceptance/test_us005_failure_recovery.py
Due: formatter-availability

feat(us005-03-05): PHASE PREPARE - Identified active E2E test scenario 1 (crash recovery)
  docs/feature/recovery-suggestion-formatting/steps/03-05.json
Due: none

feat(us005-03-05): PHASES RED_UNIT, GREEN, REVIEW - Unit tests complete, 91% coverage, 41 tests passing
  docs/feature/recovery-suggestion-formatting/steps/03-05.json
Due: none

feat(us005-03-05): All 8 TDD phases COMPLETE - Comprehensive test suite, 91% coverage, junior-dev ready
  docs/feature/recovery-suggestion-formatting/steps/03-05.json
Due: none

docs(recovery-suggestion-formatting): Phase 3 evolution document - DEVELOP wave complete
  docs/evolution/recovery-suggestion-formatting-evolution.md
Due: none

docs(recovery-suggestion-formatting): Finalize US005 Phase 3 - Archive evolution document
  docs/evolution/2026-01-29-recovery-suggestion-formatting.md
Due: none

chore(recovery-suggestion-formatting): Clean up workflow artifacts after finalization
  docs/evolution/recovery-suggestion-formatting-evolution.md
  docs/feature/recovery-suggestion-formatting/roadmap.yaml
  docs/feature/recovery-suggestion-formatting/steps/03-01.json
  docs/feature/recovery-suggestion-formatting/steps/03-02.json
  docs/feature/recovery-suggestion-formatting/steps/03-03.json
  docs/feature/recovery-suggestion-formatting/steps/03-04.json
  docs/feature/recovery-suggestion-formatting/steps/03-05.json
Due: yaml-validation

docs(us003-roadmap): Peer review - REJECTED pending effort estimation fixes
  docs/feature/turn-discipline/roadmap.yaml
Due: yaml-validation

feat(schema): Add turn_count field to phase_execution_log - Infrastructure step 01-01
  .des/audit/audit-2026-01-28.log
  docs/feature/turn-discipline/baseline.yaml
  docs/feature/turn-discipline/roadmap.yaml
  docs/feature/turn-discipline/steps/01-01.json
  docs/feature/turn-discipline/steps/01-02.json
  docs/feature/turn-discipline/steps/01-03.json
  docs/feature/turn-discipline/steps/01-04.json
  docs/feature/turn-discipline/steps/02-01.json
  docs/feature/turn-discipline/steps/02-02.json
  docs/feature/turn-discipline/steps/02-03.json
  docs/feature/turn-discipline/steps/02-04.json
  docs/feature/turn-discipline/steps/02-05.json
  docs/feature/turn-discipline/steps/02-06.json
  docs/feature/turn-discipline/steps/03-01.json
  docs/feature/turn-discipline/steps/03-02.json
  docs/feature/turn-discipline/steps/04-01.json
  docs/feature/turn-discipline/steps/04-02.json
  docs/feature/turn-discipline/steps/05-01.json
  docs/feature/turn-discipline/steps/05-02.json
  docs/feature/turn-discipline/steps/05-03.json
  docs/feature/turn-discipline/steps/05-04.json
  docs/feature/turn-discipline/steps/06-01.json
  docs/feature/turn-discipline/steps/06-02.json
  docs/feature/turn-discipline/steps/06-03.json
  docs/feature/turn-discipline/steps/06-04.json
  docs/feature/turn-discipline/steps/06-05.json
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  nWave/templates/step-tdd-cycle-schema.json
  tests/unit/test_schema_turn_count.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

feat(turn-counter-01-02): Complete all 14 TDD phases for turn counter implementation
  docs/feature/turn-discipline/steps/01-02.json
Due: none

feat(us005-01-03): Turn count persistence infrastructure - 8-phase TDD complete
  docs/feature/turn-discipline/steps/01-03.json
  src/des/adapters/drivers/hooks/mocked_hook.py
  src/des/adapters/drivers/hooks/real_hook.py
  src/des/application/hooks.py
  src/des/ports/driver_ports/hook_port.py
  tests/unit/test_turn_count_persistence_acceptance.py
  tests/unit/test_turn_count_persistence_unit.py
Due: formatter-availability

test(turn-count-01-04): Complete turn counting unit tests with 100% coverage - All 14 TDD phases executed
  docs/feature/turn-discipline/steps/01-04.json
Due: none

refactor: Replace hardcoded TDD phases with build-time template substitution
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/version.md
  tools/processors/template_processor.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

build: Integrate TemplateProcessor into CommandProcessor build pipeline
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  tools/processors/command_processor.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

refactor: Extend template processor and remove hardcoded phases from all commands
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/execute.md
  nWave/tasks/nw/finalize.md
  nWave/tasks/nw/review.md
  nWave/tasks/nw/roadmap.md
  nWave/tasks/nw/split.md
  nWave/tasks/nw/version.md
  tools/processors/template_processor.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

refactor(split): Ultra-aggressive prose reduction - 30.5% smaller
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/split.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

refactor(execute): Ultra-aggressive prose reduction - 26% smaller
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/execute.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

refactor(develop): Ultra-aggressive prose reduction - 6.3% smaller
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(command-processor): Add strict template validation
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  tools/processors/command_processor.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

test(template): Add validation tests for template resolution
  tests/nwave/test_template_validation.py
Due: formatter-availability

fix(test): Use valid variable names in template validation test
  tests/nwave/test_template_validation.py
Due: formatter-availability

fix(des): Fix validation logic and test failures for US-001, US-002, US-003
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/version.md
  scripts/validation/validate_steps.py
  src/des/application/validator.py
  tests/acceptance/test_us002_template_validation.py
  tests/des/acceptance/test_us002_template_validation.py
  tests/des/adapters/mocked_hook.py
  tests/test_template_integrity.py
  tests/unit/test_validator.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

refactor(tests): Reorganize DES acceptance tests into tests/des/acceptance/
  tests/acceptance/test_us002_template_validation.py
  tests/acceptance/test_us004_audit_trail.py
  tests/acceptance/test_us004_turn_counting.py
  tests/des/acceptance/test_us001_command_filtering.py
  tests/des/acceptance/test_us003_post_execution_validation.py
  tests/des/acceptance/test_us004_e2e_wiring.py
  tests/des/acceptance/test_us004_pre_invocation_limits.py
  tests/des/acceptance/test_us005_failure_recovery.py
  tests/des/acceptance/test_us006_turn_discipline.py
  tests/des/acceptance/test_us006a_turn_counting.py
  tests/des/acceptance/test_us006b_pre_invocation_limits.py
  tests/des/acceptance/test_us006c_e2e_wiring.py
  tests/des/acceptance/test_us007_boundary_rules.py
  tests/des/acceptance/test_us008_stale_detection.py
  tests/des/acceptance/test_us009_learning_feedback.py
Due: formatter-availability

docs(tests): Update tests/acceptance README to reflect DES test relocation
  tests/acceptance/README.md
Due: none
