Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, pytest-validation, conflict-detection, formatter-availability, yaml-validation

nwave-version-bump:
  name: nWave Version Auto-Increment
  entry: python3 scripts/hooks/version_bump.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-validation:
  name: Pytest Test Validation
  entry: python3 scripts/hooks/validate_tests.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

conflict-detection:
  name: Conflict Detection - Related Files
  entry: python3 scripts/hooks/detect_conflicts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

formatter-availability:
  name: Code Formatter Availability Check
  entry: python3 scripts/hooks/check_formatter_available.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

yaml-validation:
  name: YAML File Validation
  entry: python3 scripts/validation/validate_yaml_files.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(modern-cli-installer): add auto-chain build - step 03-08
  src/crafter_ai/installer/cli/forge_install.py
  tests/installer/cli/test_forge_install.py
Due: pytest-validation, formatter-availability

docs(modern-cli-installer): complete phase 03 - journey 2 install local candidate
  docs/features/modern-cli-installer/04-develop/WIP.yaml
  docs/features/modern-cli-installer/04-develop/execution-status.yaml
Due: yaml-validation

feat(modern-cli-installer): add wheel selection prompt - step 03-09
  src/crafter_ai/installer/cli/forge_install.py
  tests/installer/cli/test_forge_install.py
Due: pytest-validation, formatter-availability

feat(modern-cli-installer): step 04-02 - create upgrade detection service
  src/crafter_ai/installer/services/upgrade_detection_service.py
  tests/installer/services/test_upgrade_detection_service.py
Due: pytest-validation, formatter-availability

feat(modern-cli-installer): create PyPI-specific pre-flight checks - step 04-01
  src/crafter_ai/installer/checks/__init__.py
  src/crafter_ai/installer/checks/pypi_checks.py
  tests/installer/checks/test_pypi_checks.py
Due: pytest-validation, formatter-availability

feat(modern-cli-installer): create progress display service - step 04-03
  src/crafter_ai/installer/services/progress_display_service.py
  tests/installer/services/test_progress_display_service.py
Due: pytest-validation, formatter-availability

feat(modern-cli-installer): implement nw setup CLI command - step 04-05
  src/crafter_ai/installer/adapters/__init__.py
  src/crafter_ai/installer/adapters/filesystem_adapter.py
  src/crafter_ai/installer/cli/nw_setup.py
  src/crafter_ai/installer/ports/__init__.py
  src/crafter_ai/installer/ports/filesystem_port.py
  src/crafter_ai/installer/services/__init__.py
  src/crafter_ai/installer/services/setup_service.py
  tests/installer/adapters/test_filesystem_adapter.py
  tests/installer/cli/test_nw_setup.py
  tests/installer/services/test_setup_service.py
Due: pytest-validation, formatter-availability

feat(modern-cli-installer): create welcome and celebration display
  src/crafter_ai/installer/services/celebration_service.py
  tests/installer/services/test_celebration_service.py
Due: pytest-validation, formatter-availability

chore(execution-status): update statistics for completed step 04-05
  docs/features/modern-cli-installer/04-develop/execution-status.yaml
Due: yaml-validation

feat(modern-cli-installer): create nw doctor CLI command - step 04-06
  src/crafter_ai/installer/cli/nw_doctor.py
  tests/installer/cli/test_nw_doctor.py
Due: pytest-validation, formatter-availability

feat(modern-cli-installer): create install-nwave CI mode support
  src/crafter_ai/installer/cli/install_nwave.py
  tests/installer/cli/test_install_nwave.py
Due: pytest-validation, formatter-availability

feat(modern-cli-installer): create nw version command - step 04-07
  src/crafter_ai/installer/cli/nw_version.py
  tests/installer/cli/test_nw_version.py
Due: pytest-validation, formatter-availability

feat(modern-cli-installer): activate E2E walking skeleton - step 04-09
  docs/features/modern-cli-installer/03-distill/e2e-scenarios/conftest.py
  docs/features/modern-cli-installer/03-distill/e2e-scenarios/test_journey_3_pypi.py
  docs/features/modern-cli-installer/04-develop/WIP.yaml
  src/crafter_ai/cli.py
  src/crafter_ai/installer/cli/nw_app.py
Due: yaml-validation

feat(installer): add RollbackService for automatic and manual rollback - step 05-01
  src/crafter_ai/installer/services/rollback_service.py
  tests/installer/services/test_rollback_service.py
Due: pytest-validation, formatter-availability

feat(modern-cli-installer): create nw rollback CLI command - step 05-02
  src/crafter_ai/installer/cli/nw_app.py
  src/crafter_ai/installer/cli/nw_rollback.py
  tests/installer/cli/test_nw_rollback.py
Due: pytest-validation, formatter-availability

feat(installer): add partial file cleanup to rollback service
  docs/features/modern-cli-installer/04-develop/WIP.yaml
  src/crafter_ai/installer/services/rollback_service.py
  tests/installer/services/test_rollback_service.py
Due: pytest-validation, formatter-availability, yaml-validation

feat(installer): add integration checkpoint service
  docs/features/modern-cli-installer/04-develop/WIP.yaml
  src/crafter_ai/installer/services/integration_checkpoint_service.py
  tests/installer/services/test_integration_checkpoint_service.py
Due: pytest-validation, formatter-availability, yaml-validation

docs: update commit_hash in step 05-04 contract file
  docs/features/modern-cli-installer/04-develop/WIP.yaml
Due: yaml-validation

feat(installer): integrate upgrade detection into InstallService - step 05-04
  docs/features/modern-cli-installer/04-develop/WIP.yaml
  src/crafter_ai/installer/services/install_service.py
  tests/installer/services/test_install_service_upgrade.py
Due: pytest-validation, formatter-availability, yaml-validation

docs(develop): complete Phase 05 - Cross-Cutting Concerns
  docs/features/modern-cli-installer/04-develop/execution-status.yaml
Due: yaml-validation

feat(installer): add PreflightFormatValidator for cross-journey consistency
  src/crafter_ai/installer/services/preflight_format_validator.py
  tests/installer/services/test_preflight_format_validator.py
Due: pytest-validation, formatter-availability

feat(modern-cli-installer): implement DoctorFormatValidator service - step 06-02
  src/crafter_ai/installer/services/doctor_format_validator.py
  tests/installer/services/test_doctor_format_validator.py
Due: pytest-validation, formatter-availability

feat(installer): add ArtifactFlowValidator for consistency
  src/crafter_ai/installer/services/artifact_flow_validator.py
  tests/installer/services/test_artifact_flow_validator.py
Due: pytest-validation, formatter-availability

feat(installer): add TestPyPI E2E validation script and tests - step 06-04
  scripts/testpypi_validation.py
  tests/e2e/test_testpypi_validation.py
Due: pytest-validation, conflict-detection, formatter-availability

docs(develop): complete Phase 06 - DEVELOP wave finished
  docs/features/modern-cli-installer/04-develop/WIP.yaml
  docs/features/modern-cli-installer/04-develop/execution-status.yaml
Due: yaml-validation

feat(installer): add TestPyPI CI quality gate service - step 06-05
  .github/workflows/testpypi-publish.yml
  src/crafter_ai/installer/services/quality_gate_service.py
  tests/installer/services/test_quality_gate_service.py
Due: pytest-validation, formatter-availability, yaml-validation

fix(des-hook-enforcement): update scope violation tests for HOOK_SUBAGENT_STOP coexistence
  tests/des/unit/adapters/drivers/hooks/test_audit_logging_integration.py
  tests/des/unit/adapters/drivers/hooks/test_clean_execution_silence.py
Due: pytest-validation, formatter-availability

feat(02-01): create DES configuration infrastructure - step complete
  docs/feature/des-hook-enforcement/execution-status.yaml
  src/des/adapters/driven/config/__init__.py
  src/des/adapters/driven/config/des_config.py
  tests/des/acceptance/conftest.py
  tests/des/acceptance/test_hook_enforcement_steps.py
  tests/des/unit/adapters/driven/config/test_des_config.py
Due: pytest-validation, formatter-availability, yaml-validation

feat(02-02): create Claude Code hook adapter with Single Source of Truth - step complete
  docs/feature/des-hook-enforcement/execution-status.yaml
  src/des/adapters/driven/logging/audit_logger.py
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
  src/des/adapters/drivers/validators/real_validator.py
  src/des/application/tdd_template_loader.py
  src/des/application/validator.py
  tests/des/acceptance/conftest.py
  tests/des/acceptance/test_hook_enforcement_steps.py
  tests/des/acceptance/test_us002_template_validation.py
  tests/des/acceptance/test_us005_failure_recovery.py
  tests/des/acceptance/test_us006_turn_discipline.py
  tests/des/acceptance/test_us007_boundary_rules.py
  tests/des/unit/adapters/drivers/hooks/test_claude_code_hook_adapter.py
  tests/des/unit/adapters/drivers/validators/test_prompt_validator.py
  tests/des/unit/application/test_tdd_template_loader.py
  tests/des/unit/test_validator_schema_versioning.py
  tests/unit/des/test_recovery_guidance_handler.py
  tests/unit/des/test_validation_error_formatting.py
  tests/unit/test_template_validator.py
  tests/unit/test_validator.py
Due: pytest-validation, formatter-availability, yaml-validation

chore: update execution-status.yaml with commit hash 8ad0115 for step 02-02
  docs/feature/des-hook-enforcement/execution-status.yaml
Due: yaml-validation

fix(des-hook-enforcement): clear audit log for test isolation when audit disabled
  tests/des/acceptance/test_hook_enforcement_steps.py
Due: pytest-validation, formatter-availability

feat(03-01): create hook installer with install/uninstall lifecycle - step complete
  docs/feature/des-hook-enforcement/execution-status.yaml
  scripts/install/install_des_hooks.py
  src/des/adapters/drivers/validators/real_validator.py
  tests/conftest.py
  tests/des/unit/install/test_install_des_hooks.py
Due: pytest-validation, conflict-detection, formatter-availability, yaml-validation

chore: update execution-status.yaml with commit hash c962023 for step 03-01
  docs/feature/des-hook-enforcement/execution-status.yaml
Due: yaml-validation

refactor(des): eliminate validator duplication - consolidate to TemplateValidator
  .gitignore
  .nwave-audit.log
  docs/feature/des-hook-enforcement/mutation/cosmic-ray---init--.toml
  docs/feature/des-hook-enforcement/mutation/cosmic-ray-claude-code-hook-adapter.toml
  docs/feature/des-hook-enforcement/mutation/cosmic-ray-des-config.toml
  docs/feature/des-hook-enforcement/mutation/cosmic-ray-install-des-hooks.toml
  docs/feature/des-hook-enforcement/mutation/cosmic-ray-orchestrator.toml
  docs/feature/des-hook-enforcement/mutation/cosmic-ray-real-hook.toml
  docs/feature/des-hook-enforcement/mutation/cosmic-ray-tdd-template-loader.toml
  docs/feature/des-hook-enforcement/mutation/cosmic-ray-validator.toml
  src/des/__init__.py
  src/des/adapters/__init__.py
  src/des/adapters/drivers/__init__.py
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
  src/des/adapters/drivers/validators/__init__.py
  src/des/adapters/drivers/validators/real_validator.py
  src/des/application/orchestrator.py
  src/des/application/validator.py
Due: pytest-validation

feat(mutation): switch to per-feature mutation testing (outside-in TDD)
  docs/feature/des-hook-enforcement/mutation/.gitignore
  docs/feature/des-hook-enforcement/mutation/cosmic-ray---init--.toml
  docs/feature/des-hook-enforcement/mutation/cosmic-ray-claude-code-hook-adapter.toml
  docs/feature/des-hook-enforcement/mutation/cosmic-ray-des-config.toml
  docs/feature/des-hook-enforcement/mutation/cosmic-ray-feature.toml
  docs/feature/des-hook-enforcement/mutation/cosmic-ray-install-des-hooks.toml
  docs/feature/des-hook-enforcement/mutation/cosmic-ray-orchestrator.toml
  docs/feature/des-hook-enforcement/mutation/cosmic-ray-real-hook.toml
  docs/feature/des-hook-enforcement/mutation/cosmic-ray-tdd-template-loader.toml
  docs/feature/des-hook-enforcement/mutation/cosmic-ray-validator.toml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/mutation-test.md
  src/des/application/validator.py
Due: nwave-version-bump, pytest-validation, conflict-detection

feat(mutation): switch to commit-based mutation testing for hexagonal architecture
  README.md
  docs/feature/des-hook-enforcement/mutation/cosmic-ray-feature.toml
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/mutation-test.md
  nWave/tasks/nw/version.md
  src/des/application/validator.py
Due: nwave-version-bump, pytest-validation, conflict-detection, yaml-validation

refactor: remove backward compatibility re-exports
  .nwave-audit.log
  src/des/adapters/driven/__init__.py
  src/des/adapters/driven/validation/__init__.py
  src/des/adapters/driven/validation/scope_validator.py
  src/des/adapters/drivers/hooks/real_hook.py
  src/des/application/boundary_rules_template.py
  src/des/application/orchestrator.py
  src/des/application/prompt_validator.py
  src/des/application/validator.py
  src/des/ports/driver_ports/hook_port.py
  src/des/templates/__init__.py
  src/des/validation/__init__.py
  tests/des/acceptance/conftest.py
  tests/des/acceptance/test_hook_enforcement_steps.py
  tests/des/acceptance/test_us006_turn_discipline.py
  tests/des/acceptance/test_us007_boundary_rules.py
  tests/des/unit/adapters/drivers/hooks/test_audit_logging_integration.py
  tests/des/unit/adapters/drivers/hooks/test_clean_execution_silence.py
  tests/des/unit/adapters/drivers/hooks/test_scope_validation_integration.py
  tests/des/unit/adapters/drivers/validators/test_prompt_validator.py
  tests/des/unit/test_boundary_rules_template.py
  tests/des/unit/test_scope_validator.py
  tests/installer/cli/test_nw_version.py
Due: pytest-validation, formatter-availability

refactor(audit): consolidate nWave audit into DES audit logger
  scripts/hooks/nwave-bypass-detector.py
Due: conflict-detection, formatter-availability

chore(audit): remove legacy .nwave-audit.log file
  .gitignore
Due: none

chore(finalize): complete des-hook-enforcement feature with evolution document
  docs/evolution/20260203_134125_des-hook-enforcement.md
  docs/feature/des-hook-enforcement/archive/distill/README.md
  docs/feature/des-hook-enforcement/archive/distill/test-scenarios.md
  docs/feature/des-hook-enforcement/archive/execution-status.yaml
  docs/feature/des-hook-enforcement/archive/mutation/.gitignore
  docs/feature/des-hook-enforcement/archive/mutation/cosmic-ray-adapter-full.toml
  docs/feature/des-hook-enforcement/archive/mutation/cosmic-ray-adapter.toml
  docs/feature/des-hook-enforcement/archive/mutation/cosmic-ray-feature.toml
  docs/feature/des-hook-enforcement/archive/mutation/mutation-report.md
  docs/feature/des-hook-enforcement/archive/roadmap.yaml
Due: yaml-validation

Path conditions:
  nwave-version-bump: any of: ^(nWave/|tools/), but not: version\.md$
  pytest-validation: any of: ^(tests/|src/des/).*\.py$
  conflict-detection: any of: ^(nWave/|scripts/|tools/)
  formatter-availability: any of: ^(scripts/|tools/|tests/).*\.py$, but not: \.json$
  yaml-validation: any of: \.(yaml|yml)$
