Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, pytest-validation, conflict-detection, formatter-availability, yaml-validation

.pre-commit-config.yaml:

# Pre-commit hooks configuration for nWave Framework
# Install: pip install pre-commit && pre-commit install
# Manual run: pre-commit run --all-files
# Testing Framework: 5-Layer (Unit, Integration, Adversarial, Peer Review, Mutation Testing)

repos:
  # Local hooks for nWave framework
  - repo: local
    hooks:
      # Phase 0: Prevent shell scripts (cross-platform policy)
      - id: prevent-shell-scripts
        name: Prevent Shell/PowerShell/Batch Scripts
        entry: python3 scripts/hooks/prevent_shell_scripts.py
        language: system
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

      # Phase 0: Auto-increment version when nWave files are modified
      - id: nwave-version-bump
        name: nWave Version Auto-Increment
        entry: python3 scripts/hooks/version_bump.py
        language: system
        files: ^(nWave/|tools/)
        exclude: version\.md$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 1: Run pytest test suite (pre-commit to block failing tests)
      - id: pytest-validation
        name: Pytest Test Validation
        entry: python3 scripts/hooks/validate_tests.py
        language: system
        pass_filenames: false
        stages: [pre-commit]
        files: ^(tests/|src/des/).*\.py$

      # Phase 2: Documentation version validation
      - id: docs-version-validation
        name: Documentation Version Validation
        entry: python3 scripts/hooks/validate_docs.py
        language: system
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

      # Phase 3: Documentation freshness check (enforced at push, not commit)
      - id: docs-freshness-check
        name: Documentation Freshness Check
        entry: python3 scripts/hooks/check_documentation_freshness.py
        language: system
        pass_filenames: false
        stages: [pre-push]
        always_run: true

      # Phase 4: Conflict detection between related files
      - id: conflict-detection
        name: Conflict Detection - Related Files
        entry: python3 scripts/hooks/detect_conflicts.py
        language: system
        files: ^(nWave/|scripts/|tools/)
        pass_filenames: false
        stages: [pre-commit]

      # Phase 4: Code formatter availability check
      - id: formatter-availability
        name: Code Formatter Availability Check
        entry: python3 scripts/hooks/check_formatter_available.py
        language: system
        files: ^(scripts/|tools/|tests/).*\.py$
        exclude: \.json$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 5: YAML validation (mirrors CI/CD validation)
      - id: yaml-validation
        name: YAML File Validation
        entry: python3 scripts/validation/validate_yaml_files.py
        language: system
        files: \.(yaml|yml)$
        pass_filenames: false
        stages: [pre-commit]

  # Standard hooks from pre-commit repository
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(dist/|\.git/)
      - id: end-of-file-fixer
        exclude: ^(dist/|\.git/)
      - id: check-yaml
        exclude: ^(dist/|\.git/)
      - id: check-json
        exclude: ^(dist/|\.git/)
      - id: check-merge-conflict
      - id: detect-private-key

  # Python linting and formatting with Ruff (replaces black, flake8, isort)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [--fix]
        files: ^(scripts/|tools/|tests/).*\.py$
        exclude: \.json$
        stages: [pre-commit]
      - id: ruff-format
        files: ^(scripts/|tools/|tests/).*\.py$
        exclude: \.json$
        stages: [pre-commit]

# Configuration
default_stages: [pre-commit]
fail_fast: false

feat(forge-tui): implement Phase 08 error handling for all failure scenarios
  docs/features/modern-cli-installer/04-develop/phase-08-error-handling-plan.md
  src/crafter_ai/installer/cli/forge_build.py
  src/crafter_ai/installer/cli/forge_install.py
  src/crafter_ai/installer/cli/forge_tui.py
  tests/acceptance/forge_tui/test_error_scenarios.py
Due: pytest-validation, formatter-availability

fix(tests): handle stderr not separately captured in CleanCliRunner
  tests/cli/conftest.py
Due: pytest-validation, formatter-availability

fix(installer): add contract tests and error-specific fix messages
  src/crafter_ai/installer/cli/forge_install.py
  src/crafter_ai/installer/domain/ide_bundle_constants.py
  src/crafter_ai/installer/services/deployment_validation_service.py
  tests/acceptance/forge_tui/test_error_scenarios.py
  tests/installer/integration/test_nwave_source_contract.py
Due: pytest-validation, formatter-availability

feat(phase-08): implement comprehensive error handling for forge TUI
  tests/bugs/installer/manifest_circular_dependency/acceptance/test_manifest_circular_dependency.py
Due: pytest-validation, formatter-availability

feat(installer): replace header and preflight with Luna TUI format
  scripts/install/install_nwave.py
Due: conflict-detection, formatter-availability

feat(installer): replace check_source output with TUI emoji format
  scripts/install/install_nwave.py
Due: conflict-detection, formatter-availability

feat(installer): replace build_framework TUI and parameterize spinner
  scripts/install/install_nwave.py
  scripts/install/rich_console.py
Due: conflict-detection, formatter-availability

refactor(installer): remove dead .sh build path from build_framework
  scripts/install/install_nwave.py
Due: conflict-detection, formatter-availability

style(installer): unify spinner messages to generic work in progress
  scripts/install/install_nwave.py
Due: conflict-detection, formatter-availability

refactor(installer): logger console outputs raw TUI format, convert prints to logger
  scripts/install/install_nwave.py
  scripts/install/install_utils.py
Due: conflict-detection, formatter-availability

style(installer): replace plugin messages with TUI emoji format
  scripts/install/plugins/agents_plugin.py
  scripts/install/plugins/commands_plugin.py
  scripts/install/plugins/templates_plugin.py
  scripts/install/plugins/utilities_plugin.py
Due: conflict-detection, formatter-availability

refactor(installer): merge dual loggers into unified Logger with Rich support
  docs/features/modern-cli-installer/04-develop/WIP.yaml
  scripts/install/install_nwave.py
  scripts/install/install_utils.py
  scripts/install/plugins/registry.py
  scripts/install/rich_console.py
  tests/install/test_install_framework_plugin_integration.py
Due: pytest-validation, conflict-detection, formatter-availability, yaml-validation

style(installer): add 🚨 emoji to all DRY RUN tags and TUI format DES + utilities plugins
  scripts/install/install_nwave.py
  scripts/install/install_utils.py
  scripts/install/plugins/des_plugin.py
  scripts/install/plugins/utilities_plugin.py
  scripts/install/uninstall_nwave.py
  scripts/install/update_nwave.py
Due: conflict-detection, formatter-availability

refactor(installer): replace count-based validation with source-vs-target file comparison
  scripts/install/install_nwave.py
Due: conflict-detection, formatter-availability

style(installer): tui validation, quick start panel, rebrand URLs to nWave-ai/nWave
  docs/RELEASING.md
  docs/analysis/ci-cd-workflow-failure-rca.md
  docs/features/installation-environment-detection/design/integration-plan.md
  docs/installation/installation-guide.md
  docs/troubleshooting/troubleshooting-guide.md
  docs/ux/modern-cli-installer/actual/install.visual.stdout
  scripts/install/README.md
  scripts/install/install_nwave.py
  scripts/install/install_utils.py
  tools/create_release_packages.py
Due: nwave-version-bump, conflict-detection, formatter-availability

style(installer): tui emoji format for installer, registry, and all plugins
  scripts/install/install_nwave.py
  scripts/install/plugins/agents_plugin.py
  scripts/install/plugins/commands_plugin.py
  scripts/install/plugins/registry.py
  scripts/install/plugins/templates_plugin.py
  scripts/install/plugins/utilities_plugin.py
Due: conflict-detection, formatter-availability

style(uninstaller): unified Logger TUI emoji format
  scripts/install/uninstall_nwave.py
Due: conflict-detection, formatter-availability

style(install-utils): tui emoji for confirm_action cancel
  scripts/install/install_utils.py
Due: conflict-detection, formatter-availability

style(verifier): tui emoji format, kill ansi constants
  scripts/install/update_nwave.py
  scripts/install/verify_nwave.py
Due: conflict-detection, formatter-availability

style(verifier): add shared logo to terminal output
  scripts/install/verify_nwave.py
Due: conflict-detection, formatter-availability

test(installer): walking skeleton acceptance tests for install/uninstall TUI
  tests/acceptance/installer/__init__.py
  tests/acceptance/installer/conftest.py
  tests/acceptance/installer/test_walking_skeleton.py
  tests/acceptance/uninstaller/__init__.py
  tests/acceptance/uninstaller/conftest.py
  tests/acceptance/uninstaller/test_walking_skeleton.py
Due: pytest-validation, formatter-availability

fix(tests): align stale test data with current DES implementation
  tests/nwave/plugin-architecture/unit/test_des_plugin.py
  tests/unit/test_template_validator.py
Due: pytest-validation, formatter-availability

style(des-plugin): tui emoji format for __pycache__ cleanup message
  scripts/install/plugins/des_plugin.py
Due: conflict-detection, formatter-availability

fix(des): add config file support for audit log directory resolution
  src/des/adapters/driven/logging/jsonl_audit_log_writer.py
Due: pytest-validation

fix(tests): align bug-1 hook tests with current plugin interface
  tests/bugs/plugins/des/installation/acceptance/steps/conftest.py
  tests/bugs/plugins/des/installation/acceptance/steps/helpers.py
  tests/bugs/plugins/des/installation/acceptance/steps/hook_steps.py
Due: pytest-validation, formatter-availability

ci: ignore gitlint T5 rule (WIP in title)
  .gitlint
Due: none

ci: fix test environment dependency and coverage config
  .github/workflows/ci-cd.yml
  pyproject.toml
  tests/unit/test_installation_verifier.py
Due: pytest-validation, formatter-availability, yaml-validation

fix(des-plugin): cross-platform path escaping in verify method
  scripts/install/plugins/des_plugin.py
Due: conflict-detection, formatter-availability

fix(tests): cross-platform compatibility for Windows CI
  tests/des/acceptance/conftest.py
  tests/des/acceptance/test_us003_post_execution_validation.py
  tests/des/acceptance/test_us009_dual_layer_enforcement.py
  tests/des/unit/adapters/driven/config/test_des_config.py
  tests/des/unit/install/test_install_des_hooks.py
  tests/nwave/plugin-architecture/integration/test_des_import_validation.py
Due: pytest-validation, formatter-availability

fix(ci): testpypi publish and windows timeout issues
  .github/workflows/testpypi-publish.yml
  pyproject.toml
  tests/e2e/test_testpypi_validation.py
Due: pytest-validation, formatter-availability, yaml-validation

ci: disable testpypi workflow pending distribution strategy rethink
  .github/workflows/testpypi-publish.yml
Due: yaml-validation

ci: remove obsolete version-sync-check workflow
  .github/workflows/version-sync-check.yml
Due: yaml-validation

ci: remove testpypi and wip release workflows
  .github/workflows/release.yml.wip
  .github/workflows/testpypi-publish.yml
Due: yaml-validation

ci: semantic release changelog from conventional commits
  .github/workflows/DELIVERABLES.md
  .github/workflows/MIGRATION.md
  .github/workflows/README.md
  .github/workflows/archive/ci.yml
  .github/workflows/archive/release.yml
  .github/workflows/ci-cd.yml
Due: yaml-validation

style(ci): add emojis to all job and step names for readable GitHub Actions UI
  .github/workflows/ci-cd.yml
Due: yaml-validation

feat(ci): python-semantic-release single source of truth for versioning
  .github/workflows/README.md
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  pyproject.toml
  scripts/hooks/version_bump.py
  scripts/install/install_nwave.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

fix(ci): prevent shell injection in Slack commit message truncation
  .github/workflows/ci-cd.yml
Due: yaml-validation
