Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation, shell-syntax-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for AI-Craft nWave Framework
# Install: pip install pre-commit && pre-commit install
# Manual run: pre-commit run --all-files

repos:
  # Local hooks for nWave framework
  - repo: local
    hooks:
      # Phase 0: Auto-increment version when nWave files are modified
      - id: nwave-version-bump
        name: nWave Version Auto-Increment
        entry: python3 scripts/hooks/version_bump.py
        language: system
        files: ^(nWave/|tools/)
        exclude: version\.md$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 1: Run pytest test suite
      - id: pytest-validation
        name: Pytest Test Validation
        entry: python3 scripts/hooks/validate_tests.py
        language: system
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

      # Phase 2: Documentation version validation
      - id: docs-version-validation
        name: Documentation Version Validation
        entry: python3 scripts/hooks/validate_docs.py
        language: system
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

      # Phase 4: Conflict detection between related files
      - id: conflict-detection
        name: Conflict Detection - Related Files
        entry: python3 scripts/hooks/detect_conflicts.py
        language: system
        files: ^(nWave/|scripts/|tools/)
        pass_filenames: false
        stages: [pre-commit]

      # Phase 4: Code formatter availability check
      - id: formatter-availability
        name: Code Formatter Availability Check
        entry: python3 scripts/hooks/check_formatter_available.py
        language: system
        files: ^(scripts/|tools/|tests/).*\.py$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 5: YAML validation (mirrors CI/CD validation)
      - id: yaml-validation
        name: YAML File Validation
        entry: python3 scripts/validation/validate_yaml_files.py
        language: system
        files: \.(yaml|yml)$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 6: Shell script syntax validation (bash -n)
      # Note: Only for acceptance test scripts in tests/acceptance/
      - id: shell-syntax-check
        name: Shell Script Syntax Check
        entry: bash -n
        language: system
        files: ^tests/acceptance/.*\.sh$
        stages: [pre-commit]

  # Shellcheck linting (optional - non-blocking if not installed)
  # Note: Only for acceptance test scripts in tests/acceptance/
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-x]
        files: ^tests/acceptance/.*\.sh$
        stages: [pre-commit]

  # Standard hooks from pre-commit repository
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(dist/|\.git/)
      - id: end-of-file-fixer
        exclude: ^(dist/|\.git/)
      - id: check-yaml
        exclude: ^(dist/|\.git/)
      - id: check-json
        exclude: ^(dist/|\.git/)
      - id: check-merge-conflict
      - id: detect-private-key

  # Python linting and formatting with Ruff (replaces black, flake8, isort)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^(scripts/|tools/|tests/).*\.py$
      - id: ruff-format
        files: ^(scripts/|tools/|tests/).*\.py$

# Configuration
default_stages: [pre-commit]
fail_fast: false

fix(ci): handle git history rewrites in commit validation
  .github/workflows/ci-cd.yml
Due: yaml-validation

test(des-us007): kill 8 surviving mutants in ScopeValidator tests
  tests/des/unit/test_scope_validator.py
Due: formatter-availability

chore(des-us007): Archive workflow files and clean mutation artifacts
  docs/archive/des-us007-boundary-rules/baseline.yaml
  docs/archive/des-us007-boundary-rules/execution-status.yaml
  docs/archive/des-us007-boundary-rules/roadmap.yaml
  docs/feature/des-us007-boundary-rules/mutation/cosmic-ray-generator.toml
  docs/feature/des-us007-boundary-rules/mutation/cosmic-ray-template.toml
  docs/feature/des-us007-boundary-rules/mutation/cosmic-ray-validator.toml
  docs/feature/des-us007-boundary-rules/mutation/mutation-report.md
Due: yaml-validation

feat(agents): add Luna (leanux-designer) and Eclipse (reviewer) UX team
  docs/design/leanux-agent-design-review.md
  docs/research/leanux-product-designer-research.md
  nWave/agents/leanux-designer-reviewer.md
  nWave/agents/leanux-designer.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/journey.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

fix(luna): add journey-sketch template and simplify dependencies
  nWave/agents/leanux-designer.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  nWave/templates/journey-sketch.yaml
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(hooks): add subject case validation to commit-msg hook
  scripts/hooks/commit_msg.py
Due: conflict-detection, formatter-availability

feat(refactoring): embed L1-L3 test refactoring guidance in software-crafter agent
  nWave/agents/software-crafter.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/refactor.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

docs(refactoring): add comprehensive test refactoring documentation (Phases 1-5)
  nWave/agents/software-crafter-reviewer.md
  nWave/agents/software-crafter.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/data/embed/software-crafter/refactoring-patterns-catalog.md
  nWave/data/embed/software-crafter/test-refactoring-guide.md
  nWave/data/methodologies/systematic-refactoring-guide.md
  nWave/data/methodologies/test-refactoring-guide.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(01-01): green - stale execution value object implementation
  docs/feature/des-us008-stale-detection/execution-status.yaml
  docs/feature/des-us008-stale-detection/roadmap.yaml
  src/des/domain/stale_execution.py
  tests/des/acceptance/test_us008_stale_detection.py
  tests/des/unit/test_stale_execution.py
Due: formatter-availability, yaml-validation

chore(01-01): review phase approved
  docs/feature/des-us008-stale-detection/execution-status.yaml
Due: yaml-validation

refactor(01-01): continuous and l4 phases completed
  docs/feature/des-us008-stale-detection/execution-status.yaml
Due: yaml-validation

chore(01-01): complete commit phase with files tracking
  docs/feature/des-us008-stale-detection/execution-status.yaml
Due: yaml-validation

feat(01-02): green - staleDetectionResult entity implemented
  docs/feature/des-us008-stale-detection/execution-status.yaml
  src/des/domain/stale_detection_result.py
  tests/des/acceptance/test_us008_stale_detection.py
  tests/des/unit/test_stale_detection_result.py
Due: formatter-availability, yaml-validation

chore(01-02): inline quality review approved
  docs/feature/des-us008-stale-detection/execution-status.yaml
Due: yaml-validation

refactor(01-02): continuous and L4 refactoring skipped (not applicable)
  docs/feature/des-us008-stale-detection/execution-status.yaml
Due: yaml-validation

feat(01-02): create staleDetectionResult entity
  docs/feature/des-us008-stale-detection/execution-status.yaml
Due: yaml-validation

chore(01-02): complete step execution status
  docs/feature/des-us008-stale-detection/execution-status.yaml
Due: yaml-validation

feat(02-01): create StaleExecutionDetector service with threshold configuration
  docs/feature/des-us008-stale-detection/execution-status.yaml
  src/des/application/stale_execution_detector.py
  tests/des/acceptance/test_us008_stale_detection.py
  tests/des/unit/test_stale_execution_detector.py
Due: formatter-availability, yaml-validation

chore(02-01): update execution status with step completion
  docs/feature/des-us008-stale-detection/execution-status.yaml
Due: yaml-validation

feat(02-02): implement threshold logic and age calculation
  docs/feature/des-us008-stale-detection/execution-status.yaml
  src/des/application/stale_execution_detector.py
  tests/des/acceptance/test_us008_stale_detection.py
  tests/des/unit/test_stale_execution_detector.py
Due: formatter-availability, yaml-validation

docs(02-02): update execution status with step completion
  docs/feature/des-us008-stale-detection/execution-status.yaml
Due: yaml-validation

feat(des-us008): support custom threshold via environment variable (step 02-03)
  docs/feature/des-us008-stale-detection/execution-status.yaml
  src/des/application/stale_execution_detector.py
  tests/des/acceptance/test_us008_stale_detection.py
  tests/des/unit/test_stale_execution_detector.py
Due: formatter-availability, yaml-validation

test(des-us008): enable scenario 010 - multiple stale executions verified
  docs/feature/des-us008-stale-detection/execution-status.yaml
  tests/des/acceptance/test_us008_stale_detection.py
Due: formatter-availability, yaml-validation

feat(des-us008): create StaleResolver service to mark steps ABANDONED
  docs/feature/des-us008-stale-detection/execution-status.yaml
  src/des/application/stale_resolver.py
  tests/des/acceptance/test_us008_stale_detection.py
  tests/des/unit/test_stale_resolver.py
Due: formatter-availability, yaml-validation

test(des-us008): enable scenario 006 - verify ABANDONED phases not flagged as stale
  tests/des/acceptance/test_us008_stale_detection.py
Due: formatter-availability

feat(des-us008): add pre-execution stale check to orchestrator - step 04-01
  docs/feature/des-us008-stale-detection/execution-status.yaml
  src/des/application/orchestrator.py
  src/des/domain/stale_execution.py
  tests/des/acceptance/test_us008_stale_detection.py
  tests/des/unit/application/test_orchestrator_stale_check.py
Due: formatter-availability, yaml-validation

test(des-us008): enable acceptance test for clean path verification (step 04-02)
  docs/feature/des-us008-stale-detection/execution-status.yaml
  tests/des/acceptance/test_us008_stale_detection.py
Due: formatter-availability, yaml-validation

docs(des-us008): complete step 04-02 execution tracking
  docs/feature/des-us008-stale-detection/execution-status.yaml
Due: yaml-validation

feat(des-us008): add metadata properties to document zero external dependencies
  docs/feature/des-us008-stale-detection/execution-status.yaml
  src/des/application/stale_execution_detector.py
  tests/des/acceptance/test_us008_stale_detection.py
  tests/des/unit/test_stale_execution_detector.py
Due: formatter-availability, yaml-validation

test(des-us008): verify no persistent daemon after stale check completes
  docs/feature/des-us008-stale-detection/execution-status.yaml
  tests/des/acceptance/test_us008_stale_detection.py
Due: formatter-availability, yaml-validation

feat(des-us008): handle corrupted step files gracefully with warnings
  docs/feature/des-us008-stale-detection/execution-status.yaml
  src/des/application/stale_execution_detector.py
  src/des/domain/stale_detection_result.py
  tests/des/acceptance/test_us008_stale_detection.py
  tests/des/unit/test_stale_execution_detector.py
Due: formatter-availability, yaml-validation

docs(des-us008): complete DEVELOP wave with evolution document
  docs/evolution/2026-01-31-des-us008-stale-detection.md
  docs/feature/des-us008-stale-detection/mutation/mutation-report.md
Due: none

chore: remove workflow artifacts after finalization
  docs/feature/des-us007-boundary-rules/baseline.yaml
  docs/feature/des-us007-boundary-rules/execution-status.yaml
  docs/feature/des-us007-boundary-rules/roadmap.yaml
  docs/feature/des-us008-stale-detection/execution-status.yaml
  docs/feature/des-us008-stale-detection/mutation/mutation-report.md
  docs/feature/des-us008-stale-detection/roadmap.yaml
  setup.cfg
  src/des/adapters/driven/logging/audit_logger.py
Due: yaml-validation

feat(nwave): workflow improvements from US-008 retrospective (schema v3.0)
  nWave/agents/software-crafter-reviewer.md
  nWave/agents/software-crafter.md
  nWave/constants/tdd_phases.py
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/data/anti-patterns/roadmap-prioritization.md
  nWave/data/embed/software-crafter/refactoring-patterns-catalog.md
  nWave/data/embed/software-crafter/test-refactoring-guide.md
  nWave/data/methodologies/test-refactoring-guide.md
  nWave/framework-catalog.yaml
  nWave/hooks/pre_commit_tdd_phases.py
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/execute.md
  nWave/tasks/nw/finalize.md
  nWave/tasks/nw/mutation-test.md
  nWave/tasks/nw/review.md
  nWave/tasks/nw/roadmap.md
  nWave/tasks/nw/root-why.md
  nWave/tasks/nw/version.md
  nWave/templates/execution-status-template.yaml
  nWave/templates/step-tdd-cycle-schema.json
Due: nwave-version-bump, conflict-detection, yaml-validation

fix(install): accept schema v3.0 (7 phases) in validator
  scripts/install/install_nwave.py
Due: conflict-detection, formatter-availability

refactor(level-2): extract timeout warning formatting to shared helper
  Pipfile
  src/des/adapters/driven/logging/audit_logger.py
  src/des/adapters/driven/task_invocation/claude_code_task_adapter.py
  src/des/application/orchestrator.py
  tests/des/acceptance/test_us008_stale_detection.py
  tests/des/unit/application/test_orchestrator_stale_check.py
  tests/des/unit/conftest.py
  tests/des/unit/test_stale_execution_detector.py
  tests/unit/test_turn_count_persistence_acceptance.py
Due: formatter-availability

fix(quality-gates): enforce pre-commit testing and fix audit logger bugs
  .pre-commit-config.yaml
  docs/QUALITY_GATE_GAPS_ANALYSIS.md
  src/des/adapters/driven/logging/audit_logger.py
Due: yaml-validation

refactor(level-3): add method grouping comments to orchestrator
  src/des/application/orchestrator.py
Due: none

docs(level-4): document audit logger singleton as technical debt
  src/des/adapters/driven/logging/audit_logger.py
Due: none

docs: add comprehensive progressive refactoring summary (L1-L4)
  docs/refactoring/2026-01-31-progressive-refactoring-summary.md
Due: none
