Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, conflict-detection, formatter-availability

.pre-commit-config.yaml:

# Pre-commit hooks configuration for AI-Craft nWave Framework
# Install: pip install pre-commit && pre-commit install
# Manual run: pre-commit run --all-files

repos:
  # Local hooks for nWave framework
  - repo: local
    hooks:
      # Phase 0: Auto-increment version when nWave files are modified
      - id: nwave-version-bump
        name: nWave Version Auto-Increment
        entry: scripts/hooks/version-bump.sh
        language: script
        files: ^(nWave/|tools/)
        exclude: version\.md$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 1: Run pytest test suite
      - id: pytest-validation
        name: Pytest Test Validation
        entry: scripts/hooks/validate-tests.sh
        language: script
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

      # Phase 2: Documentation version validation
      - id: docs-version-validation
        name: Documentation Version Validation
        entry: scripts/hooks/validate-docs.sh
        language: script
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

      # Phase 4: Conflict detection between related files
      - id: conflict-detection
        name: Conflict Detection - Related Files
        entry: scripts/hooks/detect-conflicts.sh
        language: script
        files: ^(nWave/|scripts/|tools/)
        pass_filenames: false
        stages: [pre-commit]

      # Phase 4: Code formatter availability check
      - id: formatter-availability
        name: Code Formatter Availability Check
        entry: scripts/hooks/check-formatter-available.sh
        language: script
        files: ^(scripts/|tools/|tests/).*\.py$
        pass_filenames: false
        stages: [pre-commit]

  # Standard hooks from pre-commit repository
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(dist/|\.git/)
      - id: end-of-file-fixer
        exclude: ^(dist/|\.git/)
      - id: check-yaml
        exclude: ^(dist/|\.git/|nWave/templates/)
      - id: check-json
        exclude: ^(dist/|\.git/)
      - id: check-merge-conflict
      - id: detect-private-key

  # Python linting and formatting with Ruff (replaces black, flake8, isort)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^(scripts/|tools/|tests/).*\.py$
      - id: ruff-format
        files: ^(scripts/|tools/|tests/).*\.py$

# Configuration
default_stages: [pre-commit]
fail_fast: false

feat(scripts): complete scripts consolidation - Phases 4-8
  scripts/README.md
  scripts/archive/README.md
  scripts/archive/agent-catalog-conflict-detection.sh
  scripts/archive/execute-adversarial-tests.py
  scripts/archive/run-adversarial-tests.py
  scripts/archive/validate-agent-compliance-v2.py
  scripts/hooks/validate-structure.py
Due: conflict-detection, formatter-availability

refactor: remove legacy BMAD references and rename 5d-wave to nWave
  nWave/agents/software-crafter-reviewer.md
  nWave/agents/software-crafter.md
  nWave/agents/visual-architect-reviewer.md
  nWave/agents/visual-architect.md
  nWave/checklists/atdd-compliance-checklist.md
  nWave/checklists/deliver-wave-checklist.md
  nWave/checklists/nwave-methodology-checklist.md
  nWave/data/methodologies/bmad-kb.md
  nWave/framework-catalog.yaml
  nWave/templates/AGENT_TEMPLATE.yaml
  nWave/templates/nwave-complete-methodology.yaml
  scripts/framework/release_packager.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(install): convert shell scripts to Python for cross-platform support
  scripts/README.md
  scripts/install/README.md
  scripts/install/enhanced-backup-system.sh
  scripts/install/enhanced_backup_system.py
  scripts/install/install-ai-craft.sh
  scripts/install/install_ai_craft.py
  scripts/install/install_utils.py
  scripts/install/uninstall-ai-craft.sh
  scripts/install/uninstall_ai_craft.py
  scripts/install/update-ai-craft.sh
  scripts/install/update_ai_craft.py
  tests/test_template_integrity.py
Due: conflict-detection, formatter-availability

chore: clean up root directory and archive completed plans
  .gitignore
  docs/plans/archive/DOCS_CONSOLIDATION_PLAN.md
  docs/plans/archive/NAMING_CLEANUP_PLAN.md
  docs/plans/archive/SCRIPTS_CONSOLIDATION_PLAN.md
Due: none

chore: stop tracking build.log file
  tools/build.log
Due: nwave-version-bump, conflict-detection

feat(docs): add comprehensive documentation versioning system
  .dependency-map.yaml
  README.md
  nWave/README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/hooks/README.md
  nWave/tasks/nw/version.md
  scripts/README.md
  scripts/add-doc-version-tags.py
  scripts/archive/README.md
  scripts/install/README.md
  tools/README.md
Due: nwave-version-bump, conflict-detection, formatter-availability

refactor(scripts): reorganize scripts for cross-platform consistency
  README.md
  scripts/archive/remove-task-frontmatter.py
  scripts/archive/rename-framework.py
  scripts/archive/validate-rename.sh
  scripts/build-ide-bundle.sh
  scripts/framework/create-reviewer-agents.py
  scripts/hooks/validate-docs.sh
  scripts/validate-agent-compliance.sh
  scripts/validation/add-doc-version-tags.py
  scripts/validation/validate-documentation-versions.py
  scripts/validation/validate-reviewers.py
Due: conflict-detection, formatter-availability

refactor(tools): reorganize tools directory for clarity
  tools/README.md
  tools/build.py
  tools/core/build_config.yaml.reference
  tools/core/build_ide_bundle.py
  tools/core/embed_sources.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(release): add standalone installer packages for nWave framework
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  tools/create_release_packages.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(ci): add automated GitHub release workflow
  .github/workflows/release.yml
  docs/RELEASING.md
Due: none

fix(tests): update test path after scripts reorganization
  tests/test_validate_documentation_versions.py
Due: formatter-availability

fix(ci): update npm scripts to run Python tests and build
  package.json
Due: none

fix(ci): resolve build failures and yaml structure issues
  README.md
  nWave/agents/agent-builder-reviewer.md
  nWave/agents/agent-builder.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  tools/core/build_ide_bundle.py
Due: nwave-version-bump, conflict-detection, formatter-availability

fix(ci): add Python dependency installation to workflows
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/ci.yml
Due: none

fix(deps): remove pathlib from requirements.txt
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  tools/requirements.txt
Due: nwave-version-bump, conflict-detection

fix(yaml): correct YAML structure in agent-builder compliance checklist
  README.md
  nWave/agents/agent-builder.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection

fix(templates): correct YAML syntax errors in template files
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  nWave/templates/AGENT_TEMPLATE.yaml
  nWave/templates/COMMAND_TEMPLATE.yaml
Due: nwave-version-bump, conflict-detection

feat(ci): add local CI/CD validation environment
  .pre-commit-config.yaml
  docs/development/LOCAL_CI_VALIDATION.md
  scripts/local-ci.sh
  scripts/validation/validate_yaml_files.py
Due: conflict-detection, formatter-availability

refactor(ci): consolidate workflows and achieve 100% local/CI validation parity
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  docs/analysis/INVESTIGATION-SUMMARY.md
  docs/analysis/build-failure-rca.md
  docs/analysis/ci-cd-blockers.md
  docs/analysis/root-cause-analysis.md
  docs/development/CI_CONSOLIDATION_SUMMARY.md
  docs/development/LOCAL_CI_VALIDATION.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  scripts/archive/execute-adversarial-tests.py
  scripts/archive/migrate_step_files.py
  scripts/archive/run-adversarial-tests.py
  scripts/archive/validate-agent-compliance-v2.py
  scripts/framework/release_package.py
  scripts/framework/release_packager.py
  scripts/framework/release_validation.py
  scripts/framework/validate_tdd_phases_ci.py
  scripts/install/enhanced_backup_system.py
  scripts/install/install_utils.py
  scripts/local-ci.sh
  scripts/validation/validate-reviewers.py
  scripts/validation/validate_agents.py
  scripts/validation/validate_commands.py
  tests/test_release_validation.py
  tests/validation/cross_phase_validation.py
  tools/create_release_packages.py
  tools/utils/dependency_resolver.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(ci): add cross-platform Python local CI validation script
  docs/development/LOCAL_CI_VALIDATION.md
  scripts/local_ci.py
Due: conflict-detection, formatter-availability

fix(ci): add missing package-lock.json for npm ci compatibility
  package-lock.json
Due: none

feat(ci): achieve true local/CI validation parity with npm dependency check
  docs/analysis/ci-pipeline-investigation.md
  scripts/local_ci.py
Due: conflict-detection, formatter-availability

refactor(ci): migrate from npm/Node.js to pipenv/Python ecosystem
  .github/workflows/ci.yml
  Pipfile
  Pipfile.lock
  docs/development/LOCAL_CI_VALIDATION.md
  package-lock.json
  package.json
  requirements.txt
  scripts/local_ci.py
  tools/requirements.txt
Due: nwave-version-bump, conflict-detection, formatter-availability

fix(ci): resolve Windows build failures
  Pipfile
  Pipfile.lock
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  tools/core/build_ide_bundle.py
Due: nwave-version-bump, conflict-detection, formatter-availability

fix(ci): use direct Python invocation for better Windows diagnostics
  .github/workflows/ci.yml
Due: none

fix(ci): add clean step and UTF-8 encoding for Windows builds
  .github/workflows/ci.yml
Due: none

fix(ci): add clean step and UTF-8 encoding to Windows installer test
  .github/workflows/ci.yml
Due: none

feat(agents): add documentarist agent for DIVIO documentation quality
  README.md
  data/research/divio-system-comprehensive-research.md
  embed/documentarist/divio-agent-specification-guide.md
  embed/documentarist/documentarist-agent-knowledge.md
  nWave/agents/documentarist-reviewer.md
  nWave/agents/documentarist.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection

test: add 26 high-impact tests to improve mutation coverage
  tests/test_validate_documentation_versions.py
Due: formatter-availability

docs: standardize documentation filenames to kebab-case
  DOCUMENTATION_FILENAME_CHANGES.md
  FILENAME_AUDIT_COMPLETE.md
  README.md
  docs/analysis/DOCUMENTATION_FILENAME_AUDIT.md
  docs/analysis/RENAME_MAPPING.md
  docs/guides/ci-cd-integration-guide.md
  docs/guides/invoke-reviewer-agents.md
  docs/guides/layer-4-implementation-summary.md
  docs/guides/validation-checklist.md
  docs/installation/installation-guide.md
  docs/installation/uninstall-guide.md
  docs/troubleshooting/troubleshooting-guide.md
Due: none

fix: address review findings - versions, Layer 5 docs, strings
  .dependency-map.yaml
  README.md
  docs/guides/layer-4-for-cicd.md
  docs/guides/layer-4-for-developers.md
  docs/guides/layer-4-for-users.md
  docs/guides/layer-4-implementation-summary.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  scripts/install/update_ai_craft.py
Due: nwave-version-bump, conflict-detection, formatter-availability

chore: git ignore local cluade settings
  .gitignore
  _tmp/AGENT-ROSTER.md
  _tmp/AGENT_LIST.md
  _tmp/AI Behavioral Engineering, Identity Framing, and Personality Design: A Comprehensive Academic Bibliography.md
  _tmp/MEETUP.md
  _tmp/___CHATGPT_img_masterRule.md
  _tmp/nWave Framework Competitive Analysis_ The Elite So.md
  _tmp/nwave-chatgpt-visual-prompts.md
  _tmp/nwave-genesis-chronicle.md
  _tmp/nwave-presentation-blueprint.md
Due: none

chore: remove tmpo working dir
  .gitignore
Due: none

fix: _tmp removed
  _tmp/AGENT-ROSTER.md
  _tmp/AGENT_LIST.md
  _tmp/AI Behavioral Engineering, Identity Framing, and Personality Design: A Comprehensive Academic Bibliography.md
  _tmp/MEETUP.md
  _tmp/___CHATGPT_img_masterRule.md
  _tmp/nWave Framework Competitive Analysis_ The Elite So.md
  _tmp/nwave-chatgpt-visual-prompts.md
  _tmp/nwave-genesis-chronicle.md
  _tmp/nwave-presentation-blueprint.md
Due: none

feat: add /nw:document command with Layer 4 peer review orchestration
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/document.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection

docs: comprehensive documentation accuracy update (26 issues fixed)
  README.md
  data/research/documentation-accuracy-audit-2026-01-22.md
  docs/DOCUMENTATION_STRUCTURE.md
  docs/RELEASING.md
  docs/guides/jobs-to-be-done-guide.md
  docs/installation/installation-guide.md
  docs/reference/nwave-commands-reference.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  scripts/framework/sync_agent_names.py
  scripts/install/install_nwave.py
  scripts/install/uninstall_nwave.py
  scripts/install/update_nwave.py
Due: nwave-version-bump, conflict-detection, formatter-availability

fix: correct install script name in README quick start
  README.md
Due: none
