Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, pytest-validation, conflict-detection, formatter-availability, yaml-validation

nwave-version-bump:
  name: nWave Version Auto-Increment
  entry: python3 scripts/hooks/version_bump.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-validation:
  name: Pytest Test Validation
  entry: python3 scripts/hooks/validate_tests.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

conflict-detection:
  name: Conflict Detection - Related Files
  entry: python3 scripts/hooks/detect_conflicts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

formatter-availability:
  name: Code Formatter Availability Check
  entry: python3 scripts/hooks/check_formatter_available.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

yaml-validation:
  name: YAML File Validation
  entry: python3 scripts/validation/validate_yaml_files.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(safety): add mandatory max_turns for Task tool invocations
  CLAUDE.md
  README.md
  nWave/agents/software-crafter-reviewer.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/data/config/task-safety.yaml
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(des): add centralized config with max_turns default of 30
  src/des/adapters/driven/config/environment_config_adapter.py
  src/des/application/config_loader.py
  src/des/config/__init__.py
  src/des/config/des_defaults.yaml
  tests/test_config_turn_limits.py
Due: pytest-validation, formatter-availability, yaml-validation

refactor: move Task safety rules to global CLAUDE.md
  CLAUDE.md
Due: none

feat(des): integrate hooks into DES plugin with settings preservation
  scripts/install/install_nwave.py
  scripts/install/plugins/des_plugin.py
Due: conflict-detection, formatter-availability

fix(des): use installed path for hooks instead of dev location
  scripts/install/plugins/des_plugin.py
Due: conflict-detection, formatter-availability

fix(des): improve hook detection for both old and new command formats
  scripts/install/plugins/des_plugin.py
Due: conflict-detection, formatter-availability

feat(distill): add bug testing directory structure and optional walking skeleton
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/distill.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

fix(des): resolve installation bugs and harden security
  scripts/install/plugins/des_plugin.py
  src/des/adapters/driven/logging/audit_logger.py
  tests/bugs/plugins/des/installation/acceptance/__init__.py
  tests/bugs/plugins/des/installation/acceptance/bug-1-hook-idempotency.feature
  tests/bugs/plugins/des/installation/acceptance/bug-2-audit-logs-location.feature
  tests/bugs/plugins/des/installation/acceptance/bug-3-import-paths.feature
  tests/bugs/plugins/des/installation/acceptance/conftest.py
  tests/bugs/plugins/des/installation/acceptance/steps/__init__.py
  tests/bugs/plugins/des/installation/acceptance/steps/audit_log_steps.py
  tests/bugs/plugins/des/installation/acceptance/steps/common_steps.py
  tests/bugs/plugins/des/installation/acceptance/steps/conftest.py
  tests/bugs/plugins/des/installation/acceptance/steps/helpers.py
  tests/bugs/plugins/des/installation/acceptance/steps/hook_steps.py
  tests/bugs/plugins/des/installation/acceptance/steps/import_path_steps.py
  tests/bugs/plugins/des/installation/acceptance/test_bug_1_hooks.py
  tests/bugs/plugins/des/installation/acceptance/test_bug_2_audit_logs.py
  tests/bugs/plugins/des/installation/acceptance/test_bug_3_imports.py
  tests/bugs/plugins/des/installation/acceptance/test_walking_skeleton.py
  tests/bugs/plugins/des/installation/acceptance/walking-skeleton.feature
Due: pytest-validation, conflict-detection, formatter-availability

fix(des): fix linting errors and apply code formatting
  scripts/install/plugins/des_plugin.py
  tests/bugs/plugins/des/installation/acceptance/conftest.py
  tests/bugs/plugins/des/installation/acceptance/steps/audit_log_steps.py
  tests/bugs/plugins/des/installation/acceptance/steps/common_steps.py
  tests/bugs/plugins/des/installation/acceptance/steps/conftest.py
  tests/bugs/plugins/des/installation/acceptance/steps/hook_steps.py
  tests/bugs/plugins/des/installation/acceptance/steps/import_path_steps.py
  tests/bugs/plugins/des/installation/acceptance/test_bug_1_hooks.py
  tests/bugs/plugins/des/installation/acceptance/test_bug_2_audit_logs.py
  tests/bugs/plugins/des/installation/acceptance/test_bug_3_imports.py
  tests/bugs/plugins/des/installation/acceptance/test_walking_skeleton.py
Due: pytest-validation, conflict-detection, formatter-availability

fix(tests): fix remaining test failures after bug fixes
  scripts/install/install_des_hooks.py
  scripts/install/plugins/des_plugin.py
  tests/des/acceptance/conftest.py
  tests/des/acceptance/test_hook_enforcement_steps.py
  tests/install/test_install_framework_plugin_integration.py
Due: pytest-validation, conflict-detection, formatter-availability

fix(tests): resolve all test isolation issues
  tests/conftest.py
  tests/nwave/plugin-architecture/acceptance/test_des_plugin_acceptance.py
  tests/nwave/plugin-architecture/unit/test_des_plugin.py
Due: pytest-validation, formatter-availability

fix(tests): resolve all remaining test fixture errors
  tests/des/conftest.py
  tests/test_scenario_013_timeout_warnings.py
  tests/test_scenario_014_agent_receives_timeout_warnings_in_prompt.py
  tests/unit/cli/conftest.py
Due: pytest-validation, formatter-availability

style: remove unnecessary f-strings in test_des_plugin.py
  tests/nwave/plugin-architecture/unit/test_des_plugin.py
Due: pytest-validation, formatter-availability

test(installer): add acceptance tests for manifest circular dependency bug
  tests/bugs/installer/manifest-circular-dependency/acceptance/__init__.py
  tests/bugs/installer/manifest-circular-dependency/acceptance/conftest.py
  tests/bugs/installer/manifest-circular-dependency/acceptance/manifest-circular-dependency.feature
  tests/bugs/installer/manifest-circular-dependency/acceptance/steps/__init__.py
  tests/bugs/installer/manifest-circular-dependency/acceptance/steps/common_steps.py
  tests/bugs/installer/manifest-circular-dependency/acceptance/steps/conftest.py
  tests/bugs/installer/manifest-circular-dependency/acceptance/steps/installer_steps.py
  tests/bugs/installer/manifest-circular-dependency/acceptance/steps/manifest_steps.py
  tests/bugs/installer/manifest-circular-dependency/acceptance/test_manifest_circular_dependency.py
Due: pytest-validation, formatter-availability

fix(installer): resolve manifest circular dependency bug
  scripts/install/install_nwave.py
  tests/bugs/installer/manifest-circular-dependency/acceptance/manifest-circular-dependency.feature
  tests/bugs/installer/manifest-circular-dependency/acceptance/steps/installer_steps.py
Due: pytest-validation, conflict-detection, formatter-availability

fix(des): add max_turns validation in PreToolUse hook
  docs/test-plans/des-exploratory-testing-plan.md
  docs/test-reports/des-exploratory-testing-report-2026-02-04.md
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
  tests/bugs/des/pre-tool-use-hook/acceptance/__init__.py
  tests/bugs/des/pre-tool-use-hook/acceptance/test_max_turns_validation.py
  tests/des/acceptance/conftest.py
  tests/des/unit/adapters/drivers/hooks/test_claude_code_hook_adapter.py
Due: pytest-validation, formatter-availability

fix(tests): resolve test collection errors
  tests/bugs/__init__.py
  tests/bugs/des/__init__.py
  tests/bugs/des/pre-tool-use-hook/__init__.py
  tests/bugs/installer/__init__.py
  tests/bugs/installer/manifest_circular_dependency/__init__.py
  tests/bugs/installer/manifest_circular_dependency/acceptance/__init__.py
  tests/bugs/installer/manifest_circular_dependency/acceptance/conftest.py
  tests/bugs/installer/manifest_circular_dependency/acceptance/manifest_circular_dependency.feature
  tests/bugs/installer/manifest_circular_dependency/acceptance/steps/__init__.py
  tests/bugs/installer/manifest_circular_dependency/acceptance/steps/common_steps.py
  tests/bugs/installer/manifest_circular_dependency/acceptance/steps/conftest.py
  tests/bugs/installer/manifest_circular_dependency/acceptance/steps/installer_steps.py
  tests/bugs/installer/manifest_circular_dependency/acceptance/steps/manifest_steps.py
  tests/bugs/installer/manifest_circular_dependency/acceptance/test_manifest_circular_dependency.py
  tests/bugs/plugins/__init__.py
  tests/bugs/plugins/des/__init__.py
  tests/bugs/plugins/des/installation/__init__.py
Due: pytest-validation, formatter-availability

perf(tests): refactor max_turns tests to use direct calls
  tests/bugs/des/pre-tool-use-hook/acceptance/test_max_turns_validation.py
Due: pytest-validation, formatter-availability

feat(des): implement two-tier DES validation (orchestrator vs execution)
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/execute.md
  nWave/tasks/nw/version.md
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
  tests/des/acceptance/test_execute_template_sync.py
  tests/des/acceptance/test_two_tier_validation.py
Due: nwave-version-bump, pytest-validation, conflict-detection, formatter-availability, yaml-validation

feat(des): implement orchestrator notification via SubagentStop hook context injection
  docs/feature/hook-context-injection/roadmap.yaml
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
  tests/des/acceptance/test_hook_enforcement.feature
  tests/des/acceptance/test_hook_enforcement_steps.py
  tests/des/unit/adapters/drivers/hooks/test_claude_code_hook_adapter.py
Due: pytest-validation, formatter-availability, yaml-validation

docs(hook-context-injection): add retrospective with 5 Whys root cause analysis
  docs/feature/hook-context-injection/retrospective.md
Due: none

docs(hook-context-injection): create evolution document
  docs/evolution/2026-02-05-hook-context-injection.md
Due: none

fix(installer): add /nw:discover to installation summary
  scripts/install/install_nwave.py
Due: conflict-detection, formatter-availability

feat(des): implement Schema v2.0 with TDDSchemaLoader and step_id refactoring
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  nWave/templates/execution-log-template.yaml
  src/des/adapters/driven/logging/audit_events.py
  src/des/adapters/drivers/hooks/real_hook.py
  src/des/application/orchestrator.py
  src/des/domain/__init__.py
  src/des/domain/tdd_schema.py
  tests/des/acceptance/test_hook_enforcement.feature
  tests/des/acceptance/test_hook_enforcement_steps.py
  tests/des/conftest.py
  tests/des/unit/adapters/driven/logging/test_audit_events.py
  tests/des/unit/adapters/drivers/hooks/test_real_hook_audit.py
  tests/des/unit/application/test_orchestrator_validate_prompt_audit.py
  tests/des/unit/domain/test_tdd_schema.py
Due: nwave-version-bump, pytest-validation, conflict-detection, formatter-availability, yaml-validation

feat(des): add Schema v2.0 input support to SubagentStop hook
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
  tests/des/unit/adapters/driven/logging/test_audit_events.py
  tests/des/unit/adapters/drivers/hooks/test_claude_code_hook_adapter.py
  tests/des/unit/domain/test_tdd_schema.py
Due: pytest-validation, formatter-availability

feat(des): implement Schema v2.0 append-only execution-log.yaml validation
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
  tests/des/unit/adapters/drivers/hooks/test_claude_code_hook_adapter.py
Due: pytest-validation, formatter-availability

refactor(des): eliminate hardcoded phases in validator, use schema loader
  src/des/application/validator.py
  tests/des/unit/test_validator_schema_versioning.py
Due: pytest-validation, formatter-availability

refactor(des): eliminate hardcoded phases in ValidationErrorDetector
  src/des/domain/validation_error_detector.py
Due: pytest-validation

test(des): migrate to template-based fixtures, eliminate hardcoded phases
  docs/feature/audit-log-refactor/execution-status.yaml
  docs/feature/audit-log-refactor/roadmap.yaml
  test-des-hooks/test-step.json
  test-des-manual/step-files/abandoned-phase.json
  test-des-manual/step-files/missing-outcome.json
  test-des-manual/step-files/valid-step.json
  tests/des/acceptance/test_execute_template_sync.py
  tests/des/acceptance/test_hook_enforcement_steps.py
  tests/des/acceptance/test_two_tier_validation.py
  tests/des/acceptance/test_us002_template_validation.py
  tests/des/conftest.py
  tests/des/unit/adapters/drivers/hooks/test_claude_code_hook_adapter.py
  tests/des/unit/adapters/drivers/validators/test_prompt_validator.py
Due: pytest-validation, formatter-availability, yaml-validation

docs(des): document execution-log.yaml usage patterns per command
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/execute.md
  nWave/tasks/nw/mutation-test.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(audit-log): verify AuditEvent dataclass refactoring complete (step 01-01)
  docs/feature/audit-log-refactor/execution-log.yaml
Due: yaml-validation

docs(audit-log): mark step 01-01 as completed in execution log
  docs/feature/audit-log-refactor/execution-log.yaml
Due: yaml-validation

feat(des): implement Schema v2.0 append-only execution-log format
  README.md
  docs/feature/audit-log-refactor/execution-log.yaml
  docs/feature/hook-context-injection/retrospective.md
  docs/feature/hook-context-injection/roadmap.yaml
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/execute.md
  nWave/tasks/nw/version.md
  nWave/templates/execution-log-template.yaml
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(audit-log-refactor/01-02): Update read_entries_for_step() signature
  docs/feature/audit-log-refactor/execution-log.yaml
  src/des/adapters/driven/logging/audit_logger.py
  tests/unit/des/test_audit_logger_unit.py
Due: pytest-validation, formatter-availability, yaml-validation

feat(des): restore claude_code_hook_adapter with Schema v2.0 + integration tests
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
  tests/des/integration/test_hook_configuration.py
Due: pytest-validation, formatter-availability

docs(audit-log): complete step 01-02 with COMMIT and FILES_MODIFIED events
  docs/feature/audit-log-refactor/execution-log.yaml
Due: yaml-validation

feat(des): complete legacy cleanup - delete 5 legacy modules + 75 dead tests
  docs/feature/des-hook-redesign/roadmap-legacy-cleanup.yaml
  nWave/agents/solution-architect.md
  src/des/adapters/driven/hooks/subagent_stop_hook.py
  src/des/adapters/driven/logging/audit_logger.py
  src/des/adapters/driven/validation/scope_validator.py
  src/des/application/hooks.py
  src/des/ports/driver_ports/hook_port.py
  tests/acceptance/test_us004_audit_trail.py
  tests/acceptance/test_us004_turn_counting.py
  tests/bugs/plugins/des/installation/acceptance/steps/audit_log_steps.py
  tests/des/acceptance/conftest.py
  tests/des/acceptance/test_us003_post_execution_validation.py
  tests/des/acceptance/test_us006a_turn_counting.py
  tests/des/acceptance/test_us007_boundary_rules.py
  tests/des/unit/adapters/driven/hooks/test_subagent_stop_hook_audit.py
  tests/des/unit/adapters/driven/logging/test_audit_logger_scope_violation.py
  tests/des/unit/adapters/drivers/hooks/test_audit_logging_integration.py
  tests/des/unit/adapters/drivers/hooks/test_clean_execution_silence.py
  tests/des/unit/adapters/drivers/hooks/test_scope_validation_integration.py
  tests/des/unit/adapters/drivers/hooks/test_subagent_stop_hook_audit.py
  tests/des/unit/application/test_hooks.py
  tests/des/unit/application/test_orchestrator_recovery_integration.py
  tests/des/unit/test_scope_validator.py
  tests/unit/des/test_audit_logger_01_01.py
  tests/unit/des/test_audit_logger_01_03.py
  tests/unit/des/test_audit_logger_unit.py
  tests/unit/test_hooks_silent_completion.py
  tests/unit/test_turn_count_persistence_acceptance.py
  tests/unit/test_turn_count_persistence_unit.py
Due: nwave-version-bump, pytest-validation, conflict-detection, formatter-availability, yaml-validation

feat(agents): add roadmap quality checks for implementation and tests
  README.md
  nWave/agents/solution-architect-reviewer.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

Path conditions:
  nwave-version-bump: any of: ^(nWave/|tools/), but not: version\.md$
  pytest-validation: any of: ^(tests/|src/des/).*\.py$
  conflict-detection: any of: ^(nWave/|scripts/|tools/)
  formatter-availability: any of: ^(scripts/|tools/|tests/).*\.py$, but not: \.json$
  yaml-validation: any of: \.(yaml|yml)$
