Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-validation, conflict-detection, formatter-availability, yaml-validation, nwave-step-structure-validation

Path conditions:
  pytest-validation: any of: ^(tests/|src/des/).*\.py$
  conflict-detection: any of: ^(nWave/|scripts/|tools/)
  formatter-availability: any of: ^(scripts/|tools/|tests/).*\.py$, but not: \.json$
  yaml-validation: any of: \.(yaml|yml)$
  nwave-step-structure-validation: any of: (^|/)steps/\d+-\d+\.json$

ci: remove temporary installer branch from push triggers
  .github/workflows/README.md
  .github/workflows/ci-cd.yml
Due: yaml-validation

ci: add version consistency gate to Stage 2 framework validation
  .github/workflows/README.md
  .github/workflows/ci-cd.yml
Due: yaml-validation

fix(ci): correct PSR config: build_command type and changelog path
  pyproject.toml
Due: none

fix(ci): make PSR version commits pass commitlint validation
  .github/workflows/README.md
  .github/workflows/ci-cd.yml
  pyproject.toml
Due: yaml-validation

2.0.0
  nWave/framework-catalog.yaml
  pyproject.toml
Due: conflict-detection, yaml-validation

chore(release): v2.0.1
  nWave/framework-catalog.yaml
  pyproject.toml
Due: conflict-detection, yaml-validation

fix(ci): configure PSR commit author and prevent duplicate pipelines
  .github/workflows/README.md
  .github/workflows/ci-cd.yml
  pyproject.toml
Due: yaml-validation

fix(ci): remove invalid --clean flag from build_ide_bundle invocation
  .github/workflows/ci-cd.yml
Due: yaml-validation

fix(ci): remove [skip ci] from PSR commit message
  .github/workflows/README.md
  pyproject.toml
Due: none

fix(ci): remove missing installer .py from release artifacts
  .github/workflows/ci-cd.yml
Due: yaml-validation

test(audit-log): migrate legacy audit logger tests to hexagonal structure - step 04-01
  docs/feature/audit-log-refactor/execution-log.yaml
  tests/unit/des/test_audit_logger_01_01.py
  tests/unit/des/test_audit_logger_01_03.py
  tests/unit/des/test_audit_logger_unit.py
Due: pytest-validation, formatter-availability, yaml-validation

feat(audit-log-refactor): verify legacy tests migrated - step 04-01
  docs/feature/audit-log-refactor/execution-log.yaml
Due: yaml-validation

chore(audit-log-refactor): verify step 04-01 migration complete
  docs/feature/audit-log-refactor/execution-log.yaml
Due: yaml-validation

docs(audit-log-refactor): step 04-02 verification complete
  docs/feature/audit-log-refactor/execution-log.yaml
Due: yaml-validation

feat(audit-log-refactor): add BDD tests for hook enforcement audit schema - step 05-02
  docs/feature/audit-log-refactor/execution-log.yaml
  tests/des/acceptance/test_hook_enforcement.feature
  tests/des/acceptance/test_hook_enforcement_steps.py
Due: pytest-validation, formatter-availability, yaml-validation

feat(audit-log): validate step 01-01 port layer implementation
  docs/feature/audit-log-refactor/execution-log.yaml
Due: yaml-validation

refactor(des): L1 - naming clarity improvements
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
  src/des/application/orchestrator.py
  src/des/domain/abandoned_phase_detector.py
  src/des/domain/silent_completion_detector.py
  src/des/domain/step_completion_validator.py
  src/des/domain/timeout_monitor.py
  src/des/domain/validation_error_detector.py
Due: pytest-validation

refactor(des): L2 - complexity reduction
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
  src/des/application/orchestrator.py
  src/des/application/validator.py
Due: pytest-validation

refactor(des): L3 - class responsibility reorganization
  src/des/application/orchestrator.py
  src/des/domain/des_marker_generator.py
  src/des/domain/prompt_metadata_extractor.py
  src/des/domain/schema_version_detector.py
  src/des/domain/step_file_repository.py
  src/des/domain/timeout_warning_builder.py
Due: pytest-validation

refactor(des): L4 - architecture pattern improvements
  src/des/domain/result.py
  src/des/domain/specifications.py
  src/des/domain/value_objects.py
Due: pytest-validation

docs(audit-log): update audit trail docs to feature_name/step_id schema - step 06-01
  docs/feature/audit-log-refactor/execution-log.yaml
  docs/reference/audit-trail-compliance-verification.md
Due: yaml-validation

docs(audit-log): update template and create evolution document - step 06-02
  docs/evolution/2026-02-05-audit-log-refactor.md
  docs/feature/audit-log-refactor/execution-log.yaml
  nWave/templates/.des-audit-README.md
Due: conflict-detection, yaml-validation

docs(audit-log-refactor): finalize feature - archive, cleanup, reference docs
  docs/evolution/2026-02-05-audit-log-refactor.md
  docs/feature/audit-log-refactor/REVIEW_FINDINGS.md
  docs/feature/audit-log-refactor/execution-log.yaml
  docs/feature/audit-log-refactor/roadmap.yaml
  docs/reference/audit-log-refactor.md
  tests/des/acceptance/test_us004_audit_trail.py
Due: pytest-validation, formatter-availability, yaml-validation

style: fix trailing whitespace and formatting in hook enforcement steps
  tests/des/acceptance/test_hook_enforcement_steps.py
Due: pytest-validation, formatter-availability

fix(ci): resolve ruff lint errors and relax gitlint title regex
  .gitlint
  src/des/application/validator.py
  src/des/domain/result.py
  src/des/domain/specifications.py
Due: pytest-validation

style(des): apply ruff format to 4 unformatted files
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
  src/des/application/orchestrator.py
  src/des/domain/abandoned_phase_detector.py
  src/des/domain/validation_error_detector.py
Due: pytest-validation

style: fix ruff format in test_execute_template_sync
  tests/des/acceptance/test_execute_template_sync.py
Due: pytest-validation, formatter-availability

fix(ci): remove nul file breaking Windows checkout
  nul
Due: none
