Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation, shell-syntax-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for AI-Craft nWave Framework
# Install: pip install pre-commit && pre-commit install
# Manual run: pre-commit run --all-files

repos:
  # Local hooks for nWave framework
  - repo: local
    hooks:
      # Phase 0: Auto-increment version when nWave files are modified
      - id: nwave-version-bump
        name: nWave Version Auto-Increment
        entry: python3 scripts/hooks/version_bump.py
        language: system
        files: ^(nWave/|tools/)
        exclude: version\.md$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 1: Run pytest test suite
      - id: pytest-validation
        name: Pytest Test Validation
        entry: python3 scripts/hooks/validate_tests.py
        language: system
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

      # Phase 2: Documentation version validation
      - id: docs-version-validation
        name: Documentation Version Validation
        entry: python3 scripts/hooks/validate_docs.py
        language: system
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

      # Phase 4: Conflict detection between related files
      - id: conflict-detection
        name: Conflict Detection - Related Files
        entry: python3 scripts/hooks/detect_conflicts.py
        language: system
        files: ^(nWave/|scripts/|tools/)
        pass_filenames: false
        stages: [pre-commit]

      # Phase 4: Code formatter availability check
      - id: formatter-availability
        name: Code Formatter Availability Check
        entry: python3 scripts/hooks/check_formatter_available.py
        language: system
        files: ^(scripts/|tools/|tests/).*\.py$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 5: YAML validation (mirrors CI/CD validation)
      - id: yaml-validation
        name: YAML File Validation
        entry: python3 scripts/validation/validate_yaml_files.py
        language: system
        files: \.(yaml|yml)$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 6: Shell script syntax validation (bash -n)
      # Note: Only for acceptance test scripts in tests/acceptance/
      - id: shell-syntax-check
        name: Shell Script Syntax Check
        entry: bash -n
        language: system
        files: ^tests/acceptance/.*\.sh$
        stages: [pre-commit]

  # Shellcheck linting (optional - non-blocking if not installed)
  # Note: Only for acceptance test scripts in tests/acceptance/
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-x]
        files: ^tests/acceptance/.*\.sh$
        stages: [pre-commit]

  # Standard hooks from pre-commit repository
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(dist/|\.git/)
      - id: end-of-file-fixer
        exclude: ^(dist/|\.git/)
      - id: check-yaml
        exclude: ^(dist/|\.git/)
      - id: check-json
        exclude: ^(dist/|\.git/)
      - id: check-merge-conflict
      - id: detect-private-key

  # Python linting and formatting with Ruff (replaces black, flake8, isort)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^(scripts/|tools/|tests/).*\.py$
      - id: ruff-format
        files: ^(scripts/|tools/|tests/).*\.py$

# Configuration
default_stages: [pre-commit]
fail_fast: false

feat(des-us003): AC-003.4 - Flag EXECUTED phases without outcome
  des/hooks.py
  docs/feature/des-us003/steps/01-04.json
  tests/unit/des/test_hooks.py
Due: formatter-availability

feat(des-us003): implement INVALID_SKIP detection in SubagentStopHook (step 01-05)
  des/hooks.py
  des/validator.py
  docs/evolution/2026-01-24-des-us003.md
  docs/feature/des-us003/steps/01-05.json
  tests/acceptance/test_us003_post_execution_validation.py
  tests/unit/des/test_hooks.py
Due: formatter-availability

feat(des-us003): Implement multiple error aggregation with recovery suggestions (AC-003.6)
  des/hooks.py
  docs/feature/des-us003/steps/01-06.json
  tests/acceptance/test_us003_post_execution_validation.py
  tests/unit/des/test_hooks.py
Due: formatter-availability

feat(des-us003): enable happy path validation tests (step 01-07)
  docs/feature/des-us003/steps/01-07.json
  tests/acceptance/test_us003_post_execution_validation.py
Due: formatter-availability

docs(des-us003): document step 01-08 completion - SubagentStopHook wired into DESOrchestrator
  docs/feature/des-us003/steps/01-08.json
Due: none

fix(des-us003): update step 01-04 COMMIT phase to PASS
  docs/feature/des-us003/steps/01-04.json
Due: none

feat(des-us003): finalize and archive - all 8 steps complete
  des/orchestrator.py
  docs/evolution/2026-01-25-des-us003.md
  docs/feature/des-us003/baseline.yaml
  docs/feature/des-us003/roadmap.yaml
  docs/feature/des-us003/steps/01-01.json
  docs/feature/des-us003/steps/01-02.json
  docs/feature/des-us003/steps/01-03.json
  docs/feature/des-us003/steps/01-04.json
  docs/feature/des-us003/steps/01-05.json
  docs/feature/des-us003/steps/01-06.json
  docs/feature/des-us003/steps/01-07.json
  docs/feature/des-us003/steps/01-08.json
  tests/acceptance/test_us003_post_execution_validation.py
  tests/unit/des/test_orchestrator.py
Due: formatter-availability, yaml-validation

feat(des-us004): extend step schema with turn_count field - step 01-01
  docs/feature/des-us004/steps/01-01.json
  nWave/templates/step-tdd-cycle-schema.json
  tests/test_step_schema_turn_count.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(config): Add timeout threshold configuration support
  docs/feature/des-us004/steps/03-01.json
  tests/test_config_timeout_thresholds.py
  tools/utils/config_manager.py
Due: nwave-version-bump, conflict-detection, formatter-availability

fix(des): fix 3 test failures in template validation
  des/orchestrator.py
  des/validator.py
  tests/unit/test_validator.py
Due: formatter-availability

feat(des-us004): Design extension request API - step 05-01
  des/extension_api.md
  des/extension_api.py
  docs/feature/des-us004/steps/05-01.json
  tests/unit/des/test_extension_api.py
Due: formatter-availability

chore(des-us004): Update step 05-01 to DONE status
  docs/feature/des-us004/steps/05-01.json
Due: none

feat(des): implement TurnCounter component - step 01-02 GREEN state
  README.md
  des/turn_counter.py
  docs/feature/des-us004/steps/01-02.json
  tests/unit/des/test_turn_counter.py
Due: formatter-availability

feat(des): complete step 01-02 TurnCounter implementation - 14 phases complete
  docs/feature/des-us004/steps/01-02.json
Due: none

docs(des-us004): update step 01-02 with commit hash
  docs/feature/des-us004/steps/01-02.json
Due: none

feat(des-us004-03-02): implement TimeoutMonitor with elapsed time tracking
  README.md
  des/timeout_monitor.py
  docs/feature/des-us004/steps/03-02.json
  tests/unit/des/test_timeout_monitor.py
Due: formatter-availability

feat(des-us004): Implement TimeoutMonitor component - step 03-02
  docs/feature/des-us004/steps/03-02.json
Due: none

docs(des-us004): Update step 03-02 with COMMIT phase completion
  docs/feature/des-us004/steps/03-02.json
Due: none

feat(des-us004): implement ExtensionApprovalEngine (step 05-02 GREEN_UNIT)
  des/extension_approval.py
  docs/feature/des-us004/.execution-order.txt
  docs/feature/des-us004/.progress-report.md
  docs/feature/des-us004/baseline.yaml
  docs/feature/des-us004/roadmap.yaml
  docs/feature/des-us004/steps/01-03.json
  docs/feature/des-us004/steps/02-01.json
  docs/feature/des-us004/steps/02-02.json
  docs/feature/des-us004/steps/03-01.json
  docs/feature/des-us004/steps/03-03.json
  docs/feature/des-us004/steps/04-01.json
  docs/feature/des-us004/steps/04-02.json
  docs/feature/des-us004/steps/05-02.json
  docs/feature/des-us004/steps/05-03.json
  docs/feature/des-us004/steps/06-01.json
  docs/feature/des-us004/steps/06-02.json
  docs/feature/des-us004/steps/07-01.json
  docs/feature/des-us004/steps/07-02.json
  docs/feature/des-us004/steps/08-01.json
  docs/feature/des-us004/steps/08-02.json
  docs/feature/des-us004/steps/09-01.json
  docs/feature/des-us004/steps/09-02.json
  docs/feature/des-us004/steps/09-03.json
  docs/feature/des-us004/steps/10-01.json
  docs/feature/des-us004/steps/10-02.json
  docs/feature/des-us004/steps/10-03.json
  docs/feature/des-us004/steps/10-04.json
  docs/feature/des-us004/steps/11-01.json
  docs/feature/des-us004/steps/11-02.json
  docs/feature/des-us004/steps/11-03.json
  docs/feature/des-us004/steps/11-04.json
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  tests/unit/des/test_extension_approval.py
  update_commit_phase.py
  update_phase.py
  update_phase_with_tests.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

feat(des-us004): complete step 05-02 - ExtensionApprovalEngine (COMMIT/PASS)
  docs/feature/des-us004/steps/05-02.json
Due: none

feat(des-us004): Add configurable turn limits per task type - step 01-03
  des/turn_config.py
  tests/unit/des/test_turn_config.py
Due: formatter-availability

feat(des-us004): Add ConfigLoader with turn limits by task type
  docs/feature/des-us004/steps/01-03.json
  src/des/config_loader.py
  tests/test_config_turn_limits.py
  update_step_05_02.py
Due: formatter-availability

feat(des-us004): Complete step 01-03 - ConfigLoader with turn limits
  docs/feature/des-us004/steps/01-03.json
Due: none

docs(des-us004): Mark step 01-03 as COMPLETED
  docs/feature/des-us004/steps/01-03.json
Due: none

feat(des-us004): add duration_seconds to step schema for fine-grained tracking
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  nWave/templates/step-tdd-cycle-schema.json
  tests/nwave/test_step_schema_duration_seconds.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

docs(des-us004): Mark step 03-03 as DONE
  docs/feature/des-us004/steps/03-03.json
Due: none

feat(des-us004): add extensions_granted field to step schema
  docs/feature/des-us004/steps/05-03.json
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  nWave/templates/step-tdd-cycle-schema.json
  tests/unit/test_step_schema_extensions.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

chore(des-us004): update step 05-03 tracking (GREEN_ACCEPTANCE)
  docs/feature/des-us004/steps/05-03.json
Due: none

feat(des-us004): complete step 05-03 - extension tracking schema
  docs/feature/des-us004/steps/05-03.json
Due: none

feat(des-us004): implement execute_step() with TurnCounter integration - step 02-01 GREEN_UNIT
  des/orchestrator.py
  docs/feature/des-us004/steps/02-01.json
  docs/feature/des-us004/steps/05-03.json
  tests/acceptance/test_us004_turn_counting.py
  tests/unit/des/test_orchestrator_execute_step.py
Due: formatter-availability

feat(des-us004): GREEN_ACCEPTANCE - all tests passing for step 02-01
  docs/feature/des-us004/steps/02-01.json
Due: none

feat(des-us004): wire TurnCounter into DESOrchestrator.execute_step() - step 02-01
  des/orchestrator.py
  docs/feature/des-us004/steps/02-01.json
Due: none

feat(des-us004-04-01): wire TimeoutMonitor into orchestrator execution loop
  des/orchestrator.py
  docs/feature/des-us004/steps/02-01.json
  docs/feature/des-us004/steps/04-01.json
  tests/test_scenario_013_timeout_warnings.py
  tests/unit/des/test_orchestrator_execute_step.py
Due: formatter-availability

feat(des-us004): Add request_extension method to DESOrchestrator - step 06-01
  des/orchestrator.py
  docs/reference/des-orchestrator-api.md
  tests/unit/des/test_orchestrator_execute_step.py
  tests/unit/des/test_orchestrator_request_extension.py
Due: formatter-availability

feat(des-us004): Add comprehensive TurnCounter tests with edge cases and serialization
  des/hooks.py
  des/turn_counter.py
  docs/feature/des-us004/steps/02-02.json
  docs/feature/des-us004/steps/09-01.json
  docs/feature/des-us004/steps/09-02.json
  tests/unit/des/test_turn_counter.py
Due: formatter-availability

feat(des-us004): Document completion of TimeoutMonitor unit tests (step 09-02)
  docs/feature/des-us004/steps/09-02.json
  tests/acceptance/test_us004_turn_counting.py
  tests/unit/des/test_hooks.py
Due: formatter-availability

chore(des-us004): Add commit hash to step 09-02
  docs/feature/des-us004/steps/09-02.json
Due: none

docs(des-us004): Complete step 02-02 tracking - turn limit enforcement in SubagentStopHook
  docs/feature/des-us004/steps/02-02.json
Due: none

test(des-us004): add comprehensive edge case tests for ExtensionApprovalEngine
  tests/unit/des/test_extension_approval.py
Due: formatter-availability

docs(des-us004): document turn discipline and timeout features in DES design
  docs/design/deterministic-execution-system-design.md
  docs/feature/des-us004/steps/11-01.json
Due: none
