Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation, shell-syntax-check

nwave-version-bump:
  name: nWave Version Auto-Increment
  entry: python3 scripts/hooks/version_bump.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

conflict-detection:
  name: Conflict Detection - Related Files
  entry: python3 scripts/hooks/detect_conflicts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

formatter-availability:
  name: Code Formatter Availability Check
  entry: python3 scripts/hooks/check_formatter_available.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

yaml-validation:
  name: YAML File Validation
  entry: python3 scripts/validation/validate_yaml_files.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

shell-syntax-check:
  name: Shell Script Syntax Check
  entry: bash -n
  language: system
  stages:
  - pre-commit

fix(docs): repair YAML syntax in roadmap acceptance_criteria
  docs/features/versioning-release-management/roadmap.yaml
  tests/unit/versioning/__init__.py
Due: formatter-availability, yaml-validation

fix(lint): resolve ruff lint errors across test files
  tests/acceptance/features/version-update-experience/test_update_steps.py
  tests/acceptance/features/versioning-release-management/conftest.py
  tests/acceptance/features/versioning-release-management/test_us001_version_check.py
  tests/acceptance/versioning/conftest.py
  tests/acceptance/versioning/forge/conftest.py
  tests/acceptance/versioning/forge/test_us003_forge_build.py
  tests/acceptance/versioning/test_us001_version_check.py
  tests/acceptance/versioning/test_us002_backup_rotation.py
  tests/acceptance/versioning/test_us002_update.py
  tests/acceptance/versioning_release_management/test_us001_version_check.py
  tests/acceptance/versioning_release_management/test_us005_forge_release.py
  tests/test_step_file_format.py
  tests/unit/domain/test_backup_policy.py
  tests/unit/domain/test_watermark.py
  tests/unit/ports/test_checksum_port.py
  tests/unit/ports/test_download_port.py
  tests/unit/ports/test_file_system_port.py
  tests/unit/ports/test_git_port.py
  tests/unit/ports/test_github_api_port.py
  tests/unit/version/test_version_service_offline.py
  tests/unit/versioning/forge/test_build_service.py
  tests/unit/versioning/forge/test_forge_cli.py
  tests/unit/versioning/forge/test_git_adapter_forge.py
  tests/unit/versioning/release/test_forge_release_cli.py
  tests/unit/versioning/release/test_github_cli_adapter.py
  tests/unit/versioning/release/test_release_service.py
  tests/unit/versioning/test_file_system_adapter.py
  tests/unit/versioning/test_install_service.py
  tests/unit/versioning/test_version_cli.py
  tests/unit/versioning/test_version_service.py
  tests/unit/versioning/update/test_checksum_adapter.py
  tests/unit/versioning/update/test_checksum_validation_failure.py
  tests/unit/versioning/update/test_download_adapter.py
  tests/unit/versioning/update/test_update_cli.py
  tests/unit/versioning/update/test_update_service.py
Due: formatter-availability

fix(lint): correct noqa placement for E402 import
  tests/test_step_file_format.py
Due: formatter-availability

fix(test): add tmp_path fixture to update service test
  tests/unit/versioning/update/test_update_service.py
Due: formatter-availability

fix(windows): resolve path separator compatibility for cross-platform CI
  nWave/core/versioning/domain/core_content_identifier.py
  tests/unit/domain/test_backup_policy.py
  tests/unit/versioning/test_install_service.py
Due: nwave-version-bump, conflict-detection, formatter-availability

docs(evolution): archive versioning-release-management feature completion
  docs/evolution/versioning-release-management-evolution.md
  docs/features/versioning-release-management/mutation-report.md
  setup.cfg
  tests/conftest.py
Due: formatter-availability

docs: add parking lot and backlog items from DEVELOP wave
  docs/parking-lot/APEX-001-mutation-testing-pipeline-design.md
  docs/requirements/US-DEV-001-developer-contribution-guide.md
Due: none

feat(APEX-002): add installation environment detection feature planning
  docs/feature/installation-environment-detection/design/architecture-design.md
  docs/feature/installation-environment-detection/design/component-boundaries.md
  docs/feature/installation-environment-detection/design/diagrams/component-interaction.md
  docs/feature/installation-environment-detection/design/diagrams/error-handling-flow.md
  docs/feature/installation-environment-detection/design/diagrams/preflight-sequence.md
  docs/feature/installation-environment-detection/design/integration-plan.md
  docs/feature/installation-environment-detection/design/technology-decisions.md
  docs/feature/installation-environment-detection/discuss/acceptance-criteria.md
  docs/feature/installation-environment-detection/discuss/dor-checklist.md
  docs/feature/installation-environment-detection/discuss/requirements.md
  docs/feature/installation-environment-detection/discuss/user-stories.md
  docs/feature/installation-environment-detection/distill/acceptance-test-plan.md
  docs/feature/installation-environment-detection/distill/test-scenarios.md
  docs/parking-lot/APEX-002-install-script-environment-detection.md
  tests/acceptance/installation/__init__.py
  tests/acceptance/installation/conftest.py
  tests/acceptance/installation/features/01_preflight_checks.feature
  tests/acceptance/installation/features/02_error_messages.feature
  tests/acceptance/installation/features/03_dependency_verification.feature
  tests/acceptance/installation/features/04_post_installation.feature
  tests/acceptance/installation/features/05_logging.feature
  tests/acceptance/installation/features/06_documentation.feature
  tests/acceptance/installation/step_defs/__init__.py
  tests/acceptance/installation/step_defs/steps_dependency.py
  tests/acceptance/installation/step_defs/steps_documentation.py
  tests/acceptance/installation/step_defs/steps_error_messages.py
  tests/acceptance/installation/step_defs/steps_logging.py
  tests/acceptance/installation/step_defs/steps_preflight.py
  tests/acceptance/installation/step_defs/steps_verification.py
  tests/acceptance/installation/test_dependency.py
  tests/acceptance/installation/test_documentation.py
  tests/acceptance/installation/test_error_messages.py
  tests/acceptance/installation/test_logging.py
  tests/acceptance/installation/test_preflight.py
  tests/acceptance/installation/test_verification.py
Due: formatter-availability

feat(APEX-002): add platform architecture and CI environment scenarios
  docs/feature/installation-environment-detection/design/platform/ci-cd-integration.md
  docs/feature/installation-environment-detection/design/platform/environment-matrix.md
  docs/feature/installation-environment-detection/design/platform/infrastructure-decisions.md
  docs/feature/installation-environment-detection/design/platform/observability-design.md
  docs/feature/installation-environment-detection/design/platform/platform-design.md
  docs/feature/installation-environment-detection/distill/test-scenarios.md
  tests/acceptance/installation/conftest.py
  tests/acceptance/installation/features/07_ci_environment.feature
  tests/acceptance/installation/step_defs/steps_ci_environment.py
  tests/acceptance/installation/test_ci_environment.py
Due: formatter-availability

feat(APEX-002): add DEVELOP wave baseline, roadmap, and step files
  docs/feature/installation-environment-detection/baseline.yaml
  docs/feature/installation-environment-detection/roadmap.yaml
  docs/feature/installation-environment-detection/steps/01-01.json
  docs/feature/installation-environment-detection/steps/01-02.json
  docs/feature/installation-environment-detection/steps/01-03.json
  docs/feature/installation-environment-detection/steps/02-01.json
  docs/feature/installation-environment-detection/steps/02-02.json
  docs/feature/installation-environment-detection/steps/02-03.json
  docs/feature/installation-environment-detection/steps/03-01.json
  docs/feature/installation-environment-detection/steps/03-02.json
  docs/feature/installation-environment-detection/steps/03-03.json
  docs/feature/installation-environment-detection/steps/04-01.json
  docs/feature/installation-environment-detection/steps/04-02.json
  docs/feature/installation-environment-detection/steps/05-01.json
  docs/feature/installation-environment-detection/steps/05-02.json
  docs/feature/installation-environment-detection/steps/05-03.json
  docs/feature/installation-environment-detection/steps/06-01.json
Due: yaml-validation

fix(lint): suppress unused variable warning in preflight steps
  tests/acceptance/installation/step_defs/steps_preflight.py
Due: formatter-availability

feat: new python installation into a venv, discuss to develop:split
  Pipfile
  Pipfile.lock
  tests/acceptance/installation/step_defs/steps_dependency.py
  tests/acceptance/installation/step_defs/steps_error_messages.py
  tests/acceptance/installation/step_defs/steps_logging.py
  tests/acceptance/installation/step_defs/steps_verification.py
Due: formatter-availability

feat(us005-03-02): Include transcript path in crash recovery suggestions
  docs/feature/recovery-suggestion-formatting/steps/03-02.json
  src/des/application/recovery_guidance_handler.py
  tests/acceptance/test_us005_failure_recovery.py
  tests/unit/des/test_recovery_guidance_handler.py
Due: formatter-availability

docs(us005-03-02): Update step file - mark all 8 TDD phases EXECUTED
  docs/feature/recovery-suggestion-formatting/steps/03-02.json
Due: none

feat(us005-03-03): Integrate recovery suggestions with validation error messages
  docs/feature/recovery-suggestion-formatting/steps/03-03.json
  src/des/application/validator.py
  tests/acceptance/test_us005_failure_recovery.py
  tests/unit/des/test_validation_error_formatting.py
Due: formatter-availability

test(us005-03-03): Update step file with complete 8-phase TDD execution log
  docs/feature/recovery-suggestion-formatting/steps/03-03.json
Due: none

feat(us005-03-04): Polish recovery suggestions with junior-dev friendly language
  .des/audit/audit-2026-01-28.log
  docs/feature/recovery-suggestion-formatting/steps/03-04.json
  src/des/application/recovery_guidance_handler.py
  tests/acceptance/test_us005_failure_recovery.py
Due: formatter-availability

feat(us005-03-05): PHASE PREPARE - Identified active E2E test scenario 1 (crash recovery)
  docs/feature/recovery-suggestion-formatting/steps/03-05.json
Due: none

feat(us005-03-05): PHASES RED_UNIT, GREEN, REVIEW - Unit tests complete, 91% coverage, 41 tests passing
  docs/feature/recovery-suggestion-formatting/steps/03-05.json
Due: none

feat(us005-03-05): All 8 TDD phases COMPLETE - Comprehensive test suite, 91% coverage, junior-dev ready
  docs/feature/recovery-suggestion-formatting/steps/03-05.json
Due: none

docs(recovery-suggestion-formatting): Phase 3 evolution document - DEVELOP wave complete
  docs/evolution/recovery-suggestion-formatting-evolution.md
Due: none

docs(recovery-suggestion-formatting): Finalize US005 Phase 3 - Archive evolution document
  docs/evolution/2026-01-29-recovery-suggestion-formatting.md
Due: none

chore(recovery-suggestion-formatting): Clean up workflow artifacts after finalization
  docs/evolution/recovery-suggestion-formatting-evolution.md
  docs/feature/recovery-suggestion-formatting/roadmap.yaml
  docs/feature/recovery-suggestion-formatting/steps/03-01.json
  docs/feature/recovery-suggestion-formatting/steps/03-02.json
  docs/feature/recovery-suggestion-formatting/steps/03-03.json
  docs/feature/recovery-suggestion-formatting/steps/03-04.json
  docs/feature/recovery-suggestion-formatting/steps/03-05.json
Due: yaml-validation

docs(us003-roadmap): Peer review - REJECTED pending effort estimation fixes
  docs/feature/turn-discipline/roadmap.yaml
Due: yaml-validation

feat(schema): Add turn_count field to phase_execution_log - Infrastructure step 01-01
  .des/audit/audit-2026-01-28.log
  docs/feature/turn-discipline/baseline.yaml
  docs/feature/turn-discipline/roadmap.yaml
  docs/feature/turn-discipline/steps/01-01.json
  docs/feature/turn-discipline/steps/01-02.json
  docs/feature/turn-discipline/steps/01-03.json
  docs/feature/turn-discipline/steps/01-04.json
  docs/feature/turn-discipline/steps/02-01.json
  docs/feature/turn-discipline/steps/02-02.json
  docs/feature/turn-discipline/steps/02-03.json
  docs/feature/turn-discipline/steps/02-04.json
  docs/feature/turn-discipline/steps/02-05.json
  docs/feature/turn-discipline/steps/02-06.json
  docs/feature/turn-discipline/steps/03-01.json
  docs/feature/turn-discipline/steps/03-02.json
  docs/feature/turn-discipline/steps/04-01.json
  docs/feature/turn-discipline/steps/04-02.json
  docs/feature/turn-discipline/steps/05-01.json
  docs/feature/turn-discipline/steps/05-02.json
  docs/feature/turn-discipline/steps/05-03.json
  docs/feature/turn-discipline/steps/05-04.json
  docs/feature/turn-discipline/steps/06-01.json
  docs/feature/turn-discipline/steps/06-02.json
  docs/feature/turn-discipline/steps/06-03.json
  docs/feature/turn-discipline/steps/06-04.json
  docs/feature/turn-discipline/steps/06-05.json
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  tests/unit/test_schema_turn_count.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

feat(turn-counter-01-02): Complete all 14 TDD phases for turn counter implementation
  docs/feature/turn-discipline/steps/01-02.json
Due: none

feat(us005-01-03): Turn count persistence infrastructure - 8-phase TDD complete
  docs/feature/turn-discipline/steps/01-03.json
  src/des/adapters/drivers/hooks/mocked_hook.py
  src/des/adapters/drivers/hooks/real_hook.py
  src/des/application/hooks.py
  src/des/ports/driver_ports/hook_port.py
  tests/unit/test_turn_count_persistence_acceptance.py
  tests/unit/test_turn_count_persistence_unit.py
Due: formatter-availability

test(turn-count-01-04): Complete turn counting unit tests with 100% coverage - All 14 TDD phases executed
  docs/feature/turn-discipline/steps/01-04.json
Due: none

refactor: Replace hardcoded TDD phases with build-time template substitution
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/version.md
  tools/processors/template_processor.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

build: Integrate TemplateProcessor into CommandProcessor build pipeline
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  tools/processors/command_processor.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

refactor: Extend template processor and remove hardcoded phases from all commands
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/execute.md
  nWave/tasks/nw/finalize.md
  nWave/tasks/nw/review.md
  nWave/tasks/nw/roadmap.md
  nWave/tasks/nw/split.md
  nWave/tasks/nw/version.md
  tools/processors/template_processor.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

refactor(split): Ultra-aggressive prose reduction - 30.5% smaller
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/split.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

refactor(execute): Ultra-aggressive prose reduction - 26% smaller
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/execute.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

refactor(develop): Ultra-aggressive prose reduction - 6.3% smaller
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(command-processor): Add strict template validation
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  tools/processors/command_processor.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

test(template): Add validation tests for template resolution
  tests/nwave/test_template_validation.py
Due: formatter-availability

fix(test): Use valid variable names in template validation test
  tests/nwave/test_template_validation.py
Due: formatter-availability

fix(des): Fix validation logic and test failures for US-001, US-002, US-003
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/version.md
  tests/acceptance/test_us002_template_validation.py
  tests/des/acceptance/test_us002_template_validation.py
  tests/des/adapters/mocked_hook.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

Path conditions:
  nwave-version-bump: any of: ^(nWave/|tools/), but not: version\.md$
  conflict-detection: any of: ^(nWave/|scripts/|tools/)
  formatter-availability: any of: ^(scripts/|tools/|tests/).*\.py$
  yaml-validation: any of: \.(yaml|yml)$
  shell-syntax-check: any of: ^tests/acceptance/.*\.sh$
