Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation, shell-syntax-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for AI-Craft nWave Framework
# Install: pip install pre-commit && pre-commit install
# Manual run: pre-commit run --all-files

repos:
  # Local hooks for nWave framework
  - repo: local
    hooks:
      # Phase 0: Auto-increment version when nWave files are modified
      - id: nwave-version-bump
        name: nWave Version Auto-Increment
        entry: python3 scripts/hooks/version_bump.py
        language: system
        files: ^(nWave/|tools/)
        exclude: version\.md$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 1: Run pytest test suite
      - id: pytest-validation
        name: Pytest Test Validation
        entry: python3 scripts/hooks/validate_tests.py
        language: system
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

      # Phase 2: Documentation version validation
      - id: docs-version-validation
        name: Documentation Version Validation
        entry: python3 scripts/hooks/validate_docs.py
        language: system
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

      # Phase 4: Conflict detection between related files
      - id: conflict-detection
        name: Conflict Detection - Related Files
        entry: python3 scripts/hooks/detect_conflicts.py
        language: system
        files: ^(nWave/|scripts/|tools/)
        pass_filenames: false
        stages: [pre-commit]

      # Phase 4: Code formatter availability check
      - id: formatter-availability
        name: Code Formatter Availability Check
        entry: python3 scripts/hooks/check_formatter_available.py
        language: system
        files: ^(scripts/|tools/|tests/).*\.py$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 5: YAML validation (mirrors CI/CD validation)
      - id: yaml-validation
        name: YAML File Validation
        entry: python3 scripts/validation/validate_yaml_files.py
        language: system
        files: \.(yaml|yml)$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 6: Shell script syntax validation (bash -n)
      # Note: Only for acceptance test scripts in tests/acceptance/
      - id: shell-syntax-check
        name: Shell Script Syntax Check
        entry: bash -n
        language: system
        files: ^tests/acceptance/.*\.sh$
        stages: [pre-commit]

  # Shellcheck linting (optional - non-blocking if not installed)
  # Note: Only for acceptance test scripts in tests/acceptance/
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-x]
        files: ^tests/acceptance/.*\.sh$
        stages: [pre-commit]

  # Standard hooks from pre-commit repository
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(dist/|\.git/)
      - id: end-of-file-fixer
        exclude: ^(dist/|\.git/)
      - id: check-yaml
        exclude: ^(dist/|\.git/)
      - id: check-json
        exclude: ^(dist/|\.git/)
      - id: check-merge-conflict
      - id: detect-private-key

  # Python linting and formatting with Ruff (replaces black, flake8, isort)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^(scripts/|tools/|tests/).*\.py$
      - id: ruff-format
        files: ^(scripts/|tools/|tests/).*\.py$

# Configuration
default_stages: [pre-commit]
fail_fast: false

fix(des): correct data models with real SubagentStop hook schema (v1.5.0)
  docs/feature/des/design/data-models.md
Due: none

docs(research): add semantic-release best practices research
  data/research/cicd/semantic-release-best-practices.md
Due: none

fix(des): correct component boundaries with real SubagentStop hook schema (v1.5.0)
  docs/feature/des/design/component-boundaries.md
Due: none

fix(des): correct remaining design docs with real SubagentStop hook schema (v1.5.0)
  docs/feature/des/design/installation-architecture.md
  docs/feature/des/design/technology-stack.md
Due: none

docs(des): add solution-architect-reviewer approval for architecture v1.5.0
  docs/feature/des/design/architecture-design.md
Due: none

docs(des): add software-crafter-reviewer implementation feasibility review
  docs/feature/des/design/architecture-design.md
Due: none

fix(des): implement all 5 software-crafter-reviewer improvements (v1.6.0)
  docs/feature/des/design/architecture-design.md
Due: none

docs(des): add final verification review v1.6.0 - APPROVED 100%
  docs/feature/des/design/implementation-feasibility-review.md
Due: none

feat(des): complete DISTILL wave with US-001 E2E acceptance tests
  docs/feature/des/distill/acceptance-test-handoff.md
  tests/acceptance/README.md
  tests/acceptance/conftest.py
  tests/acceptance/test_us001_command_filtering.py
Due: formatter-availability

fix(des): resolve DISTILL review critical issues - proper Outside-In TDD RED state
  docs/feature/des/distill/acceptance-test-handoff.md
  tests/acceptance/test_us001_command_filtering.py
Due: formatter-availability

feat(des-01-01): GREEN_ACCEPTANCE - des_orchestrator fixture with DES validation markers
  des/__init__.py
  des/orchestrator.py
  docs/feature/des/baseline.yaml
  docs/feature/des/roadmap.yaml
  docs/feature/des/steps/01-01.json
  docs/feature/des/steps/02-01.json
  docs/feature/des/steps/02-02.json
  docs/feature/des/steps/02-03.json
  docs/feature/des/steps/02-04.json
  docs/feature/des/steps/02-05.json
  docs/feature/des/steps/03-01.json
  docs/feature/des/steps/04-01.json
  docs/feature/des/steps/04-02.json
  docs/feature/des/steps/04-03.json
  docs/feature/des/steps/04-04.json
  tests/acceptance/conftest.py
  tests/unit/des/test_orchestrator.py
Due: formatter-availability, yaml-validation

feat(des): implement des_orchestrator fixture - step 01-01
  des/orchestrator.py
  docs/feature/des/steps/01-01.json
Due: none

refactor(des): extract command detection into _get_validation_level() method
  des/orchestrator.py
  docs/feature/des/steps/03-01.json
  tests/unit/des/test_orchestrator.py
Due: formatter-availability

refactor(level-2): Extract DES marker generation helper method
  des/orchestrator.py
  docs/feature/des/steps/04-01.json
  tests/unit/des/test_orchestrator.py
Due: formatter-availability

feat(des): add error handling and edge cases to DESOrchestrator - step 04-02
  des/orchestrator.py
  docs/feature/des/steps/04-02.json
  tests/unit/des/test_orchestrator.py
Due: formatter-availability

test(des): complete quality validation for step 04-03 - all gates pass
  docs/feature/des/steps/04-03.json
Due: none

test(des): validate comprehensive unit test suite for DESOrchestrator
  docs/feature/des/steps/04-04.json
Due: none

feat(nwave): add step-to-scenario mapping constraint for Outside-In TDD
  README.md
  docs/principles/outside-in-tdd-step-mapping.md
  nWave/agents/solution-architect.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/version.md
  nWave/templates/step-tdd-cycle-schema.json
Due: nwave-version-bump, conflict-detection, yaml-validation

fix(install): correct build script path in install_nwave.py
  scripts/install/install_nwave.py
Due: conflict-detection, formatter-availability

docs: add step-to-scenario mapping documentation
  DOCUMENTATION_UPDATES_SUMMARY.md
  docs/DOCUMENTATION_STRUCTURE.md
  docs/guides/how-to-develop-wave-step-scenario-mapping.md
  docs/reference/nwave-commands-reference.md
  docs/reference/step-template-mapped-scenario-field.md
Due: none

docs: add build pipeline documentation and fix path references
  README.md
  docs/BUILD_PIPELINE_DOCUMENTATION_UPDATES.md
  docs/CI-CD-README.md
  docs/features/framework-rationalization/01-discuss/requirements.md
  docs/features/framework-rationalization/02-design/architecture.md
  docs/features/framework-rationalization/03-distill/test-data-requirements.md
  docs/guides/build-pipeline-guide.md
  scripts/install/README.md
Due: conflict-detection

feat(des): add DISTILL wave acceptance tests for US-002 through US-009
  docs/evolution/des-us001-evolution.md
  tests/acceptance/test_us002_template_validation.py
  tests/acceptance/test_us003_post_execution_validation.py
  tests/acceptance/test_us004_audit_trail.py
  tests/acceptance/test_us005_failure_recovery.py
  tests/acceptance/test_us006_turn_discipline.py
  tests/acceptance/test_us007_boundary_rules.py
  tests/acceptance/test_us008_stale_detection.py
  tests/acceptance/test_us009_learning_feedback.py
Due: formatter-availability

feat(des-us002): Implement pre-invocation template validator
  des/validator.py
  tests/acceptance/test_us002_template_validation.py
  tests/unit/test_validator.py
Due: formatter-availability

feat(des-us002): implement TDD phase detection with context-aware marker analysis
  .mutmut-cache
  des/validator.py
  docs/feature/des-us002/.develop-progress.json
  docs/feature/des-us002/baseline.yaml
  docs/feature/des-us002/roadmap.yaml
  docs/feature/des-us002/steps/01-01.json
  docs/feature/des-us002/steps/02-01.json
  docs/feature/des-us002/steps/02-02.json
  docs/feature/des-us002/steps/03-01.json
  docs/feature/des-us002/steps/04-01.json
  docs/feature/des-us002/steps/04-02.json
  docs/feature/des/steps/01-01.json
  docs/feature/des/steps/03-01.json
  docs/feature/des/steps/04-01.json
  docs/feature/des/steps/04-03.json
  tests/acceptance/test_us002_template_validation.py
  tests/unit/des/test_des_marker_validator.py
  tests/unit/des/test_validator.py
Due: formatter-availability, yaml-validation

feat(des-us002): implement DESMarkerValidator for prompt validation
  des/validator.py
  scripts/hooks/validate_tests.py
  tests/acceptance/test_us002_template_validation.py
  tests/unit/des/test_des_marker_validator.py
  tests/unit/des/test_validator.py
  tests/unit/test_template_validator.py
Due: conflict-detection, formatter-availability

feat(des-us002): complete all 6 step executions with 14-phase TDD
  docs/feature/des-us002/.develop-progress.json
  docs/feature/des-us002/steps/02-02.json
  docs/feature/des-us002/steps/03-01.json
  docs/feature/des-us002/steps/04-01.json
  docs/feature/des-us002/steps/04-02.json
  tests/acceptance/test_us002_template_validation.py
Due: formatter-availability

feat(des-us002): finalize DEVELOP wave with mutation testing and evolution documentation
  docs/evolution/des-us002-evolution.md
  docs/feature/des-us002/mutation-testing-report.json
  setup.cfg
Due: none

feat(nwave): add 5 countermeasures to prevent Testing Theatre
  README.md
  docs/principles/outside-in-tdd-step-mapping.md
  nWave/agents/acceptance-designer-reviewer.md
  nWave/agents/devop-reviewer.md
  nWave/agents/software-crafter-reviewer.md
  nWave/agents/solution-architect-reviewer.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/distill.md
  nWave/tasks/nw/execute.md
  nWave/tasks/nw/finalize.md
  nWave/tasks/nw/review.md
  nWave/tasks/nw/split.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(des-us002): integrate TemplateValidator into DESOrchestrator entry point
  des/orchestrator.py
  docs/feature/des-us002/resolution-plan.md
  docs/feature/des-us002/root-cause-analysis.md
  tests/acceptance/test_us002_template_validation.py
Due: formatter-availability

feat(des-us003): step 01-01 complete - SubagentStopHook implementation with 14-phase TDD
  des/hooks.py
  docs/feature/des-us003/steps/01-01.json
  tests/acceptance/test_us003_post_execution_validation.py
  tests/unit/des/test_hooks.py
Due: formatter-availability

fix(nwave): add CRITICAL INVARIANT gate to prevent incomplete finalize
  commands/nw/finalize.md
  scripts/validate_steps_complete.py
Due: conflict-detection, formatter-availability

fix(nwave): apply ruff-format to validate_steps_complete.py for CI/CD compliance
  scripts/validate_steps_complete.py
Due: conflict-detection, formatter-availability

feat(nwave): add CRITICAL INVARIANT gate (STEP 4.5) to finalize command
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/finalize.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(des): complete US-002 Template Validation (6/6 steps)
  .mutmut-cache
  des/hooks.py
  des/validator.py
  docs/evolution/2026-01-24-des-us002.md
  docs/feature/des-us002/.develop-progress.json
  docs/feature/des-us002/evolution.md
  docs/feature/des-us002/mutation-testing-report.json
  docs/feature/des-us002/steps/01-02.json
  docs/feature/des-us002/steps/02-01.json
  docs/feature/des-us002/steps/02-02.json
  docs/feature/des-us002/steps/04-02.json
  docs/feature/des-us003/baseline.yaml
  docs/feature/des-us003/roadmap.yaml
  docs/feature/des-us003/steps/01-01.json
  docs/feature/des-us003/steps/01-02.json
  docs/feature/des-us003/steps/01-03.json
  docs/feature/des-us003/steps/01-04.json
  docs/feature/des-us003/steps/01-05.json
  docs/feature/des-us003/steps/01-06.json
  docs/feature/des-us003/steps/01-07.json
  docs/feature/des-us003/steps/01-08.json
  nWave/tasks/nw/finalize.md
  pytest.ini
  src/des/__init__.py
  tests/acceptance/test_us002_template_validation.py
  tests/acceptance/test_us003_post_execution_validation.py
  tests/unit/des/test_hooks.py
  tests/unit/des/test_validator.py
  tests/unit/test_validator.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

feat(des-us003): implement silent completion detection (step 01-03)
  des/hooks.py
  docs/feature/des-us003/.develop-progress.json
  docs/feature/des-us003/steps/01-03.json
  tests/acceptance/conftest.py
  tests/acceptance/test_us003_post_execution_validation.py
  tests/unit/test_hooks_silent_completion.py
Due: formatter-availability

feat(des-us003): complete step 01-03 - silent completion detection
  docs/feature/des-us003/steps/01-03.json
Due: none
