Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation, shell-syntax-check

nwave-version-bump:
  name: nWave Version Auto-Increment
  entry: python3 scripts/hooks/version_bump.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

conflict-detection:
  name: Conflict Detection - Related Files
  entry: python3 scripts/hooks/detect_conflicts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

formatter-availability:
  name: Code Formatter Availability Check
  entry: python3 scripts/hooks/check_formatter_available.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

yaml-validation:
  name: YAML File Validation
  entry: python3 scripts/validation/validate_yaml_files.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

shell-syntax-check:
  name: Shell Script Syntax Check
  entry: bash -n
  language: system
  stages:
  - pre-commit

feat(acceptance): implement US-002 permission and disk space scenarios
  tests/acceptance/features/version-update-experience/test_update_steps.py
  tests/acceptance/features/version-update-experience/us-002-update-safely.feature
Due: formatter-availability

fix(ci): skip hook existence test in CI and fix ruff-format
  tests/acceptance/features/version-update-experience/test_update_steps.py
  tests/unit/git_workflow/test_commit_msg_hook.py
Due: formatter-availability

fix(ci): version-control commit-msg hook and copy in CI
  .github/workflows/ci-cd.yml
  scripts/hooks/commit-msg
  tests/unit/git_workflow/test_commit_msg_hook.py
Due: conflict-detection, formatter-availability, yaml-validation

feat(ci): add commitlint to validate commit messages in CI
  .github/workflows/ci-cd.yml
Due: yaml-validation

fix(ci): use pipenv for Python deps and fix cross-platform hooks
  .github/workflows/ci-cd.yml
  scripts/hooks/validate_docs.py
  scripts/hooks/validate_tests.py
Due: conflict-detection, formatter-availability, yaml-validation

fix(ci): enable UTF-8 mode for Windows Unicode support
  .github/workflows/ci-cd.yml
Due: yaml-validation

fix(ci): replace exception anti-pattern with platform detection
  .github/workflows/ci-cd.yml
Due: yaml-validation

feat(ci): add Windows cross-platform compatibility
  scripts/hooks/commit-msg
  scripts/hooks/commit_msg.py
  scripts/hooks/pre-push
  scripts/hooks/pre_push.py
  tests/acceptance/features/version-update-experience/conftest.py
  tests/acceptance/features/version-update-experience/test_update_steps.py
  tests/acceptance/features/version-update-experience/test_version_steps.py
  tests/unit/git_workflow/test_commit_msg_hook.py
Due: conflict-detection, formatter-availability

fix(tests): inherit system environment for Windows subprocess
  tests/acceptance/features/version-update-experience/test_version_steps.py
Due: formatter-availability

refactor(quality): comprehensive cleanup of tests and CI anti-patterns
  .github/workflows/ci-cd.yml
  scripts/hooks/commit-msg
  scripts/hooks/commit_msg.py
  scripts/hooks/pre_push.py
  scripts/hooks/validate_docs.py
  scripts/hooks/validate_tests.py
  tests/acceptance/features/version-update-experience/test_update_steps.py
  tests/acceptance/features/version-update-experience/test_version_steps.py
  tests/unit/git_workflow/test_commit_msg_hook.py
Due: conflict-detection, formatter-availability, yaml-validation

refactor(ci): redesign pipeline with explicit parallel jobs
  docs/architecture/cicd-pipeline-architecture.md
  tests/acceptance/features/version-update-experience/test_update_steps.py
Due: formatter-availability

style(tests): fix ruff formatting and remove cached files
  .gitignore
  .mutmut-cache
  tests/acceptance/features/version-update-experience/test_git_workflow_steps.py
  tests/acceptance/features/version-update-experience/test_update_steps.py
  tests/acceptance/features/version-update-experience/test_version_steps.py
  tests/acceptance/test_validator_acceptance.py
  tests/test_template_integrity.py
  tests/unit/backup/test_backup_cleanup.py
  tests/unit/git_workflow/test_commit_msg_hook.py
  tests/unit/version_management/test_changelog_parser.py
Due: formatter-availability

fix(ci): add packaging dependency for framework validation
  .github/workflows/ci-cd.yml
Due: yaml-validation

chore(hooks): remove dead shell-syntax-check hook
  .pre-commit-config.yaml
Due: yaml-validation

fix(tests): replace empty pass statements with real assertions
  tests/acceptance/features/version-update-experience/test_git_workflow_steps.py
Due: formatter-availability

style(tests): apply ruff formatting to step definitions
  tests/acceptance/features/version-update-experience/test_git_workflow_steps.py
Due: formatter-availability

feat(update): implement US-002 backup and update orchestration
  nWave/update/__init__.py
  nWave/update/backup_manager.py
  scripts/update/__init__.py
  scripts/update/backup_manager.py
  scripts/update/update_orchestrator.py
  tests/unit/test_backup_creation.py
  tests/unit/test_update_orchestrator.py
  tests/unit/update/test_backup_manager.py
Due: nwave-version-bump, conflict-detection, formatter-availability

style(update): apply ruff formatting to backup_manager
  scripts/update/backup_manager.py
Due: conflict-detection, formatter-availability

fix(tests): skip Unix permission test on Windows
  tests/unit/update/test_backup_manager.py
Due: formatter-availability

feat(backup): enable US-004 backup cleanup tests
  tests/unit/backup/test_backup_cleanup.py
Due: formatter-availability

style(tests): remove unused pytest import from backup cleanup tests
  tests/unit/backup/test_backup_cleanup.py
Due: formatter-availability

feat(hooks): enable US-006 pre-push validation tests
  tests/unit/git_workflow/test_prepush_validation.py
Due: formatter-availability

fix(tests): use sys.executable for Windows compatibility in pre-push tests
  tests/unit/git_workflow/test_prepush_validation.py
Due: formatter-availability

fix(tests): preserve PATH in pre-push test environment
  tests/unit/git_workflow/test_prepush_validation.py
Due: formatter-availability

fix(test): Fix 3 failing timeout monitoring tests by inlining step file creation
  des/adapters/claude_code_task_adapter.py
  des/adapters/environment_config_adapter.py
  des/adapters/in_memory_config_adapter.py
  des/adapters/mocked_task_adapter.py
  des/adapters/silent_logger.py
  des/adapters/structured_logger.py
  des/ports/__init__.py
  des/ports/config_port.py
  des/ports/logging_port.py
  des/ports/task_invocation_port.py
  docs/feature/des/steps/phase2-enhanced-ports.json
  tests/integration/test_enhanced_ports.py
  tests/unit/des/test_config_port.py
  tests/unit/des/test_logging_port.py
  tests/unit/des/test_orchestrator_execute_step.py
  tests/unit/des/test_task_invocation_port.py
  tests/unit/des/test_timeout_monitor.py
Due: formatter-availability

feat(backup): implement US-004 backup cleanup scenarios
  tests/acceptance/features/version-update-experience/test_update_steps.py
  tests/acceptance/features/version-update-experience/us-004-backup-cleanup.feature
Due: formatter-availability

feat(hooks): implement US-006 VERSION file missing scenario
  tests/acceptance/features/version-update-experience/test_git_workflow_steps.py
  tests/acceptance/features/version-update-experience/us-006-prepush-validation.feature
Due: formatter-availability

feat(changelog): implement US-007 changelog generation scenarios
  pytest.log
  tests/acceptance/features/version-update-experience/pytest.log
  tests/acceptance/features/version-update-experience/test_git_workflow_steps.py
  tests/acceptance/features/version-update-experience/us-007-changelog-generation.feature
Due: formatter-availability

style(tests): apply ruff formatting to US-007 step definitions
  tests/acceptance/features/version-update-experience/test_git_workflow_steps.py
Due: formatter-availability

refactor(des): Complete hexagonal architecture restructuring
  tests/des/unit/adapters/test_des_marker_validator.py
Due: formatter-availability

feat(des-us004): Complete Step 01-01 - 14-phase TDD cycle for AuditLogger append-only implementation
  docs/feature/des-us004/baseline.yaml
  docs/feature/des-us004/roadmap.yaml
  docs/feature/des-us004/steps/01-01.json
  docs/feature/des-us004/steps/01-02.json
  docs/feature/des-us004/steps/01-03.json
  docs/feature/des-us004/steps/02-01.json
  docs/feature/des-us004/steps/02-02.json
  docs/feature/des-us004/steps/02-03.json
  docs/feature/des-us004/steps/02-04.json
  docs/feature/des-us004/steps/03-01.json
  docs/feature/des-us004/steps/03-02.json
  src/des/adapters/driven/logging/audit_events.py
  src/des/adapters/driven/logging/audit_logger.py
  src/des/application/orchestrator.py
  tests/acceptance/test_us004_audit_trail.py
  tests/unit/des/test_audit_logger_01_01.py
Due: formatter-availability, yaml-validation

feat(des/us004): Complete Audit Trail implementation with comprehensive tests
  docs/reference/audit-trail-compliance-verification.md
  tests/acceptance/test_us004_audit_trail.py
  tests/unit/des/test_audit_logger_unit.py
Due: formatter-availability

feat(des/us005): Orchestrate baseline, roadmap, and split phases for Failure Recovery
  docs/feature/des-us005/baseline.yaml
  docs/feature/des-us005/roadmap.yaml
  docs/feature/des-us005/steps/01-01.json
  docs/feature/des-us005/steps/01-02.json
  docs/feature/des-us005/steps/02-01.json
  docs/feature/des-us005/steps/02-02.json
  docs/feature/des-us005/steps/02-03.json
  docs/feature/des-us005/steps/02-04.json
  docs/feature/des-us005/steps/02-05.json
  docs/feature/des-us005/steps/03-01.json
  docs/feature/des-us005/steps/03-02.json
  docs/feature/des-us005/steps/03-03.json
  docs/feature/des-us005/steps/03-04.json
  docs/feature/des-us005/steps/03-05.json
Due: yaml-validation

docs(evolution): Archive US-004 (Audit Trail) completion summary
  docs/evolution/2026-01-27-des-us004.md
Due: none

refactor(des): Remove backward compatibility shims, enforce pure hexagonal architecture
  src/des/adapters/claude_code_task_adapter.py
  src/des/adapters/environment_config_adapter.py
  src/des/adapters/in_memory_config_adapter.py
  src/des/adapters/mocked_task_adapter.py
  src/des/adapters/silent_logger.py
  src/des/adapters/structured_logger.py
  src/des/adapters/validator.py
  src/des/config_loader.py
  src/des/hooks.py
  src/des/invocation_limits_validator.py
  src/des/orchestrator.py
  src/des/validator.py
  tests/acceptance/conftest.py
  tests/acceptance/test_us002_template_validation.py
  tests/acceptance/test_us003_post_execution_validation.py
  tests/acceptance/test_us004_pre_invocation_limits.py
  tests/acceptance/test_us004_turn_counting.py
  tests/acceptance/test_us008_stale_detection.py
  tests/conftest.py
  tests/des/acceptance/test_us002_template_validation.py
  tests/des/acceptance/test_us004_pre_invocation_limits.py
  tests/des/unit/adapters/drivers/validators/test_des_marker_validator.py
  tests/des/unit/ports/test_config_port.py
  tests/des/unit/ports/test_logging_port.py
  tests/des/unit/ports/test_task_invocation_port.py
  tests/test_config_turn_limits.py
  tests/unit/test_invocation_limits_validator.py
  tests/unit/test_template_validator.py
Due: formatter-availability

feat(us005): Implement core recovery infrastructure - Phase 1
  .des/audit/audit-2026-01-27.log
  docs/reference/recovery-guidance-handler-api.md
  src/des/application/recovery_guidance_handler.py
  tests/acceptance/test_us005_failure_recovery.py
  tests/feature/des-us005/.develop-progress.json
  tests/unit/des/test_recovery_guidance_handler.py
  tests/unit/des/test_recovery_suggestions.py
Due: formatter-availability

Path conditions:
  nwave-version-bump: any of: ^(nWave/|tools/), but not: version\.md$
  conflict-detection: any of: ^(nWave/|scripts/|tools/)
  formatter-availability: any of: ^(scripts/|tools/|tests/).*\.py$
  yaml-validation: any of: \.(yaml|yml)$
  shell-syntax-check: any of: ^tests/acceptance/.*\.sh$
