Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, pytest-validation, conflict-detection, formatter-availability, yaml-validation

nwave-version-bump:
  name: nWave Version Auto-Increment
  entry: python3 scripts/hooks/version_bump.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-validation:
  name: Pytest Test Validation
  entry: python3 scripts/hooks/validate_tests.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

conflict-detection:
  name: Conflict Detection - Related Files
  entry: python3 scripts/hooks/detect_conflicts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

formatter-availability:
  name: Code Formatter Availability Check
  entry: python3 scripts/hooks/check_formatter_available.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

yaml-validation:
  name: YAML File Validation
  entry: python3 scripts/validation/validate_yaml_files.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(des-hook-enforcement): add retrospective analysis to evolution document
  docs/evolution/20260203_134125_des-hook-enforcement.md
Due: none

chore(des-hook-enforcement): clean up workflow artifacts after finalization
  .nwave-audit.log
  docs/feature/des-hook-enforcement/distill/README.md
  docs/feature/des-hook-enforcement/distill/test-scenarios.md
  docs/feature/des-hook-enforcement/execution-status.yaml
  docs/feature/des-hook-enforcement/mutation/.gitignore
  docs/feature/des-hook-enforcement/mutation/cosmic-ray-feature.toml
  docs/feature/des-hook-enforcement/roadmap.yaml
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
  src/des/adapters/drivers/hooks/real_hook.py
Due: pytest-validation, yaml-validation

feat(mutation): add feature-scoped mutation testing for 10-50x speed improvement
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/mutation-test.md
  nWave/tasks/nw/version.md
  scripts/mutation/generate_scoped_configs.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

docs(plugin-architecture): journey design and doc alignment
  docs/feature/plugin-architecture/handover-to-solution-architect.md
  docs/feature/plugin-architecture/journey-plugin-implementation-visual.md
  docs/feature/plugin-architecture/journey-plugin-implementation.yaml
  docs/feature/plugin-architecture/nwave-installer-current-implementation.md
  docs/feature/plugin-architecture/nwave-plugin-development-guide.md
  docs/feature/plugin-architecture/nwave-plugin-system-architecture.md
  docs/feature/plugin-architecture/nwave-plugin-system-summary.md
Due: yaml-validation

docs(plugin-architecture): design refinement by solution-architect
  docs/feature/plugin-architecture/architecture-decisions.md
  docs/feature/plugin-architecture/design-refinement-summary.md
  docs/feature/plugin-architecture/design.md
  docs/feature/plugin-architecture/nwave-plugin-system-architecture.md
  docs/feature/plugin-architecture/prerequisites.md
Due: none

docs(plugin-architecture): distill wave acceptance tests
  docs/feature/plugin-architecture/acceptance-tests.feature
  docs/feature/plugin-architecture/walking-skeleton.md
Due: none

docs(nwave): refine distill command with test directory structure
  README.md
  nWave/checklists/distill-wave-checklist.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/distill.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

refactor(tests): reorganize acceptance tests per DISTILL convention
  docs/feature/plugin-architecture/acceptance-tests.feature
  tests/nwave/plugin-architecture/acceptance/integration-checkpoints.feature
  tests/nwave/plugin-architecture/acceptance/milestone-1-infrastructure.feature
  tests/nwave/plugin-architecture/acceptance/milestone-2-wrapper-plugins.feature
  tests/nwave/plugin-architecture/acceptance/milestone-3-switchover.feature
  tests/nwave/plugin-architecture/acceptance/milestone-4-des-plugin.feature
  tests/nwave/plugin-architecture/acceptance/milestone-5-testing-docs.feature
  tests/nwave/plugin-architecture/acceptance/milestone-6-deployment.feature
  tests/nwave/plugin-architecture/acceptance/steps/__init__.py
  tests/nwave/plugin-architecture/acceptance/steps/common_steps.py
  tests/nwave/plugin-architecture/acceptance/steps/conftest.py
  tests/nwave/plugin-architecture/acceptance/steps/installer_steps.py
  tests/nwave/plugin-architecture/acceptance/steps/plugin_steps.py
  tests/nwave/plugin-architecture/acceptance/steps/registry_steps.py
  tests/nwave/plugin-architecture/acceptance/steps/verification_steps.py
  tests/nwave/plugin-architecture/acceptance/walking-skeleton.feature
Due: pytest-validation, formatter-availability

feat(plugin-architecture): Walking Skeleton - AgentsPlugin E2E (step 01-01)
  scripts/install/plugins/agents_plugin.py
  tests/nwave/plugin-architecture/acceptance/conftest.py
  tests/nwave/plugin-architecture/acceptance/test_walking_skeleton.py
  tests/nwave/plugin-architecture/unit/__init__.py
  tests/nwave/plugin-architecture/unit/test_agents_plugin.py
Due: pytest-validation, conflict-detection, formatter-availability

feat(plugin-architecture): implement CommandsPlugin wrapper (step 01-02)
  scripts/install/plugins/commands_plugin.py
  tests/install/test_wrapper_plugins.py
Due: pytest-validation, conflict-detection, formatter-availability

feat(plugin-architecture): implement TemplatesPlugin wrapper (step 01-03)
  scripts/install/plugins/templates_plugin.py
  tests/install/test_wrapper_plugins.py
  tests/nwave/plugin-architecture/unit/test_templates_plugin.py
Due: pytest-validation, conflict-detection, formatter-availability

feat(plugin-architecture): implement UtilitiesPlugin wrapper (step 01-04)
  docs/feature/plugin-architecture/execution-status.yaml
  scripts/install/plugins/utilities_plugin.py
  tests/install/test_wrapper_plugins.py
  tests/nwave/plugin-architecture/unit/test_utilities_plugin.py
Due: pytest-validation, conflict-detection, formatter-availability, yaml-validation

feat(plugin-architecture): validate multi-plugin dependency resolution (step 01-05)
  tests/nwave/plugin-architecture/integration/__init__.py
  tests/nwave/plugin-architecture/integration/test_multi_plugin.py
  tests/nwave/plugin-architecture/unit/test_commands_plugin.py
Due: pytest-validation, formatter-availability

feat(plugin-architecture): switchover install_framework() to PluginRegistry (step 02-01)
  scripts/install/install_nwave.py
  scripts/install_nwave_target_hooks.py
  scripts/validate_step_file.py
  tests/install/test_install_framework_plugin_integration.py
  tests/nwave/plugin-architecture/acceptance/test_milestone_3_switchover.py
Due: pytest-validation, conflict-detection, formatter-availability

feat(plugin-architecture): behavioral equivalence validation (step 02-02)
  tests/nwave/plugin-architecture/fixtures/__init__.py
  tests/nwave/plugin-architecture/fixtures/baseline_snapshot.py
  tests/nwave/plugin-architecture/integration/test_behavioral_equivalence.py
Due: pytest-validation, formatter-availability

feat(plugins): implement rollback mechanism for failed installations
  scripts/install/plugins/registry.py
  tests/nwave/plugin-architecture/acceptance/test_rollback_mechanism.py
  tests/nwave/plugin-architecture/unit/test_rollback_mechanism.py
Due: pytest-validation, conflict-detection, formatter-availability

feat(plugin-architecture): add DES plugin prerequisite acceptance tests (step 03-01)
  docs/feature/plugin-architecture/execution-status.yaml
  tests/nwave/plugin-architecture/acceptance/test_des_prerequisites.py
Due: pytest-validation, formatter-availability, yaml-validation

feat(plugin-architecture): implement DESPlugin with dependency resolution
  scripts/install/plugins/des_plugin.py
  tests/nwave/plugin-architecture/acceptance/test_des_plugin.py
Due: pytest-validation, conflict-detection, formatter-availability

chore(plugin-architecture): update execution-status for step 03-02 completion
  docs/feature/plugin-architecture/execution-status.yaml
Due: yaml-validation

feat(plugin-architecture): DES import and script validation (step 03-03)
  tests/nwave/plugin-architecture/integration/test_des_import_validation.py
  tests/nwave/plugin-architecture/unit/test_des_plugin.py
Due: pytest-validation, formatter-availability

feat(plugin-architecture): DESPlugin graceful failure handling (step 03-04)
  scripts/install/plugins/des_plugin.py
  tests/nwave/plugin-architecture/acceptance/test_des_plugin_graceful_failure.py
  tests/nwave/plugin-architecture/unit/test_des_plugin_errors.py
Due: pytest-validation, conflict-detection, formatter-availability

test(plugin-architecture): add unit tests to achieve >80% coverage
  tests/nwave/plugin-architecture/unit/test_coverage_gaps.py
Due: pytest-validation, formatter-availability

feat(plugin-architecture): selective installation and uninstallation (step 04-02)
  scripts/install/plugins/registry.py
  tests/install/test_plugin_registry.py
  tests/install/test_selective_plugin_installation.py
Due: pytest-validation, conflict-detection, formatter-availability

feat(plugin-architecture): upgrade scenario testing (step 04-03)
  tests/nwave/plugin-architecture/integration/test_upgrade_scenarios.py
Due: pytest-validation, formatter-availability

chore(plugin-architecture): version bump to 1.7.0 (step 05-01)
  CHANGELOG.md
  pyproject.toml
Due: none

feat(plugin-architecture): end-to-end user journey validation (step 05-02)
  tests/nwave/plugin-architecture/e2e/__init__.py
  tests/nwave/plugin-architecture/e2e/test_user_journey.py
Due: pytest-validation, formatter-availability

docs(plugin-architecture): add retrospective to evolution document
  docs/architecture/tests-reorganization-plan.md
  docs/evolution/2026-02-03-plugin-architecture.md
  docs/feature/des-hook-enforcement/archive/distill/README.md
  docs/feature/des-hook-enforcement/archive/distill/test-scenarios.md
  docs/feature/des-hook-enforcement/archive/execution-status.yaml
  docs/feature/des-hook-enforcement/archive/mutation/.gitignore
  docs/feature/des-hook-enforcement/archive/mutation/cosmic-ray-adapter-full.toml
  docs/feature/des-hook-enforcement/archive/mutation/cosmic-ray-adapter.toml
  docs/feature/des-hook-enforcement/archive/mutation/cosmic-ray-feature.toml
  docs/feature/des-hook-enforcement/archive/mutation/mutation-report.md
  docs/feature/des-hook-enforcement/archive/roadmap.yaml
  docs/feature/plugin-architecture/mutation/cosmic-ray-plugins.toml
  docs/feature/plugin-architecture/mutation/mutation-report.md
  docs/feature/plugin-architecture/roadmap-old-v1.yaml
  docs/feature/plugin-architecture/roadmap-old-v2.yaml
  docs/feature/plugin-architecture/roadmap.yaml
  scripts/install/plugins/agents_plugin.py
  scripts/install/plugins/des_plugin.py
  scripts/install/plugins/utilities_plugin.py
  scripts/validate_step_file.py
  tests/install/test_install_framework_plugin_integration.py
  tests/nwave/plugin-architecture/acceptance/steps/common_steps.py
  tests/nwave/plugin-architecture/acceptance/steps/conftest.py
  tests/nwave/plugin-architecture/acceptance/steps/plugin_steps.py
  tests/nwave/plugin-architecture/acceptance/steps/registry_steps.py
  tests/nwave/plugin-architecture/acceptance/test_des_plugin_graceful_failure.py
  tests/nwave/plugin-architecture/acceptance/test_des_prerequisites.py
  tests/nwave/plugin-architecture/acceptance/test_milestone_3_switchover.py
  tests/nwave/plugin-architecture/unit/test_des_plugin_errors.py
Due: pytest-validation, conflict-detection, formatter-availability, yaml-validation

chore(finalize): complete plugin-architecture feature cleanup
  docs/architecture/nwave-plugin-development-guide.md
  docs/architecture/nwave-plugin-system-architecture.md
  docs/architecture/nwave-plugin-system-summary.md
  docs/feature/plugin-architecture/README.md
  docs/feature/plugin-architecture/architecture-decisions.md
  docs/feature/plugin-architecture/design-refinement-summary.md
  docs/feature/plugin-architecture/design.md
  docs/feature/plugin-architecture/execution-status.yaml
  docs/feature/plugin-architecture/handover-to-solution-architect.md
  docs/feature/plugin-architecture/journey-plugin-implementation-visual.md
  docs/feature/plugin-architecture/journey-plugin-implementation.yaml
  docs/feature/plugin-architecture/mutation/cosmic-ray-plugins.toml
  docs/feature/plugin-architecture/mutation/mutation-report.md
  docs/feature/plugin-architecture/nwave-installer-current-implementation.md
  docs/feature/plugin-architecture/prerequisites.md
  docs/feature/plugin-architecture/roadmap-old-v1.yaml
  docs/feature/plugin-architecture/roadmap-old-v2.yaml
  docs/feature/plugin-architecture/roadmap.yaml
  docs/feature/plugin-architecture/walking-skeleton.md
Due: yaml-validation

docs(architecture): update plugin docs status to IMPLEMENTED
  docs/architecture/nwave-plugin-development-guide.md
  docs/architecture/nwave-plugin-system-architecture.md
  docs/architecture/nwave-plugin-system-summary.md
Due: none

docs(plugin-architecture): add DIVIO reference documentation
  data/research/plugin-architecture-for-reference-doc.md
  docs/reference/nwave-plugin-architecture.md
  docs/review/ACTION_ITEMS.md
  docs/review/REFERENCE_REVIEW_SUMMARY.md
  docs/review/nwave-plugin-architecture-review.yaml
Due: yaml-validation

feat(finalize): add documentation phase to finalization workflow
  README.md
  commands/nw/finalize.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/finalize.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

fix(ci): resolve dependency desync and linting issues
  Pipfile
  Pipfile.lock
  docs/evolution/2026-02-03-des-hook-enforcement.md
  scripts/install/plugins/__init__.py
  scripts/install/plugins/base.py
  src/crafter_ai/installer/checks/pypi_checks.py
  src/des/__init__.py
  src/des/adapters/driven/__init__.py
  src/des/adapters/driven/config/__init__.py
  src/des/adapters/driven/config/des_config.py
  src/des/adapters/driven/validation/__init__.py
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
  src/des/adapters/drivers/hooks/real_hook.py
  src/des/application/orchestrator.py
  src/des/application/tdd_template_loader.py
  tests/des/unit/adapters/driven/logging/test_audit_events_hook_types.py
  tests/des/unit/adapters/drivers/hooks/test_real_hook_audit.py
  tests/des/unit/application/test_orchestrator_validate_prompt_audit.py
  tests/des/unit/application/test_tdd_template_loader.py
  tests/des/unit/install/test_install_des_hooks.py
  tests/des/unit/test_validator_schema_versioning.py
  tests/install/test_des_plugin.py
  tests/install/test_selective_plugin_installation.py
  tests/install/test_wrapper_plugins.py
  tests/nwave/plugin-architecture/acceptance/test_des_plugin_acceptance.py
  tests/unit/test_validator.py
  tests/unit/versioning/update/test_update_service.py
Due: pytest-validation, conflict-detection, formatter-availability

fix(tests): resolve CI/CD test failures
  tests/cli/conftest.py
  tests/conftest.py
  tests/des/acceptance/conftest.py
  tests/des/acceptance/test_hook_enforcement_steps.py
  tests/des/unit/adapters/drivers/hooks/test_claude_code_hook_adapter.py
  tests/installer/cli/test_forge_build.py
  tests/installer/cli/test_forge_install.py
  tests/installer/cli/test_install_nwave.py
Due: pytest-validation, formatter-availability

fix(tests): resolve CI ANSI escape code assertion failures
  tests/cli/conftest.py
  tests/conftest.py
  tests/installer/cli/test_forge_build.py
  tests/installer/cli/test_forge_install.py
  tests/installer/cli/test_install_nwave.py
  tests/installer/cli/test_nw_doctor.py
  tests/installer/cli/test_nw_rollback.py
  tests/installer/cli/test_nw_setup.py
  tests/installer/cli/test_nw_version.py
  tests/installer/conftest.py
Due: pytest-validation, formatter-availability

fix(tests): resolve remaining CI test failures
  tests/installer/services/test_auto_repair_service.py
  tests/installer/services/test_celebration_service.py
  tests/installer/services/test_progress_display_service.py
  tests/nwave/plugin-architecture/integration/test_des_import_validation.py
  tests/nwave/plugin-architecture/unit/test_coverage_gaps.py
Due: pytest-validation, formatter-availability

fix(ci): build IDE bundle before running tests
  .github/workflows/ci-cd.yml
  tests/nwave/plugin-architecture/integration/test_des_import_validation.py
Due: pytest-validation, formatter-availability, yaml-validation

fix(ci): remove invalid --clean flag from build_ide_bundle
  .github/workflows/ci-cd.yml
Due: yaml-validation

feat(agents): add behavior-first test budget enforcement (G8)
  README.md
  nWave/agents/software-crafter-reviewer.md
  nWave/agents/software-crafter.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

refactor(agents): extract Mikado Method to dedicated agent
  README.md
  nWave/agents/mikado-refactorer.md
  nWave/agents/software-crafter.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

refactor(agents): compress software-crafter header and PART 6
  README.md
  nWave/agents/software-crafter.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

Path conditions:
  nwave-version-bump: any of: ^(nWave/|tools/), but not: version\.md$
  pytest-validation: any of: ^(tests/|src/des/).*\.py$
  conflict-detection: any of: ^(nWave/|scripts/|tools/)
  formatter-availability: any of: ^(scripts/|tools/|tests/).*\.py$, but not: \.json$
  yaml-validation: any of: \.(yaml|yml)$
