Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation, shell-syntax-check

nwave-version-bump:
  name: nWave Version Auto-Increment
  entry: python3 scripts/hooks/version_bump.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

conflict-detection:
  name: Conflict Detection - Related Files
  entry: python3 scripts/hooks/detect_conflicts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

formatter-availability:
  name: Code Formatter Availability Check
  entry: python3 scripts/hooks/check_formatter_available.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

yaml-validation:
  name: YAML File Validation
  entry: python3 scripts/validation/validate_yaml_files.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

shell-syntax-check:
  name: Shell Script Syntax Check
  entry: bash -n
  language: system
  stages:
  - pre-commit

feat(nwave): add AGENT PROMPT REINFORCEMENT to command templates
  docs/feature/des-us004/baseline.yaml
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/baseline.md
  nWave/tasks/nw/execute.md
  nWave/tasks/nw/finalize.md
  nWave/tasks/nw/review.md
  nWave/tasks/nw/roadmap.md
  nWave/tasks/nw/split.md
  nWave/tasks/nw/version.md
  nWave/templates/COMMAND_TEMPLATE.yaml
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(nwave): add AGENT PROMPT REINFORCEMENT to command templates
  nWave/tasks/nw/baseline.md
  nWave/tasks/nw/execute.md
  nWave/tasks/nw/finalize.md
  nWave/tasks/nw/review.md
  nWave/tasks/nw/roadmap.md
  nWave/tasks/nw/split.md
  nWave/templates/COMMAND_TEMPLATE.yaml
Due: nwave-version-bump, conflict-detection, yaml-validation

chore(des-us004): Complete step 03-02 tracking - TimeoutMonitor implementation
  docs/feature/des-us004/steps/03-02.json
Due: none

feat(des-us004): Implement request_extension method in DESOrchestrator - step 06-01
  des/orchestrator.py
  docs/feature/des-us004/steps/06-01.json
Due: none

chore(des-us004): Add commit hash to step 06-01
  docs/feature/des-us004/steps/06-01.json
Due: none

feat(des-us004): Add timeout warning to agent prompt context (04-02)
  des/hooks.py
  des/invocation_limits_validator.py
  des/orchestrator.py
  docs/feature/des-us002/baseline.yaml
  docs/feature/des-us002/evolution.md
  docs/feature/des-us002/resolution-plan.md
  docs/feature/des-us002/roadmap.yaml
  docs/feature/des-us002/root-cause-analysis.md
  docs/feature/des-us002/steps/01-01.json
  docs/feature/des-us002/steps/01-02.json
  docs/feature/des-us002/steps/02-01.json
  docs/feature/des-us002/steps/02-02.json
  docs/feature/des-us002/steps/03-01.json
  docs/feature/des-us002/steps/04-01.json
  docs/feature/des-us002/steps/04-02.json
  docs/feature/des-us004/steps/04-01.json
  docs/feature/des-us004/steps/04-02.json
  docs/feature/des-us004/steps/06-02.json
  docs/feature/des-us004/steps/08-01.json
  docs/feature/des-us004/steps/09-01.json
  docs/feature/des-us004/steps/10-01.json
  docs/feature/des-us004/steps/10-02.json
  tests/acceptance/test_us003_post_execution_validation.py
  tests/acceptance/test_us004_e2e_wiring.py
  tests/acceptance/test_us004_pre_invocation_limits.py
  tests/acceptance/test_us004_turn_counting.py
  tests/acceptance/test_us006_turn_discipline.py
  tests/test_scenario_014_agent_receives_timeout_warnings_in_prompt.py
  tests/test_scenario_015_extension_request_approved_updates_limits.py
  tests/test_scenario_016_agent_can_request_extension_via_api.py
  tests/unit/des/test_hooks.py
  tests/unit/des/test_orchestrator_e2e_wiring.py
  tests/unit/des/test_orchestrator_prompt_warnings.py
  tests/unit/test_invocation_limits_validator.py
  update_step_phase.py
Due: formatter-availability, yaml-validation

refactor(des-us004): Remove Extension API - complete cleanup
  des/extension_api.md
  des/extension_api.py
  des/extension_approval.py
  des/orchestrator.py.backup
  docs/SCOPE_CREEP_ANALYSIS_US004.md
  docs/US004_SCOPE_ANALYSIS.md
  docs/feature/des-us004/steps/04-01.json
  docs/feature/des-us004/steps/04-02.json
  docs/feature/des-us004/steps/06-02.json
  docs/feature/des-us004/steps/08-01.json
  docs/feature/des-us004/steps/09-01.json
  docs/feature/des-us004/steps/10-01.json
  docs/feature/des-us004/steps/10-02.json
  tests/acceptance/test_us003_post_execution_validation.py
  tests/acceptance/test_us004_e2e_wiring.py
  tests/acceptance/test_us004_pre_invocation_limits.py
  tests/acceptance/test_us006_turn_discipline.py
  tests/test_scenario_015_extension_request_approved_updates_limits.py
  tests/test_scenario_016_agent_can_request_extension_via_api.py
  tests/unit/des/test_extension_api.py
  tests/unit/des/test_extension_approval.py
  tests/unit/des/test_orchestrator_e2e_wiring.py
  tests/unit/des/test_orchestrator_prompt_warnings.py
  tests/unit/des/test_orchestrator_request_extension.py
  tests/unit/test_invocation_limits_validator.py
Due: formatter-availability

fix(orchestrator): add missing return in _generate_des_markers
  des/orchestrator.py
Due: none

docs(des-us006): add traceability mapping to US-006 acceptance criteria
  docs/feature/des-us006/roadmap.yaml
Due: yaml-validation

feat(checkpoint): Add CHECKPOINT_PENDING prefix for TDD checkpoint commits
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/hooks/pre_commit_tdd_phases.py
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

docs(checkpoint): Add TDD checkpoint commit strategy to execute.md
  nWave/tasks/nw/execute.md
Due: nwave-version-bump, conflict-detection

docs(checkpoint): Add post-finalize commit/push to develop.md
  nWave/tasks/nw/develop.md
Due: nwave-version-bump, conflict-detection

docs(checkpoint): Add commit/push phase to finalize.md
  nWave/tasks/nw/finalize.md
Due: nwave-version-bump, conflict-detection

docs(checkpoint): Document CHECKPOINT_PENDING in schema.json
  nWave/templates/step-tdd-cycle-schema.json
Due: nwave-version-bump, conflict-detection

feat(checkpoint): Add CHECKPOINT_PENDING prefix for TDD checkpoint commits
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/hooks/pre_commit_tdd_phases.py
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

docs(session): Save session state checkpoint for 2026-01-25
  SESSION_STATE_2026-01-25.md
Due: none

feat(design): Add mandatory existing system analysis before designing
  README.md
  nWave/agents/solution-architect.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/design.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(design): Add mandatory existing system analysis before designing
  nWave/agents/solution-architect.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/design.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(version-update): Add DESIGN and DISTILL wave artifacts for version update experience
  docs/features/version-update-experience/02-design/architecture-design.md
  docs/features/version-update-experience/02-design/component-boundaries.md
  docs/features/version-update-experience/02-design/data-models.md
  docs/features/version-update-experience/02-design/diagrams/context-diagram.md
  docs/features/version-update-experience/02-design/technology-stack.md
  tests/acceptance/features/version-update-experience/ACCEPTANCE_TEST_SUMMARY.md
  tests/acceptance/features/version-update-experience/README.md
  tests/acceptance/features/version-update-experience/conftest.py
  tests/acceptance/features/version-update-experience/pytest.ini
  tests/acceptance/features/version-update-experience/test_git_workflow_steps.py
  tests/acceptance/features/version-update-experience/test_update_steps.py
  tests/acceptance/features/version-update-experience/test_version_steps.py
  tests/acceptance/features/version-update-experience/us-001-check-version.feature
  tests/acceptance/features/version-update-experience/us-002-update-safely.feature
  tests/acceptance/features/version-update-experience/us-003-breaking-changes.feature
  tests/acceptance/features/version-update-experience/us-004-backup-cleanup.feature
  tests/acceptance/features/version-update-experience/us-005-commit-enforcement.feature
  tests/acceptance/features/version-update-experience/us-006-prepush-validation.feature
  tests/acceptance/features/version-update-experience/us-007-changelog-generation.feature
Due: formatter-availability

feat(version-update-experience): Complete DEVELOP wave preparation
  docs/features/version-update-experience/04-develop/baseline.yaml
  docs/features/version-update-experience/04-develop/roadmap.yaml
  docs/features/version-update-experience/04-develop/steps/01-01.json
  docs/features/version-update-experience/04-develop/steps/01-02.json
  docs/features/version-update-experience/04-develop/steps/01-03.json
  docs/features/version-update-experience/04-develop/steps/01-04.json
  docs/features/version-update-experience/04-develop/steps/01-05.json
  docs/features/version-update-experience/04-develop/steps/01-06.json
  docs/features/version-update-experience/04-develop/steps/01-07.json
  docs/features/version-update-experience/04-develop/steps/01-08.json
  docs/features/version-update-experience/04-develop/steps/02-01.json
  docs/features/version-update-experience/04-develop/steps/02-02.json
  docs/features/version-update-experience/04-develop/steps/02-03.json
  docs/features/version-update-experience/04-develop/steps/03-01.json
  docs/features/version-update-experience/04-develop/steps/03-02.json
  docs/features/version-update-experience/04-develop/steps/04-01.json
  docs/features/version-update-experience/04-develop/steps/04-02.json
  docs/features/version-update-experience/04-develop/steps/04-03.json
  docs/features/version-update-experience/04-develop/steps/04-04.json
  docs/features/version-update-experience/04-develop/steps/04-05.json
  docs/features/version-update-experience/04-develop/steps/04-06.json
  docs/features/version-update-experience/04-develop/steps/05-01.json
  docs/features/version-update-experience/04-develop/steps/05-02.json
  docs/features/version-update-experience/04-develop/steps/05-03.json
  docs/features/version-update-experience/04-develop/steps/05-04.json
Due: yaml-validation

feat(git-workflow): implement commitlint validation hook
  .commitlintrc.json
  tests/unit/git_workflow/test_commit_msg_hook.py
  tests/unit/git_workflow/test_commitlint_config.py
Due: formatter-availability

feat(version-update): Add unit test for scoped commit validation - step 01-02
  docs/features/version-update-experience/04-develop/steps/01-01.json
  docs/features/version-update-experience/04-develop/steps/01-02.json
  docs/features/version-update-experience/04-develop/steps/03-01.json
  docs/features/version-update-experience/04-develop/steps/04-01.json
  docs/features/version-update-experience/04-develop/steps/04-04.json
  pytest.log
  scripts/hooks/pre-push
  tests/acceptance/features/version-update-experience/conftest.py
  tests/acceptance/features/version-update-experience/pytest.ini
  tests/acceptance/features/version-update-experience/pytest.log
  tests/acceptance/features/version-update-experience/test_git_workflow_steps.py
  tests/acceptance/features/version-update-experience/test_update_steps.py
  tests/acceptance/features/version-update-experience/test_version_steps.py
  tests/acceptance/features/version-update-experience/us-001-check-version.feature
  tests/acceptance/features/version-update-experience/us-002-update-safely.feature
  tests/acceptance/features/version-update-experience/us-003-breaking-changes.feature
  tests/acceptance/features/version-update-experience/us-004-backup-cleanup.feature
  tests/acceptance/features/version-update-experience/us-005-commit-enforcement.feature
  tests/acceptance/features/version-update-experience/us-006-prepush-validation.feature
  tests/acceptance/features/version-update-experience/us-007-changelog-generation.feature
  tests/unit/git_workflow/test_commit_msg_hook.py
  tests/unit/git_workflow/test_prepush_validation.py
  tests/unit/version/__init__.py
  tests/unit/version/test_version_manager.py
  tests/unit/version_management/__init__.py
  tests/unit/version_management/test_version_comparator.py
Due: conflict-detection, formatter-availability

feat(version-update): Enable breaking change commit test - step 01-03
  docs/features/version-update-experience/04-develop/steps/01-03.json
  docs/features/version-update-experience/04-develop/steps/01-05.json
  nWave/core/__init__.py
  nWave/core/version_management/__init__.py
  nWave/core/version_management/changelog_parser.py
  nWave/core/version_management/version_comparator.py
  pytest.log
  src/nwave/__init__.py
  src/nwave/version/__init__.py
  src/nwave/version/version_manager.py
  tests/acceptance/features/version-update-experience/pytest.log
  tests/acceptance/features/version-update-experience/test_update_steps.py
  tests/acceptance/features/version-update-experience/us-005-commit-enforcement.feature
  tests/unit/backup/test_backup_cleanup.py
  tests/unit/update/test_backup_manager.py
  tests/unit/version_management/test_changelog_parser.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(version-update): Implement major version breaking change warning - step 03-01
  README.md
  nWave/core/version_management/changelog_parser.py
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  src/nwave/__init__.py
  src/nwave/version/__init__.py
  src/nwave/version/version_manager.py
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(version): Implement VersionManager for local version checking
  src/nwave/__init__.py
  src/nwave/version/__init__.py
  src/nwave/version/version_manager.py
Due: none

chore(develop): Update step files and test artifacts (checkpoint)
  docs/features/version-update-experience/04-develop/steps/03-01.json
  docs/features/version-update-experience/04-develop/steps/03-02.json
  docs/features/version-update-experience/04-develop/steps/04-01.json
  docs/features/version-update-experience/04-develop/steps/04-04.json
  nWave/VERSION
  nWave/__init__.py
  nWave/infrastructure/__init__.py
  nWave/infrastructure/backup_manager.py
  pytest.log
  setup.py
  tests/acceptance/features/version-update-experience/pytest.log
  tests/acceptance/features/version-update-experience/test_update_steps.py
  tests/acceptance/features/version-update-experience/us-002-update-safely.feature
  tests/acceptance/features/version-update-experience/us-003-breaking-changes.feature
  tests/acceptance/features/version-update-experience/us-005-commit-enforcement.feature
  tests/unit/backup/test_backup_cleanup.py
  tests/unit/test_backup_creation.py
  tests/unit/test_update_orchestrator.py
  tests/unit/update/test_backup_manager.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(templates): Add concise baseline/roadmap/step templates with BUILD:INJECT
  .gitignore
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/baseline.md
  nWave/tasks/nw/roadmap.md
  nWave/tasks/nw/split.md
  nWave/tasks/nw/version.md
  nWave/templates/baseline-compact.yaml
  nWave/templates/roadmap-compact.yaml
  nWave/templates/step-template.json
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(build): Implement BUILD:INJECT support in command_processor
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  tools/processors/command_processor.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

fix(des): Fix scope violation in E2E wiring test and enhance ExecuteStepResult
  .gitignore
  des/hooks.py
  des/orchestrator.py
  tests/acceptance/test_us004_e2e_wiring.py
  tests/unit/des/test_orchestrator_e2e_wiring.py
  tests/unit/des/test_orchestrator_execute_step.py
Due: formatter-availability

fix(tests): resolve local quality gate failures
  .releaserc
  Pipfile
  Pipfile.lock
  docs/features/TODO.md
  docs/features/version-update-experience/04-develop/steps/03-01.json
  tests/acceptance/features/version-update-experience/conftest.py
  tests/acceptance/features/version-update-experience/test_update_steps.py
  tests/acceptance/features/version-update-experience/test_version_steps.py
  tests/acceptance/features/version-update-experience/us-002-update-safely.feature
  tests/acceptance/features/version-update-experience/us-003-breaking-changes.feature
  tests/unit/backup/test_backup_cleanup.py
  tests/unit/git_workflow/test_prepush_validation.py
Due: formatter-availability

chore: add pytest.log to gitignore
  .gitignore
Due: none

fix(release): all commit types trigger patch version bump
  .releaserc
Due: none

fix(release): revert non-functional commits to no release
  .releaserc
Due: none

feat(acceptance): implement 4 high-priority scenarios for US-001 and US-002
  tests/acceptance/features/version-update-experience/test_update_steps.py
  tests/acceptance/features/version-update-experience/us-001-check-version.feature
  tests/acceptance/features/version-update-experience/us-002-update-safely.feature
Due: formatter-availability

fix(ci): use Pipfile as single source of truth for dependencies
  .github/workflows/ci-cd.yml
  docs/analysis/root-cause-analysis.md
  docs/features/version-update-experience/04-develop/steps/04-04.json
  tests/acceptance/features/version-update-experience/test_git_workflow_steps.py
  tests/acceptance/features/version-update-experience/test_update_steps.py
  tests/unit/backup/test_backup_cleanup.py
  tests/unit/git_workflow/test_prepush_validation.py
  tests/unit/test_backup_creation.py
  tests/unit/test_update_orchestrator.py
  tests/unit/update/test_backup_manager.py
  tests/unit/version/test_version_manager.py
  tests/unit/version_management/test_changelog_parser.py
  tests/unit/version_management/test_version_comparator.py
Due: formatter-availability, yaml-validation

Path conditions:
  nwave-version-bump: any of: ^(nWave/|tools/), but not: version\.md$
  conflict-detection: any of: ^(nWave/|scripts/|tools/)
  formatter-availability: any of: ^(scripts/|tools/|tests/).*\.py$
  yaml-validation: any of: \.(yaml|yml)$
  shell-syntax-check: any of: ^tests/acceptance/.*\.sh$
