Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation, shell-syntax-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for AI-Craft nWave Framework
# Install: pip install pre-commit && pre-commit install
# Manual run: pre-commit run --all-files

repos:
  # Local hooks for nWave framework
  - repo: local
    hooks:
      # Phase 0: Auto-increment version when nWave files are modified
      - id: nwave-version-bump
        name: nWave Version Auto-Increment
        entry: python3 scripts/hooks/version_bump.py
        language: system
        files: ^(nWave/|tools/)
        exclude: version\.md$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 1: Run pytest test suite
      - id: pytest-validation
        name: Pytest Test Validation
        entry: python3 scripts/hooks/validate_tests.py
        language: system
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

      # Phase 2: Documentation version validation
      - id: docs-version-validation
        name: Documentation Version Validation
        entry: python3 scripts/hooks/validate_docs.py
        language: system
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

      # Phase 4: Conflict detection between related files
      - id: conflict-detection
        name: Conflict Detection - Related Files
        entry: python3 scripts/hooks/detect_conflicts.py
        language: system
        files: ^(nWave/|scripts/|tools/)
        pass_filenames: false
        stages: [pre-commit]

      # Phase 4: Code formatter availability check
      - id: formatter-availability
        name: Code Formatter Availability Check
        entry: python3 scripts/hooks/check_formatter_available.py
        language: system
        files: ^(scripts/|tools/|tests/).*\.py$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 5: YAML validation (mirrors CI/CD validation)
      - id: yaml-validation
        name: YAML File Validation
        entry: python3 scripts/validation/validate_yaml_files.py
        language: system
        files: \.(yaml|yml)$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 6: Shell script syntax validation (bash -n)
      # Note: Only for acceptance test scripts in tests/acceptance/
      - id: shell-syntax-check
        name: Shell Script Syntax Check
        entry: bash -n
        language: system
        files: ^tests/acceptance/.*\.sh$
        stages: [pre-commit]

  # Shellcheck linting (optional - non-blocking if not installed)
  # Note: Only for acceptance test scripts in tests/acceptance/
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-x]
        files: ^tests/acceptance/.*\.sh$
        stages: [pre-commit]

  # Standard hooks from pre-commit repository
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(dist/|\.git/)
      - id: end-of-file-fixer
        exclude: ^(dist/|\.git/)
      - id: check-yaml
        exclude: ^(dist/|\.git/)
      - id: check-json
        exclude: ^(dist/|\.git/)
      - id: check-merge-conflict
      - id: detect-private-key

  # Python linting and formatting with Ruff (replaces black, flake8, isort)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^(scripts/|tools/|tests/).*\.py$
      - id: ruff-format
        files: ^(scripts/|tools/|tests/).*\.py$

# Configuration
default_stages: [pre-commit]
fail_fast: false

fix(install): add log line for verification counts
  scripts/install/install_nwave.py
Due: conflict-detection, formatter-availability

chore: add .des/ to gitignore
  .des/audit/audit-2026-01-27.log
  .des/audit/audit-2026-01-28.log
  .des/audit/audit-2026-01-29.log
  .gitignore
Due: none

feat(breaking): remove split command - schema v2.0 migration complete
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/split.md
  nWave/tasks/nw/version.md
  scripts/validation/validate_steps.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

test: remove obsolete step file tests
  tests/test_step_file_format.py
  tests/test_template_integrity.py
Due: formatter-availability

chore(des-us007): Complete step 01-02 - verify BOUNDARY_RULES structure
  docs/feature/des-us007-boundary-rules/execution-status.yaml
  tests/des/acceptance/test_us007_boundary_rules.py
Due: formatter-availability, yaml-validation

chore(des-us007): Update execution status for step 01-02 completion
  docs/feature/des-us007-boundary-rules/execution-status.yaml
Due: yaml-validation

feat(des-us007): Verify /nw:develop command includes BOUNDARY_RULES - step 01-03
  docs/feature/des-us007-boundary-rules/execution-status.yaml
  tests/des/acceptance/test_us007_boundary_rules.py
Due: formatter-availability, yaml-validation

chore(des-us007): Update execution status for step 01-03 completion
  docs/feature/des-us007-boundary-rules/execution-status.yaml
Due: yaml-validation

feat(des-us007): Create BoundaryRulesGenerator with orchestrator integration - step 02-01
  docs/feature/des-us007-boundary-rules/execution-status.yaml
  src/des/application/boundary_rules_generator.py
  src/des/application/orchestrator.py
  src/des/templates/boundary_rules_template.py
  tests/des/acceptance/test_us007_boundary_rules.py
  tests/des/unit/test_boundary_rules_generator.py
Due: formatter-availability, yaml-validation

chore(des-us007): Update execution status for step 02-01 completion
  docs/feature/des-us007-boundary-rules/execution-status.yaml
Due: yaml-validation

feat(des-us007): Implement glob pattern conversion for target_files - step 02-02
  docs/feature/des-us007-boundary-rules/execution-status.yaml
  src/des/application/boundary_rules_generator.py
  tests/des/unit/test_boundary_rules_generator.py
Due: formatter-availability, yaml-validation

feat(des-us007): Enhance FORBIDDEN section with comprehensive scope prohibitions - step 02-03
  docs/feature/des-us007-boundary-rules/execution-status.yaml
  src/des/templates/boundary_rules_template.py
  tests/des/acceptance/test_us007_boundary_rules.py
  tests/des/unit/test_boundary_rules_template.py
Due: formatter-availability, yaml-validation

chore(des-us007): Update execution status for step 02-03 completion
  docs/feature/des-us007-boundary-rules/execution-status.yaml
Due: yaml-validation

feat(des-us007): Add CAPS emphasis and Marcus reference to continuation prohibition - step 02-04
  docs/feature/des-us007-boundary-rules/execution-status.yaml
  src/des/templates/boundary_rules_template.py
  tests/des/acceptance/test_us007_boundary_rules.py
  tests/des/unit/test_boundary_rules_template.py
Due: formatter-availability, yaml-validation

chore(des-us007): Update execution status for step 02-04 completion
  docs/feature/des-us007-boundary-rules/execution-status.yaml
Due: yaml-validation

feat(des-us007): Create ScopeValidator with git diff integration and error handling - step 03-01
  .execute-command-updated
  docs/feature/des-us007-boundary-rules/execution-status.yaml
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/execute.md
  nWave/tasks/nw/version.md
  src/des/validation/__init__.py
  src/des/validation/prompt_validator.py
  src/des/validation/scope_validator.py
  tests/des/acceptance/test_us007_boundary_rules.py
  tests/des/unit/test_scope_validator.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

chore(des-us007): Update execution status for step 03-01 completion
  docs/feature/des-us007-boundary-rules/execution-status.yaml
Due: yaml-validation

feat(nwave): add /nw:update command for framework updates
  nWave/tasks/nw/update.md
Due: nwave-version-bump, conflict-detection

style: apply ruff formatting to DES test files
  tests/des/acceptance/test_us007_boundary_rules.py
  tests/des/unit/test_boundary_rules_generator.py
  tests/des/unit/test_boundary_rules_template.py
Due: formatter-availability

fix(tests): create minimal_step_file fixture content
  tests/des/conftest.py
Due: formatter-availability

feat(des-us007): Validate in-scope file modifications pass validation - step 03-02
  docs/feature/des-us007-boundary-rules/execution-status.yaml
  src/des/validation/__init__.py
  tests/des/acceptance/test_us007_boundary_rules.py
  tests/des/unit/test_scope_validator.py
Due: formatter-availability, yaml-validation

chore(des-us007): Update execution status for step 03-02 completion
  docs/feature/des-us007-boundary-rules/execution-status.yaml
Due: yaml-validation

feat(des-us007): Add implicit allowlist for step file modification - step 03-03
  docs/feature/des-us007-boundary-rules/execution-status.yaml
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/version.md
  src/des/validation/scope_validator.py
  tests/des/acceptance/test_us007_boundary_rules.py
  tests/des/unit/test_scope_validator.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

feat(des-us007): Integrate ScopeValidator with SubagentStopHook - step 03-04
  docs/feature/des-us007-boundary-rules/execution-status.yaml
  src/des/adapters/drivers/hooks/real_hook.py
  src/des/ports/driver_ports/hook_port.py
  tests/des/unit/adapters/drivers/hooks/test_scope_validation_integration.py
Due: formatter-availability, yaml-validation

chore(des-us007): Update execution status for step 03-04 completion
  docs/feature/des-us007-boundary-rules/execution-status.yaml
Due: yaml-validation

feat(des-us007): Add SCOPE_VIOLATION event type to AuditLogger - step 04-01
  docs/feature/des-us007-boundary-rules/execution-status.yaml
  src/des/adapters/driven/logging/audit_logger.py
  tests/des/acceptance/test_us007_boundary_rules.py
  tests/des/unit/adapters/driven/logging/test_audit_logger_scope_violation.py
Due: formatter-availability, yaml-validation

chore(des-us007): Update execution status for step 04-01 completion
  docs/feature/des-us007-boundary-rules/execution-status.yaml
Due: yaml-validation

feat(des-us007): Integrate ScopeValidator violations with AuditLogger in SubagentStopHook - step 04-02
  docs/feature/des-us007-boundary-rules/execution-status.yaml
  src/des/adapters/drivers/hooks/real_hook.py
  tests/des/acceptance/test_us007_boundary_rules.py
  tests/des/unit/adapters/drivers/hooks/test_audit_logging_integration.py
Due: formatter-availability, yaml-validation

chore(des-us007): Update execution status for step 04-02 completion
  docs/feature/des-us007-boundary-rules/execution-status.yaml
Due: yaml-validation

feat(des-us007): Validate multiple scope violations generate separate audit entries - step 04-03
  docs/feature/des-us007-boundary-rules/execution-status.yaml
  tests/des/acceptance/test_us007_boundary_rules.py
Due: formatter-availability, yaml-validation

feat(des-us007): Validate clean executions produce no warning logs - step 04-04
  docs/feature/des-us007-boundary-rules/execution-status.yaml
  tests/des/acceptance/test_us007_boundary_rules.py
  tests/des/unit/adapters/drivers/hooks/test_clean_execution_silence.py
Due: formatter-availability, yaml-validation

chore(des-us007): Update execution status for step 04-04 completion
  docs/feature/des-us007-boundary-rules/execution-status.yaml
Due: yaml-validation

feat(des-us007-04-05): Verify BOUNDARY_RULES validation blocks missing section - step 04-05
  docs/feature/des-us007-boundary-rules/execution-status.yaml
  tests/des/acceptance/test_us007_boundary_rules.py
Due: formatter-availability, yaml-validation

feat(des-us007): Finalize and archive project - all 16 steps complete
  .gitignore
  docs/evolution/2026-01-30-des-us007-boundary-rules.md
  docs/feature/des-us007-boundary-rules/mutation-testing-report.md
Due: none

feat(des-us007): Complete mutation testing with 94.12% score using Cosmic Ray
  .gitignore
  data/research/mutation-testing-solutions-comprehensive-research.md
  docs/feature/des-us007-boundary-rules/mutation-testing-report.md
Due: none

docs(des-us007): Finalize evolution document with mutation testing results
  docs/evolution/2026-01-30-des-us007-boundary-rules.md
Due: none

feat(develop): Make mutation testing mandatory with Cosmic Ray as primary tool
  Pipfile
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(nwave): Prevent incomplete scope coverage in mutation testing quality gates
  docs/feature/des-us007-boundary-rules/mutation-testing-report.md
  docs/feature/des-us007-boundary-rules/mutation/cosmic-ray-generator.toml
  docs/feature/des-us007-boundary-rules/mutation/cosmic-ray-template.toml
  docs/feature/des-us007-boundary-rules/mutation/cosmic-ray-validator.toml
  docs/feature/des-us007-boundary-rules/mutation/mutation-report.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/execute.md
  nWave/tasks/nw/finalize.md
  nWave/tasks/nw/mutation-test.md
  nWave/tasks/nw/version.md
  nWave/templates/execution-status-template.yaml
  nWave/templates/roadmap-compact.yaml
Due: nwave-version-bump, conflict-detection, yaml-validation

chore: Remove obsolete Schema v1.x hook installer
  .pre-commit-config.yaml
  scripts/install_nwave_target_hooks.py
  tests/des/acceptance/test_us007_boundary_rules.py
  tests/des/unit/adapters/drivers/hooks/test_clean_execution_silence.py
  tests/test_install_nwave_target_hooks.py
Due: conflict-detection, formatter-availability, yaml-validation
