Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, conflict-detection, formatter-availability

.pre-commit-config.yaml:

# Pre-commit hooks configuration for AI-Craft nWave Framework
# Install: pip install pre-commit && pre-commit install
# Manual run: pre-commit run --all-files

repos:
  # Local hooks for nWave framework
  - repo: local
    hooks:
      # Phase 0: Auto-increment version when nWave files are modified
      - id: nwave-version-bump
        name: nWave Version Auto-Increment
        entry: scripts/hooks/version-bump.sh
        language: script
        files: ^(nWave/|tools/)
        exclude: version\.md$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 1: Run pytest test suite
      - id: pytest-validation
        name: Pytest Test Validation
        entry: scripts/hooks/validate-tests.sh
        language: script
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

      # Phase 2: Documentation version validation
      - id: docs-version-validation
        name: Documentation Version Validation
        entry: scripts/hooks/validate-docs.sh
        language: script
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

      # Phase 4: Conflict detection between related files
      - id: conflict-detection
        name: Conflict Detection - Related Files
        entry: scripts/hooks/detect-conflicts.sh
        language: script
        files: ^(nWave/|scripts/|tools/)
        pass_filenames: false
        stages: [pre-commit]

      # Phase 4: Code formatter availability check
      - id: formatter-availability
        name: Code Formatter Availability Check
        entry: scripts/hooks/check-formatter-available.sh
        language: script
        files: ^(scripts/|tools/|tests/).*\.py$
        pass_filenames: false
        stages: [pre-commit]

  # Standard hooks from pre-commit repository
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(dist/|\.git/)
      - id: end-of-file-fixer
        exclude: ^(dist/|\.git/)
      - id: check-yaml
        exclude: ^(dist/|\.git/|nWave/templates/)
      - id: check-json
        exclude: ^(dist/|\.git/)
      - id: check-merge-conflict
      - id: detect-private-key

  # Python linting and formatting with Ruff (replaces black, flake8, isort)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^(scripts/|tools/|tests/).*\.py$
      - id: ruff-format
        files: ^(scripts/|tools/|tests/).*\.py$

# Configuration
default_stages: [pre-commit]
fail_fast: false

[FRAMEWORK] p5-02 through p5-05: Archive creation, checksums, version, README
  nWave/validators/release_validation.py
  tests/test_release_validation.py
  tests/validation/cross_phase_validation.py
Due: nwave-version-bump, conflict-detection, formatter-availability

[FRAMEWORK] p5-06 through p5-08: Complete error detection and validation
  nWave/scripts/release_package.py
Due: nwave-version-bump, conflict-detection

[FRAMEWORK] p5-complete: Add comprehensive Phase 5 implementation summary
  docs/features/framework-rationalization/04-develop/PHASE_5_SUMMARY.md
Due: none

cross-01: Validate full DISCUSS→DESIGN→DISTILL→DEVELOP workflow integration
  docs/cross-phase/cross-01-workflow-integration.md
Due: none

cross-02: Validate release workflow from commit through installation
  docs/cross-phase/cross-02-release-workflow.md
Due: none

cross-03: Validate Claude Code agent and nWave Codex framework consistency
  docs/cross-phase/cross-03-claude-codex-consistency.md
Due: none

cross-04: Validate command template compliance and syntax requirements
  docs/cross-phase/cross-04-command-template-compliance.md
Due: none

cross-05: Validate cross-platform path handling and compatibility
  docs/cross-phase/cross-05-cross-platform-paths.md
Due: none

p4-07: Implement agent-catalog conflict detection hook
  scripts/hooks/agent-catalog-conflict-detection.sh
  scripts/hooks/formatter-tools-availability.sh
Due: conflict-detection

cross-06: Validate marker conflict detection and resolution workflows
  docs/cross-phase/cross-06-marker-conflict-detection.md
Due: none

cross-07: Validate interruption recovery and system resilience mechanisms
  docs/cross-phase/cross-07-interruption-recovery.md
Due: none

[FRAMEWORK] p6-01: Create CI workflow with matrix testing on Ubuntu, macOS, Windows.
  .github/workflows/ci.yml
Due: none

[FRAMEWORK] p6-02: Add installer dry-run testing for Unix systems.
  .github/workflows/ci.yml
Due: none

[FRAMEWORK] p6-03: Add installer dry-run testing for Windows systems.
  .github/workflows/ci.yml
Due: none

[FRAMEWORK] p6-04: Create release workflow triggered by version tags.
  .github/workflows/ci.yml
Due: none

[FRAMEWORK] p6-05: Add build and packaging steps to release workflow.
  .github/workflows/ci.yml
Due: none

[FRAMEWORK] p6-06: Add GitHub release creation with artifact upload.
  .github/workflows/ci.yml
Due: none

[FRAMEWORK] p6-07: Validate build error handling in release workflow.
  .github/workflows/ci.yml
Due: none

[FRAMEWORK] p6-08: Validate dependency error handling in CI
  docs/features/framework-rationalization/04-develop/steps/p6-08-missing-deps-implementation.md
Due: none

[FRAMEWORK] p6-09: Add version consistency check to release workflow
  docs/features/framework-rationalization/04-develop/steps/p6-09-version-mismatch-implementation.md
Due: none

[FRAMEWORK] p6-10: Document rate limit handling in release workflow
  docs/features/framework-rationalization/04-develop/steps/p6-10-rate-limit-implementation.md
Due: none

[FRAMEWORK] p6-11: Implement installation conflict detection
  docs/features/framework-rationalization/04-develop/steps/p6-11-installer-conflict-implementation.md
Due: none

docs(review): Comprehensive roadmap quality assurance complete
  .github/workflows/ci-cd-pipeline.yml
  README.md
  docs/features/framework-rationalization/04-develop/REVIEW_COMPLETE.md
  docs/features/framework-rationalization/04-develop/baseline.yaml
  docs/features/framework-rationalization/04-develop/roadmap.yaml
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/data/radical-candor.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  package.json
  tests/acceptance/acceptance-tests.feature
  tools/utils/dependency_resolver.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(framework-rationalization): Phase 7.5 mutation testing integration complete
  docs/features/framework-rationalization/04-develop/REVIEW_COMPLETE.md
  docs/features/framework-rationalization/04-develop/roadmap.yaml
Due: none

fix(baseline): Apply 8 factual corrections from Phase C review
  docs/features/framework-rationalization/04-develop/baseline.yaml
Due: none

fix(nw:design): Add ORCHESTRATOR BRIEFING for agent delegation
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/design.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection

fix(nw:distill): Add ORCHESTRATOR BRIEFING for agent delegation
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/distill.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection

fix(nw:deliver): Add ORCHESTRATOR BRIEFING for agent delegation
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/deliver.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection

fix(nw:diagram): Add ORCHESTRATOR BRIEFING for agent delegation
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/diagram.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection

fix(nw:research): Add ORCHESTRATOR BRIEFING for agent delegation
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/research.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection

fix(nw:refactor): Add ORCHESTRATOR BRIEFING for agent delegation
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/refactor.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection

fix(nw:mikado): Add ORCHESTRATOR BRIEFING for agent delegation
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/mikado.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection

chore(git): Add .nwave/ workflow state directory to .gitignore
  .gitignore
Due: none

chore(root): Clean up root directory and organize test files
  .gitignore
  docs/reports/testing/test-p206-results.md
  tests/test_path_traversal.py
Due: formatter-availability

docs: add comprehensive consolidation and naming cleanup plans
  DOCS_CONSOLIDATION_PLAN.md
  NAMING_CLEANUP_PLAN.md
  SCRIPTS_CONSOLIDATION_PLAN.md
Due: none

refactor(docs): consolidate documentation structure for clarity
  README.md
  docs/archive/cross-wave-content/cross-01-workflow-integration.md
  docs/archive/cross-wave-content/cross-02-release-workflow.md
  docs/archive/cross-wave-content/cross-03-claude-codex-consistency.md
  docs/archive/cross-wave-content/cross-04-command-template-compliance.md
  docs/archive/cross-wave-content/cross-05-cross-platform-paths.md
  docs/archive/cross-wave-content/cross-06-marker-conflict-detection.md
  docs/archive/cross-wave-content/cross-07-interruption-recovery.md
  docs/diagrams/develop-workflow-sequence.md
  docs/features/framework-rationalization/03-distill/baseline.yaml
  docs/features/framework-rationalization/reports/framework/FRAMEWORK_CLEANUP_SUMMARY.md
  docs/features/framework-rationalization/reports/framework/FRAMEWORK_PROPAGATION_FINAL_REPORT.md
  docs/features/framework-rationalization/reports/framework/PRODUCTION_FRAMEWORKS_IMPLEMENTATION_REPORT.md
  docs/features/framework-rationalization/reports/production/PRODUCTION_READINESS_REPORT.md
  docs/features/framework-rationalization/reports/validation/AGENT_TEMPLATE_COMPLIANCE_ANALYSIS.md
  docs/features/framework-rationalization/reports/validation/COMPLIANCE_VALIDATION_REPORT.md
  docs/features/framework-rationalization/reports/validation/MANUAL_COMPLIANCE_CHECK.md
  docs/features/framework-rationalization/reports/validation/VALIDATION_IMPLEMENTATION_SUMMARY.md
  docs/features/tdd-phase-enforcement/PLAN.md
  docs/guides/CI-CD-README.md
  docs/guides/ide-bundling-algorithm.md
  docs/guides/jobs-to-be-done-guide.md
  docs/guides/knowledge-architecture-analysis.md
  docs/guides/knowledge-architecture-integration-summary.md
  docs/research/data-engineering/data-engineering-comprehensive-research-20251003.md
  docs/research/data-engineering/database-querying-design-security-governance-20251003-150123.md
  docs/research/data-engineering/databases-data-engineering-20251003-143424.md
  docs/research/data-engineering/nosql-querying-20251003-174827.md
  docs/research/data-engineering/sql-querying-practical-examples-20251003-165818.md
  nWave/agents/data-engineer-reviewer.md
  nWave/agents/data-engineer.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/data/embed/data-engineer/04-comprehensive-overview.md
  nWave/data/research/data-engineering-comprehensive-research-20251003.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection

feat(scripts): create validation module in scripts/validation/
  scripts/validation/__init__.py
  scripts/validation/coordinator.py
  scripts/validation/validate_agents.py
  scripts/validation/validate_commands.py
  scripts/validation/validate_formatter_env.py
  scripts/validation/validate_readme_index.py
  scripts/validation/validate_steps.py
Due: conflict-detection, formatter-availability

refactor(scripts): move framework scripts to scripts/framework/
  scripts/archive/migrate_step_files.py
  scripts/framework/release_package.py
  scripts/framework/release_packager.py
  scripts/framework/release_validation.py
  scripts/framework/validate_tdd_phases_ci.py
Due: conflict-detection, formatter-availability

refactor(tests): update import paths for moved validators
  scripts/framework/release_package.py
  tests/acceptance/test_validator_acceptance.py
  tests/test_release_packaging.py
  tests/test_release_validation.py
  tests/test_step_file_format.py
Due: conflict-detection, formatter-availability
