Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation, shell-syntax-check

nwave-version-bump:
  name: nWave Version Auto-Increment
  entry: python3 scripts/hooks/version_bump.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

conflict-detection:
  name: Conflict Detection - Related Files
  entry: python3 scripts/hooks/detect_conflicts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

formatter-availability:
  name: Code Formatter Availability Check
  entry: python3 scripts/hooks/check_formatter_available.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

yaml-validation:
  name: YAML File Validation
  entry: python3 scripts/validation/validate_yaml_files.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

shell-syntax-check:
  name: Shell Script Syntax Check
  entry: bash -n
  language: system
  stages:
  - pre-commit

feat(ci-cd): add Slack notifications for pipeline failures
  .github/workflows/ci-cd.yml
  docs/architecture/slack-notifications-architecture.md
  docs/operations/IMPLEMENTATION_SUMMARY.md
  docs/operations/README.md
  docs/operations/slack-notifications-setup.md
  docs/operations/slack-notifications-testing.md
Due: yaml-validation

fix(ci-cd): add installer branch to workflow triggers
  .github/workflows/ci-cd.yml
Due: yaml-validation

test(ci-cd): temporary failing test to verify Slack notifications
  tests/test_slack_notification_trigger.py
Due: formatter-availability

fix(ci-cd): correct Slack action parameters
  .github/workflows/ci-cd.yml
Due: yaml-validation

test(ci-cd): remove temporary failing test - Slack notifications verified
  tests/test_slack_notification_trigger.py
Due: formatter-availability

test(slack): trigger RED notification test
  tests/test_notification_red_green.py
Due: formatter-availability

fix(slack): update real Slack user IDs + trigger GREEN notification
  .github/workflows/ci-cd.yml
  tests/test_notification_red_green.py
Due: formatter-availability, yaml-validation

test(slack): trigger RED notification with state tracking
  tests/test_notification_red_green.py
Due: formatter-availability

fix(slack): fix timestamp formatting + trigger GREEN notification
  .github/workflows/ci-cd.yml
  tests/test_notification_red_green.py
Due: formatter-availability, yaml-validation

feat(slack): expand notifications to all branches + cleanup
  .github/workflows/ci-cd.yml
  docs/design/ux/JOURNEY_COMPLETE.md
  docs/design/ux/journey-cicd-notifications-visual.md
  docs/design/ux/journey-cicd-notifications.feature
  docs/design/ux/journey-cicd-notifications.yaml
  docs/design/ux/shared-artifacts-registry.md
  docs/design/ux/slack-block-kit-examples.json
  docs/operations/slack-notifications-testing.md
  tests/test_notification_red_green.py
Due: formatter-availability, yaml-validation

feat(epic): design modern_CLI_installer journey epic
  docs/design/ux/journey-forge-build-local-visual.md
  docs/design/ux/journey-forge-build-local.feature
  docs/design/ux/journey-forge-build-local.yaml
  docs/design/ux/journey-forge-install-local-candidate-visual.md
  docs/design/ux/journey-forge-install-local-candidate.feature
  docs/design/ux/journey-forge-install-local-candidate.yaml
  docs/design/ux/journey-install-nwave-visual.md
  docs/design/ux/journey-install-nwave.feature
  docs/design/ux/journey-install-nwave.yaml
  docs/design/ux/shared/doctor-health-check.yaml
  docs/design/ux/shared/pre-flight-checks.yaml
  docs/design/ux/shared/shared-artifacts.yaml
  docs/discuss/modern_CLI_installer/discovery.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/data/config/installer.yaml
  nWave/data/config/urls.yaml
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(discuss): add user stories for modern_CLI_installer epic
  docs/discuss/modern_CLI_installer/user-stories.md
Due: none

chore: add MIT license
  LICENSE
Due: none

chore: update LICENSE copyright holders
  LICENSE
Due: none

docs(plugin-arch): resolve HIGH severity design review issues
  docs/feature/plugin-architecture/design.md
Due: none

feat(nwave): add roadmap quality gates to reduce over-decomposition and token waste
  nWave/agents/solution-architect-reviewer.md
  nWave/agents/solution-architect.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/roadmap.md
  nWave/tasks/nw/version.md
  nWave/templates/roadmap-compact.yaml
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(plugin-arch): plugin infrastructure and wrapper plugins
  CHANGELOG.md
  README.md
  docs/reference/des-audit-trail-guide.md
  nWave/VERSION
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/scripts/des/check_stale_phases.py
  nWave/scripts/des/scope_boundary_check.py
  nWave/tasks/nw/version.md
  nWave/templates/.des-audit-README.md
  nWave/templates/.pre-commit-config-nwave.yaml
  scripts/install/plugins/__init__.py
  scripts/install/plugins/agents_plugin.py
  scripts/install/plugins/base.py
  scripts/install/plugins/commands_plugin.py
  scripts/install/plugins/des_plugin.py
  scripts/install/plugins/registry.py
  scripts/install/plugins/templates_plugin.py
  scripts/install/plugins/utilities_plugin.py
  tests/install/test_des_plugin.py
  tests/install/test_plugin_registry.py
  tests/install/test_wrapper_plugins.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

feat(00-01): green - minimal stub adapter
  docs/feature/des-hook-enforcement/distill/README.md
  docs/feature/des-hook-enforcement/distill/test-scenarios.md
  docs/feature/des-hook-enforcement/execution-status.yaml
  docs/feature/des-hook-enforcement/roadmap.yaml
  docs/feature/plugin-architecture/README.md
  docs/feature/plugin-architecture/execution-status.yaml
  docs/feature/plugin-architecture/roadmap-old.yaml
  docs/feature/plugin-architecture/roadmap.yaml
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
  tests/des/acceptance/conftest.py
  tests/des/acceptance/test_hook_enforcement.feature
  tests/des/acceptance/test_hook_enforcement_steps.py
  tests/des/acceptance/test_us009_learning_feedback.py
  tests/des/unit/adapters/drivers/hooks/test_claude_code_hook_adapter.py
Due: formatter-availability, yaml-validation

feat(00-01): done - walking skeleton complete
  docs/feature/des-hook-enforcement/execution-status.yaml
Due: yaml-validation

feat(nwave): add decision gates to TDD phases
  nWave/cli/monitor_step_cli.py
  nWave/templates/step-tdd-cycle-schema.json
  tests/des/unit/adapters/driven/logging/test_audit_events_hook_types.py
Due: nwave-version-bump, conflict-detection, formatter-availability

fix(pre-commit): exclude JSON files from ruff linter
  .pre-commit-config.yaml
Due: yaml-validation

feat(des-hook-enforcement): add hook audit event types - step 01-01
  docs/feature/des-hook-enforcement/execution-status.yaml
  src/des/adapters/driven/logging/audit_events.py
Due: yaml-validation

docs(des-hook-enforcement): mark step 01-01 complete
  docs/feature/des-hook-enforcement/execution-status.yaml
Due: yaml-validation

feat(01-02): done - orchestrator audit logging complete
  README.md
  docs/feature/des-hook-enforcement/execution-status.yaml
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  pytest.ini
  src/des/application/orchestrator.py
  test_import_debug.py
  tests/des/acceptance/conftest.py
  tests/des/acceptance/test_hook_enforcement_steps.py
  tests/des/unit/adapters/driven/logging/test_audit_events_hook_types.py
  tests/des/unit/application/test_orchestrator_validate_prompt_audit.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

docs(01-02): update execution status - step complete
  docs/feature/des-hook-enforcement/execution-status.yaml
Due: yaml-validation

feat(01-03): audit logging tests pass - step complete
  docs/feature/des-hook-enforcement/execution-status.yaml
  src/des/adapters/drivers/hooks/real_hook.py
  tests/des/acceptance/conftest.py
  tests/des/acceptance/test_hook_enforcement_steps.py
  tests/des/unit/adapters/drivers/hooks/test_real_hook_audit.py
Due: formatter-availability, yaml-validation

feat(agents): promote heavy-clean software-crafter, clean embeddings
  README.md
  docs/agent-optimization/software-crafter-compression.md
  nWave/agents/acceptance-designer-reviewer.md
  nWave/agents/acceptance-designer.md
  nWave/agents/agent-builder-reviewer.md
  nWave/agents/agent-builder.md
  nWave/agents/data-engineer-reviewer.md
  nWave/agents/data-engineer.md
  nWave/agents/devop-reviewer.md
  nWave/agents/devop.md
  nWave/agents/illustrator-reviewer.md
  nWave/agents/illustrator.md
  nWave/agents/product-owner-reviewer.md
  nWave/agents/product-owner.md
  nWave/agents/researcher-reviewer.md
  nWave/agents/researcher.md
  nWave/agents/software-crafter-reviewer.md
  nWave/agents/software-crafter.md
  nWave/agents/solution-architect-reviewer.md
  nWave/agents/solution-architect.md
  nWave/agents/troubleshooter-reviewer.md
  nWave/agents/troubleshooter.md
  nWave/agents/visual-architect-reviewer.md
  nWave/agents/visual-architect.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/data/embed/devop/README.md
  nWave/data/embed/skeleton-builder/critique-dimensions.md
  nWave/data/embed/software-crafter/README.md
  nWave/data/embed/software-crafter/mikado-method-progressive-refactoring.md
  nWave/data/embed/software-crafter/outside-in-tdd-methodology.md
  nWave/data/embed/software-crafter/property-based-mutation-testing.md
  nWave/data/embed/software-crafter/refactoring-patterns-catalog.md
  nWave/data/embed/software-crafter/test-refactoring-guide.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

refactor(agents): align software-crafter testing strategy with port-to-port TDD
  README.md
  nWave/agents/software-crafter-reviewer.md
  nWave/agents/software-crafter.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/data/embed/software-crafter/outside-in-tdd-methodology.md
  nWave/data/embed/software-crafter/property-based-mutation-testing.md
  nWave/data/methodologies/outside-in-tdd-reference.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  nWave/templates/step-tdd-cycle-schema.json
Due: nwave-version-bump, conflict-detection, yaml-validation

fix(build): clean dist directory by default to prevent stale artifacts
  README.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  tools/core/build_ide_bundle.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

feat(modern-cli-installer): add install-specific pre-flight checks - step 03-01
  src/crafter_ai/installer/checks/__init__.py
  src/crafter_ai/installer/checks/install_checks.py
  tests/installer/checks/test_install_checks.py
Due: formatter-availability

feat(modern-cli-installer): add PipxPort and PipxAdapter - step 03-02
  src/crafter_ai/installer/adapters/__init__.py
  src/crafter_ai/installer/adapters/pipx_adapter.py
  src/crafter_ai/installer/ports/__init__.py
  src/crafter_ai/installer/ports/pipx_port.py
  tests/installer/adapters/test_pipx_adapter.py
Due: formatter-availability

docs(modern-cli-installer): update tracking for step 03-01 completion
  docs/features/modern-cli-installer/04-develop/WIP.yaml
  docs/features/modern-cli-installer/04-develop/execution-status.yaml
Due: yaml-validation

feat(modern-cli-installer): add release readiness validation - step 03-03
  src/crafter_ai/installer/services/__init__.py
  src/crafter_ai/installer/services/release_readiness_service.py
  tests/installer/services/test_release_readiness_service.py
Due: formatter-availability

feat(modern-cli-installer): add BackupPort and BackupAdapter - step 03-04
  src/crafter_ai/installer/adapters/__init__.py
  src/crafter_ai/installer/adapters/backup_adapter.py
  src/crafter_ai/installer/ports/__init__.py
  src/crafter_ai/installer/ports/backup_port.py
  tests/installer/adapters/test_backup_adapter.py
Due: formatter-availability

feat(modern-cli-installer): add InstallService core orchestration - step 03-05a
  src/crafter_ai/installer/services/__init__.py
  src/crafter_ai/installer/services/install_service.py
  tests/installer/services/test_install_service.py
Due: formatter-availability

feat(modern-cli-installer): add release report generator - step 03-06
  src/crafter_ai/installer/services/__init__.py
  src/crafter_ai/installer/services/release_report_service.py
  tests/installer/services/test_release_report_service.py
Due: formatter-availability

feat(modern-cli-installer): add InstallService verification phase - step 03-05b
  src/crafter_ai/installer/services/install_service.py
  tests/installer/services/test_install_service.py
Due: formatter-availability

feat(modern-cli-installer): add forge:install CLI command - step 03-07
  src/crafter_ai/installer/cli/__init__.py
  src/crafter_ai/installer/cli/forge_install.py
  tests/installer/cli/test_forge_install.py
Due: formatter-availability

Path conditions:
  nwave-version-bump: any of: ^(nWave/|tools/), but not: version\.md$
  conflict-detection: any of: ^(nWave/|scripts/|tools/)
  formatter-availability: any of: ^(scripts/|tools/|tests/).*\.py$
  yaml-validation: any of: \.(yaml|yml)$
  shell-syntax-check: any of: ^tests/acceptance/.*\.sh$
