Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, pytest-validation, conflict-detection, formatter-availability, yaml-validation

nwave-version-bump:
  name: nWave Version Auto-Increment
  entry: python3 scripts/hooks/version_bump.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-validation:
  name: Pytest Test Validation
  entry: python3 scripts/hooks/validate_tests.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

conflict-detection:
  name: Conflict Detection - Related Files
  entry: python3 scripts/hooks/detect_conflicts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

formatter-availability:
  name: Code Formatter Availability Check
  entry: python3 scripts/hooks/check_formatter_available.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

yaml-validation:
  name: YAML File Validation
  entry: python3 scripts/validation/validate_yaml_files.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(agents): add 3 design mandates for acceptance tests
  README.md
  nWave/agents/acceptance-designer-reviewer.md
  nWave/agents/acceptance-designer.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(agents): add 5 test design mandates to software-crafter
  README.md
  nWave/agents/software-crafter-reviewer.md
  nWave/agents/software-crafter.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(install): add sys.path resolution for direct script execution
  scripts/install/install_nwave.py
Due: conflict-detection, formatter-availability

feat(agents): add roadmap concision & precision mandate
  README.md
  nWave/agents/solution-architect-reviewer.md
  nWave/agents/solution-architect.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(des): integrate DES hook removal into uninstall script
  scripts/install/uninstall_nwave.py
Due: conflict-detection, formatter-availability

docs(des): finalize and archive DES hook redesign legacy cleanup
  docs/evolution/2026-02-06-des-hook-redesign-legacy-cleanup.md
  docs/feature/des-hook-redesign/roadmap-legacy-cleanup.yaml
  docs/feature/des-hook-redesign/roadmap.yaml
Due: yaml-validation

feat(audit-log): add feature_name and step_id fields to port-layer AuditEvent
  docs/feature/audit-log-refactor/REVIEW_FINDINGS.md
  docs/feature/audit-log-refactor/execution-log.yaml
  docs/feature/audit-log-refactor/roadmap.yaml
  docs/feature/test-hexagonal-rewrite/roadmap.yaml
  src/des/ports/driven_ports/audit_log_writer.py
  tests/des/unit/adapters/drivers/hooks/test_real_hook_audit.py
  tests/des/unit/adapters/drivers/hooks/test_real_hook_scope_violations.py
  tests/des/unit/ports/driven_ports/test_audit_log_writer_port.py
Due: pytest-validation, formatter-availability, yaml-validation

fix(des): fix PreToolUse hook max_turns validation and installation
  scripts/install/install_des_hooks.py
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
Due: pytest-validation, conflict-detection, formatter-availability

fix(des): improve template path resolution for installed location
  docs/feature/audit-log-refactor/execution-log.yaml
  src/des/application/tdd_template_loader.py
  tests/des/unit/adapters/drivers/hooks/test_real_hook_audit.py
  tests/des/unit/adapters/drivers/hooks/test_real_hook_scope_violations.py
  tests/des/unit/ports/driven_ports/test_audit_log_writer_port.py
Due: pytest-validation, formatter-availability, yaml-validation

fix(des): fix schema path resolution for installed DES hooks
  src/des/application/tdd_template_loader.py
  src/des/domain/tdd_schema.py
Due: pytest-validation

fix(des): normalize path separators for cross-platform compatibility
  src/des/application/tdd_template_loader.py
  src/des/domain/tdd_schema.py
Due: pytest-validation

fix(des): read tool_input from top-level Claude Code protocol
  docs/test-plans/des-exploratory-testing-plan.md
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
  tests/des/integration/test_hook_configuration.py
Due: pytest-validation, formatter-availability

feat(des): implement step 01-02 serialization + expand e2e test plan
  docs/test-plans/des-exploratory-testing-plan.md
  src/des/adapters/driven/logging/jsonl_audit_log_writer.py
  tests/des/unit/adapters/driven/logging/test_jsonl_audit_log_writer.py
Due: pytest-validation, formatter-availability

fix(des): fix SubagentStop protocol to match Claude Code's actual format
  docs/feature/audit-log-refactor/execution-log.yaml
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
  src/des/application/subagent_stop_service.py
  tests/des/unit/adapters/drivers/hooks/test_subagent_stop_protocol.py
  tests/des/unit/application/test_subagent_stop_service_audit.py
Due: pytest-validation, formatter-availability, yaml-validation

feat(audit): extract feature_name/step_id as direct PortAuditEvent fields in _log_audit_event
  docs/feature/audit-log-refactor/execution-log.yaml
  src/des/application/orchestrator.py
  tests/des/unit/application/test_orchestrator_audit_helper.py
Due: pytest-validation, formatter-availability, yaml-validation

fix(des): SubagentStop must exit 0 with decision:block for context injection
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
  tests/des/acceptance/test_us003_post_execution_validation.py
  tests/des/unit/adapters/drivers/hooks/test_subagent_stop_protocol.py
Due: pytest-validation, formatter-availability

fix(test): fix test_real_hook_audit.py mock and assertions
  tests/des/unit/adapters/drivers/hooks/test_real_hook_audit.py
Due: pytest-validation, formatter-availability

fix(test): fix test_real_hook_audit and test_install_des_hooks
  tests/des/unit/install/test_install_des_hooks.py
Due: pytest-validation, formatter-availability

feat(des): US-009 dual-layer DES enforcement (SubagentStop + PostToolUse)
  scripts/install/install_des_hooks.py
  src/des/adapters/driven/logging/jsonl_audit_log_reader.py
  src/des/adapters/drivers/hooks/claude_code_hook_adapter.py
  src/des/application/post_tool_use_service.py
  src/des/application/subagent_stop_service.py
  src/des/ports/driven_ports/audit_log_reader.py
  src/des/ports/driver_ports/subagent_stop_port.py
  tests/des/acceptance/test_us009_dual_layer_enforcement.py
  tests/des/unit/install/test_install_des_hooks.py
Due: pytest-validation, conflict-detection, formatter-availability

fix(des): clear bytecode cache on reinstall + add PostToolUse to DES plugin
  scripts/install/plugins/des_plugin.py
Due: conflict-detection, formatter-availability

feat(des): step 03-02 render_prompt/validate_prompt use direct PortAuditEvent fields
  docs/feature/audit-log-refactor/execution-log.yaml
  src/des/application/orchestrator.py
  tests/des/unit/application/test_orchestrator_render_prompt_audit.py
  tests/des/unit/application/test_orchestrator_validate_prompt_audit.py
Due: pytest-validation, formatter-availability, yaml-validation

feat(agents): add software-crafter-light for A/B token comparison
  README.md
  nWave/agents/software-crafter-light.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

refactor(nwave): purge deprecated step JSON file references
  README.md
  nWave/agents/acceptance-designer.md
  nWave/agents/devop.md
  nWave/agents/software-crafter-light.md
  nWave/agents/software-crafter-reviewer.md
  nWave/agents/software-crafter.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/hooks/README.md
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/distill.md
  nWave/tasks/nw/execute.md
  nWave/tasks/nw/finalize.md
  nWave/tasks/nw/review.md
  nWave/tasks/nw/roadmap.md
  nWave/tasks/nw/version.md
  nWave/templates/.pre-commit-config-nwave.yaml
Due: nwave-version-bump, conflict-detection, yaml-validation

fix(cli): wire CheckRegistry to CheckExecutor in forge build
  src/crafter_ai/installer/cli/forge_build.py
Due: none

fix(cli): wire GitPort to VersionBumpService in forge build
  src/crafter_ai/installer/cli/forge_build.py
Due: none

fix(cli): wire build to install - call forge install after successful build
  src/crafter_ai/installer/cli/forge_build.py
Due: none

fix(cli): block install on pre-flight failures with clean error message
  src/crafter_ai/installer/cli/forge_install.py
  tests/installer/cli/test_forge_install.py
Due: pytest-validation, formatter-availability

fix(release-readiness): support modern wheel metadata formats
  src/crafter_ai/installer/services/release_readiness_service.py
Due: none

feat(cli): add progress spinner with phase updates during install
  src/crafter_ai/installer/cli/forge_install.py
  src/crafter_ai/installer/services/install_service.py
Due: none

fix(backup): selective backup of nwave config files only, skip for fresh installs
  docs/features/modern-cli-installer/04-develop/WIP.yaml
  src/crafter_ai/installer/adapters/backup_adapter.py
  src/crafter_ai/installer/services/install_service.py
  tests/installer/adapters/test_backup_adapter.py
  tests/installer/services/test_install_service.py
Due: pytest-validation, formatter-availability, yaml-validation

fix(install): resolve version and install path via pipx list_packages fallback
  src/crafter_ai/installer/services/install_service.py
Due: none

refactor(tui): strip Tables, Panels, FORGE prefix from forge build CLI
  src/crafter_ai/installer/cli/forge_build.py
  tests/installer/cli/test_forge_build.py
Due: pytest-validation, formatter-availability

refactor(tui): strip Tables, Panels, FORGE prefix from forge install CLI
  src/crafter_ai/installer/cli/forge_install.py
  tests/installer/cli/test_forge_install.py
Due: pytest-validation, formatter-availability

refactor(tui): add build header and pre-flight emoji stream with call reorder
  src/crafter_ai/installer/cli/forge_build.py
Due: none

refactor(tui): redesign install prompt with version from wheel METADATA
  src/crafter_ai/installer/cli/forge_build.py
  tests/installer/cli/test_forge_build.py
Due: pytest-validation, formatter-availability

feat(tui): add version display, build spinner, wheel validation, and build complete emoji stream
  src/crafter_ai/installer/cli/forge_build.py
Due: none

refactor(tui): add install header and pre-flight emoji stream
  src/crafter_ai/installer/cli/forge_install.py
  tests/installer/cli/test_forge_install.py
Due: pytest-validation, formatter-availability

refactor(tui): add install progress, health verification, and celebration emoji stream
  src/crafter_ai/installer/cli/forge_install.py
  tests/installer/cli/test_forge_install.py
Due: pytest-validation, formatter-availability

fix(tui): resolve test marker collision, add duration, align patterns
  src/crafter_ai/installer/cli/forge_build.py
  src/crafter_ai/installer/cli/forge_install.py
  tests/acceptance/forge_tui/test_walking_skeleton.py
Due: pytest-validation, formatter-availability

refactor(tui): extract shared TUI components, eliminate duplication
  pytest.ini
  src/crafter_ai/installer/cli/forge_build.py
  src/crafter_ai/installer/cli/forge_install.py
  src/crafter_ai/installer/cli/forge_tui.py
  tests/installer/cli/test_forge_install.py
Due: pytest-validation, formatter-availability

Path conditions:
  nwave-version-bump: any of: ^(nWave/|tools/), but not: version\.md$
  pytest-validation: any of: ^(tests/|src/des/).*\.py$
  conflict-detection: any of: ^(nWave/|scripts/|tools/)
  formatter-availability: any of: ^(scripts/|tools/|tests/).*\.py$, but not: \.json$
  yaml-validation: any of: \.(yaml|yml)$
