Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation, shell-syntax-check

nwave-version-bump:
  name: nWave Version Auto-Increment
  entry: python3 scripts/hooks/version_bump.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

conflict-detection:
  name: Conflict Detection - Related Files
  entry: python3 scripts/hooks/detect_conflicts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

formatter-availability:
  name: Code Formatter Availability Check
  entry: python3 scripts/hooks/check_formatter_available.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

yaml-validation:
  name: YAML File Validation
  entry: python3 scripts/validation/validate_yaml_files.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

shell-syntax-check:
  name: Shell Script Syntax Check
  entry: bash -n
  language: system
  stages:
  - pre-commit

chore(des-us006): Mark step 02-04 as COMPLETED with all 8 phases
  docs/feature/des-us006/steps/02-04.json
Due: none

feat(des-us006): Verify missing TIMEOUT_INSTRUCTION blocks invocation - step 03-01
  .des/audit/audit-2026-01-29.log
  docs/feature/des-us006/steps/02-03.json
  docs/feature/des-us006/steps/03-01.json
  src/des/validation.py
  tests/des/acceptance/test_us006_turn_discipline.py
  tests/des/unit/adapters/drivers/validators/test_prompt_validator.py
Due: formatter-availability

docs(des-us006): Verify complete TIMEOUT_INSTRUCTION structure passes validation - step 03-02
  docs/feature/des-us006/steps/03-02.json
Due: none

docs(des-us006): Complete step 03-02 - update phase tracking to COMPLETED
  docs/feature/des-us006/steps/03-02.json
Due: none

docs(des-us006-03-03): Validate end-to-end wiring - feature already implemented
  docs/feature/des-us006/steps/03-03.json
Due: none

refactor(des-us006): Extract common markdown formatting to _format_instruction_element()
  .des/audit/audit-2026-01-29.log
  docs/feature/des-us006/steps/03-01.json
  docs/feature/des-us006/steps/04-01.json
  src/des/domain/timeout_instruction_template.py
  tests/des/unit/test_timeout_instruction_template.py
Due: formatter-availability

test(des-us006): Add comprehensive unit tests for TimeoutInstructionTemplate helper methods
  .des/audit/audit-2026-01-29.log
  docs/feature/des-us006/steps/04-01.json
  docs/feature/des-us006/steps/04-02.json
  tests/des/unit/domain/test_timeout_instruction_template_helpers.py
Due: formatter-availability

chore(des-us006): Mark step 04-02 complete with all 8 phases executed
  docs/feature/des-us006/steps/04-02.json
Due: none

feat(des-us006): Verify orchestrator.py LOC within target (step 04-03)
  docs/feature/des-us006/steps/04-03.json
Due: none

docs(des-us006): Document TIMEOUT_INSTRUCTION section specification in section 4.3
  docs/design/deterministic-execution-system-design.md
  docs/feature/des-us006/steps/04-04.json
Due: none

feat(des-us006): Validate 10/10 acceptance tests GREEN - step 05-01
  docs/feature/des-us006/steps/05-01.json
Due: none

chore(des-us006): Update step 05-01 to COMPLETED status
  docs/feature/des-us006/steps/05-01.json
Due: none

feat(des-us006): Validate baseline metrics achieved - step 05-02
  docs/feature/des-us006/baseline.yaml
  docs/feature/des-us006/steps/05-02.json
Due: yaml-validation

chore(des-us006): Complete step 05-02 phase tracking
  docs/feature/des-us006/steps/05-02.json
Due: none

test(des-us006): Complete step 05-03 - Full DES test suite regression validation
  docs/feature/des-us006/steps/05-03.json
Due: none

chore(des-us006): Update step 05-03 to COMPLETED status
  docs/feature/des-us006/steps/05-03.json
Due: none

docs(des-us006): Complete step 05-04 - Production readiness checklist and sign-off
  docs/feature/des-us006/PRODUCTION_READINESS_CHECKLIST.md
  docs/feature/des-us006/steps/05-04.json
Due: none

chore(des-us006): Finalize step 05-04 - update quality gates and completion status
  docs/feature/des-us006/steps/05-04.json
Due: none

docs(des-us006): Finalize feature - archive workflow, create evolution document
  docs/analysis/testing-theatre-risk-analysis-des-us006.md
  docs/evolution/2026-01-29_des-us006_turn-discipline-instructions.md
  docs/feature/des-us006/FEATURE_COMPLETE.md
  docs/feature/des-us006/archive/ARCHIVE_MANIFEST.md
  docs/feature/des-us006/archive/baseline.yaml
  docs/feature/des-us006/archive/roadmap.yaml
  docs/feature/des-us006/archive/steps/01-01.json
  docs/feature/des-us006/archive/steps/01-02.json
  docs/feature/des-us006/archive/steps/01-03.json
  docs/feature/des-us006/archive/steps/01-04.json
  docs/feature/des-us006/archive/steps/01-05.json
  docs/feature/des-us006/archive/steps/02-00.json
  docs/feature/des-us006/archive/steps/02-01.json
  docs/feature/des-us006/archive/steps/02-02.json
  docs/feature/des-us006/archive/steps/02-03.json
  docs/feature/des-us006/archive/steps/02-04.json
  docs/feature/des-us006/archive/steps/03-01.json
  docs/feature/des-us006/archive/steps/03-02.json
  docs/feature/des-us006/archive/steps/03-03.json
  docs/feature/des-us006/archive/steps/04-01.json
  docs/feature/des-us006/archive/steps/04-02.json
  docs/feature/des-us006/archive/steps/04-03.json
  docs/feature/des-us006/archive/steps/04-04.json
  docs/feature/des-us006/archive/steps/05-01.json
  docs/feature/des-us006/archive/steps/05-02.json
  docs/feature/des-us006/archive/steps/05-03.json
  docs/feature/des-us006/archive/steps/05-04.json
  docs/feature/des-us006/archive/steps/STEP_GENERATION_SUMMARY.md
Due: yaml-validation

chore(des-us006): Update audit log for finalization workflow
  .des/audit/audit-2026-01-29.log
Due: none

chore(des-us006): Clean up finalized feature artifacts
  .des/audit/audit-2026-01-29.log
  docs/feature/des-us006/FEATURE_COMPLETE.md
  docs/feature/des-us006/PRODUCTION_READINESS_CHECKLIST.md
  docs/feature/des-us006/archive/ARCHIVE_MANIFEST.md
  docs/feature/des-us006/archive/baseline.yaml
  docs/feature/des-us006/archive/roadmap.yaml
  docs/feature/des-us006/archive/steps/01-01.json
  docs/feature/des-us006/archive/steps/01-02.json
  docs/feature/des-us006/archive/steps/01-03.json
  docs/feature/des-us006/archive/steps/01-04.json
  docs/feature/des-us006/archive/steps/01-05.json
  docs/feature/des-us006/archive/steps/02-00.json
  docs/feature/des-us006/archive/steps/02-01.json
  docs/feature/des-us006/archive/steps/02-02.json
  docs/feature/des-us006/archive/steps/02-03.json
  docs/feature/des-us006/archive/steps/02-04.json
  docs/feature/des-us006/archive/steps/03-01.json
  docs/feature/des-us006/archive/steps/03-02.json
  docs/feature/des-us006/archive/steps/03-03.json
  docs/feature/des-us006/archive/steps/04-01.json
  docs/feature/des-us006/archive/steps/04-02.json
  docs/feature/des-us006/archive/steps/04-03.json
  docs/feature/des-us006/archive/steps/04-04.json
  docs/feature/des-us006/archive/steps/05-01.json
  docs/feature/des-us006/archive/steps/05-02.json
  docs/feature/des-us006/archive/steps/05-03.json
  docs/feature/des-us006/archive/steps/05-04.json
  docs/feature/des-us006/archive/steps/STEP_GENERATION_SUMMARY.md
Due: yaml-validation

feat(des-us007): Implement token-minimal architecture (Schema v2.0)
  docs/feature/des-us007-boundary-rules/baseline.yaml
  docs/feature/des-us007-boundary-rules/execution-status.yaml
  docs/feature/des-us007-boundary-rules/roadmap.yaml
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/execute.md
  nWave/tasks/nw/version.md
  nWave/templates/execution-status-template.yaml
  src/des/application/orchestrator.py
  test_token_minimal_architecture.py
Due: nwave-version-bump, conflict-detection, yaml-validation

refactor(des,us007): Phases 1-3 - Token-minimal architecture migration
  docs/design/schema-v2-migration.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/archive/split.md
  nWave/tasks/nw/baseline.md
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/finalize.md
  nWave/tasks/nw/roadmap.md
  nWave/tasks/nw/version.md
  nWave/templates/baseline-template.yaml
  nWave/templates/step-template.json
  tests/des/acceptance/test_us007_boundary_rules.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

chore(des-us007): Phase 4 - Archive old architecture (Schema v2.0 migration complete)
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

fix(des-us007): Clarify mutation testing gate in develop.md workflow
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

fix(lint): format remaining files from merge and fix unused variable
  src/des/adapters/drivers/hooks/mocked_hook.py
  src/des/adapters/drivers/hooks/real_hook.py
  src/des/application/hooks.py
  src/des/application/recovery_guidance_handler.py
  src/des/domain/abandoned_phase_detector.py
  src/des/domain/phase_state_validator.py
  src/des/domain/silent_completion_detector.py
  src/des/domain/timeout_instruction_template.py
  src/des/domain/validation_error_detector.py
  src/des/ports/driver_ports/hook_port.py
  test_token_minimal_architecture.py
  tests/des/acceptance/test_us005_failure_recovery.py
  tests/des/unit/adapters/drivers/validators/test_prompt_validator.py
  tests/des/unit/application/test_orchestrator_research_command.py
  tests/des/unit/application/test_orchestrator_timeout_instruction.py
  tests/des/unit/application/test_timeout_instruction_template.py
  tests/des/unit/domain/test_abandoned_phase_detector.py
  tests/des/unit/domain/test_phase_state_validator.py
  tests/des/unit/domain/test_silent_completion_detector.py
  tests/des/unit/domain/test_validation_error_detector.py
  tests/unit/des/test_validation_error_formatting.py
  tests/unit/test_schema_turn_count.py
  tests/unit/test_turn_count_persistence_acceptance.py
  tests/unit/test_turn_count_persistence_unit.py
Due: formatter-availability

fix(install): Remove legacy commit.md validation reference
  scripts/install/installation_verifier.py
  scripts/install/verify_nwave.py
Due: conflict-detection, formatter-availability

fix(install): Install all template files not just schema
  scripts/install/install_nwave.py
Due: conflict-detection, formatter-availability

fix(des): restore render_full_prompt method lost in merge conflict
  .des/audit/audit-2026-01-29.log
  src/des/application/orchestrator.py
Due: none

fix(test): correct essential commands expectations in verifier tests
  tests/unit/test_installation_verifier.py
  tests/unit/test_verify_nwave.py
Due: formatter-availability

fix(test): mock CI environment and schema validation in tests
  tests/unit/test_installation_verifier.py
  tests/unit/test_output_formatter_json.py
Due: formatter-availability

style: apply ruff formatting
  src/des/application/orchestrator.py
  tests/unit/test_installation_verifier.py
Due: formatter-availability

feat(des-us007): Create BoundaryRulesTemplate with section header rendering - step 01-01
  docs/feature/des-us007-boundary-rules/execution-status.yaml
  src/des/application/orchestrator.py
  src/des/templates/__init__.py
  src/des/templates/boundary_rules_template.py
  tests/des/acceptance/test_us007_boundary_rules.py
  tests/des/unit/test_boundary_rules_template.py
Due: formatter-availability, yaml-validation

chore(des-us007): Update execution status for step 01-01 completion
  docs/feature/des-us007-boundary-rules/execution-status.yaml
Due: yaml-validation

style: apply ruff formatting to us007 tests
  tests/des/acceptance/test_us007_boundary_rules.py
  tests/des/unit/test_boundary_rules_template.py
Due: formatter-availability

fix: add missing split.md to nWave/tasks/nw
  nWave/tasks/nw/split.md
Due: nwave-version-bump, conflict-detection

fix(test): mock Colors class for Windows CI compatibility
  tests/unit/test_output_formatter.py
Due: formatter-availability

feat(install): add Rich console library and replace Colors class
  Pipfile
  Pipfile.lock
  docs/feature/pipfile-rich-enhancement/README.md
  docs/feature/pipfile-rich-enhancement/roadmap.yaml
  scripts/install/enhanced_backup_system.py
  scripts/install/install_nwave.py
  scripts/install/install_utils.py
  scripts/install/installation_verifier.py
  scripts/install/output_formatter.py
  scripts/install/preflight_checker.py
  scripts/install/rich_console.py
  scripts/install/uninstall_nwave.py
  scripts/install/update_nwave.py
  scripts/install/verify_nwave.py
  tests/unit/test_output_formatter.py
  tests/unit/test_rich_console.py
Due: conflict-detection, formatter-availability, yaml-validation

Path conditions:
  nwave-version-bump: any of: ^(nWave/|tools/), but not: version\.md$
  conflict-detection: any of: ^(nWave/|scripts/|tools/)
  formatter-availability: any of: ^(scripts/|tools/|tests/).*\.py$
  yaml-validation: any of: \.(yaml|yml)$
  shell-syntax-check: any of: ^tests/acceptance/.*\.sh$
