Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation, shell-syntax-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for AI-Craft nWave Framework
# Install: pip install pre-commit && pre-commit install
# Manual run: pre-commit run --all-files

repos:
  # Local hooks for nWave framework
  - repo: local
    hooks:
      # Phase 0: Auto-increment version when nWave files are modified
      - id: nwave-version-bump
        name: nWave Version Auto-Increment
        entry: python3 scripts/hooks/version_bump.py
        language: system
        files: ^(nWave/|tools/)
        exclude: version\.md$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 1: Run pytest test suite
      - id: pytest-validation
        name: Pytest Test Validation
        entry: python3 scripts/hooks/validate_tests.py
        language: system
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

      # Phase 2: Documentation version validation
      - id: docs-version-validation
        name: Documentation Version Validation
        entry: python3 scripts/hooks/validate_docs.py
        language: system
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

      # Phase 4: Conflict detection between related files
      - id: conflict-detection
        name: Conflict Detection - Related Files
        entry: python3 scripts/hooks/detect_conflicts.py
        language: system
        files: ^(nWave/|scripts/|tools/)
        pass_filenames: false
        stages: [pre-commit]

      # Phase 4: Code formatter availability check
      - id: formatter-availability
        name: Code Formatter Availability Check
        entry: python3 scripts/hooks/check_formatter_available.py
        language: system
        files: ^(scripts/|tools/|tests/).*\.py$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 5: YAML validation (mirrors CI/CD validation)
      - id: yaml-validation
        name: YAML File Validation
        entry: python3 scripts/validation/validate_yaml_files.py
        language: system
        files: \.(yaml|yml)$
        pass_filenames: false
        stages: [pre-commit]

      # Phase 6: Shell script syntax validation (bash -n)
      # Note: Only for acceptance test scripts in tests/acceptance/
      - id: shell-syntax-check
        name: Shell Script Syntax Check
        entry: bash -n
        language: system
        files: ^tests/acceptance/.*\.sh$
        stages: [pre-commit]

  # Shellcheck linting (optional - non-blocking if not installed)
  # Note: Only for acceptance test scripts in tests/acceptance/
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-x]
        files: ^tests/acceptance/.*\.sh$
        stages: [pre-commit]

  # Standard hooks from pre-commit repository
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(dist/|\.git/)
      - id: end-of-file-fixer
        exclude: ^(dist/|\.git/)
      - id: check-yaml
        exclude: ^(dist/|\.git/)
      - id: check-json
        exclude: ^(dist/|\.git/)
      - id: check-merge-conflict
      - id: detect-private-key

  # Python linting and formatting with Ruff (replaces black, flake8, isort)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^(scripts/|tools/|tests/).*\.py$
      - id: ruff-format
        files: ^(scripts/|tools/|tests/).*\.py$

# Configuration
default_stages: [pre-commit]
fail_fast: false

refactor(tests): Reorganize DES acceptance tests into tests/des/acceptance/
  tests/acceptance/test_us002_template_validation.py
  tests/des/acceptance/test_us001_command_filtering.py
  tests/des/acceptance/test_us003_post_execution_validation.py
  tests/des/acceptance/test_us005_failure_recovery.py
  tests/des/acceptance/test_us006_turn_discipline.py
  tests/des/acceptance/test_us006a_turn_counting.py
  tests/des/acceptance/test_us006b_pre_invocation_limits.py
  tests/des/acceptance/test_us006c_e2e_wiring.py
  tests/des/acceptance/test_us007_boundary_rules.py
  tests/des/acceptance/test_us008_stale_detection.py
  tests/des/acceptance/test_us009_learning_feedback.py
Due: formatter-availability

docs(tests): Update tests/acceptance README to reflect DES test relocation
  tests/acceptance/README.md
Due: none

chore(cleanup): Remove archived des-us003 feature folder
  docs/feature/des-us003/.develop-progress.json
  docs/feature/des-us003/steps/01-03.json
Due: none

chore(cleanup): Remove archived des-us004 feature folder
  docs/feature/des-us004/baseline.yaml
  docs/feature/des-us004/roadmap.yaml
  docs/feature/des-us004/steps/01-01.json
  docs/feature/des-us004/steps/01-02.json
  docs/feature/des-us004/steps/01-03.json
  docs/feature/des-us004/steps/02-01.json
  docs/feature/des-us004/steps/02-02.json
  docs/feature/des-us004/steps/02-03.json
  docs/feature/des-us004/steps/02-04.json
  docs/feature/des-us004/steps/03-01.json
  docs/feature/des-us004/steps/03-02.json
Due: yaml-validation

chore(cleanup): Remove duplicate turn-discipline folder
  docs/feature/turn-discipline/baseline.yaml
  docs/feature/turn-discipline/roadmap.yaml
  docs/feature/turn-discipline/steps/01-01.json
  docs/feature/turn-discipline/steps/01-02.json
  docs/feature/turn-discipline/steps/01-03.json
  docs/feature/turn-discipline/steps/01-04.json
  docs/feature/turn-discipline/steps/02-01.json
  docs/feature/turn-discipline/steps/02-02.json
  docs/feature/turn-discipline/steps/02-03.json
  docs/feature/turn-discipline/steps/02-04.json
  docs/feature/turn-discipline/steps/02-05.json
  docs/feature/turn-discipline/steps/02-06.json
  docs/feature/turn-discipline/steps/03-01.json
  docs/feature/turn-discipline/steps/03-02.json
  docs/feature/turn-discipline/steps/04-01.json
  docs/feature/turn-discipline/steps/04-02.json
  docs/feature/turn-discipline/steps/05-01.json
  docs/feature/turn-discipline/steps/05-02.json
  docs/feature/turn-discipline/steps/05-03.json
  docs/feature/turn-discipline/steps/05-04.json
  docs/feature/turn-discipline/steps/06-01.json
  docs/feature/turn-discipline/steps/06-02.json
  docs/feature/turn-discipline/steps/06-03.json
  docs/feature/turn-discipline/steps/06-04.json
  docs/feature/turn-discipline/steps/06-05.json
Due: yaml-validation

fix(templates,des-us005): Update step-template to use 8-phase TDD schema v2.0
  docs/feature/des-us005/steps/01-02.json
  docs/feature/des-us005/steps/02-01.json
  docs/feature/des-us005/steps/02-02.json
  docs/feature/des-us005/steps/02-03.json
  docs/feature/des-us005/steps/02-04.json
  docs/feature/des-us005/steps/02-05.json
  docs/feature/des-us005/steps/03-01.json
  docs/feature/des-us005/steps/03-02.json
  docs/feature/des-us005/steps/03-03.json
  docs/feature/des-us005/steps/03-04.json
  docs/feature/des-us005/steps/03-05.json
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  nWave/templates/step-template.json
Due: nwave-version-bump, conflict-detection, yaml-validation

chore(version): Bump to 1.2.85 - Schema v2.0 with 8-phase TDD
  nWave/tasks/nw/version.md
  setup.py
Due: conflict-detection

feat(des-us005-01-01): Create recovery_suggestions data structure - 8-phase TDD cycle complete
  docs/feature/des-us005/steps/01-01.json
Due: none

feat(des-us005): Implement step 01-02 - RecoveryGuidanceHandler core class with 8-phase TDD
  .des/audit/audit-2026-01-28.log
  docs/feature/des-us005/steps/01-02.json
  tests/des/unit/application/test_recovery_guidance_handler.py
Due: formatter-availability

feat(des-us005): Implement AbandonedPhaseDetector for crash recovery - step 02-01
  docs/feature/des-us005/steps/02-01.json
  src/des/domain/abandoned_phase_detector.py
  tests/des/unit/domain/test_abandoned_phase_detector.py
Due: formatter-availability

feat(des-us005/02-02): Implement SilentCompletionDetector for silent completion detection
  docs/feature/des-us005/steps/02-02.json
  src/des/domain/silent_completion_detector.py
  tests/des/unit/domain/test_silent_completion_detector.py
Due: formatter-availability

feat(des-us005): Step 02-03 - Detect validation errors in step file structure
  docs/feature/des-us005/steps/02-03.json
  src/des/domain/validation_error_detector.py
  tests/des/unit/domain/test_validation_error_detector.py
Due: formatter-availability

feat(des-us005): Step 02-04 - Recovery guidance for stale execution and timeouts
  docs/feature/des-us005/steps/02-03.json
  docs/feature/des-us005/steps/02-04.json
Due: none

feat(des-us005-02-05): Detect invalid phase state transitions - step 02-05 complete
  docs/feature/des-us005/steps/02-05.json
  src/des/domain/phase_state_validator.py
  tests/des/unit/domain/test_phase_state_validator.py
Due: formatter-availability

feat(des-us005-03-01): Enable and verify recovery suggestion actionable elements test
  docs/feature/des-us005/steps/03-01.json
  tests/des/acceptance/test_us005_failure_recovery.py
Due: formatter-availability

feat(des-us005): Format recovery suggestions with junior-developer friendly language - step 03-02
  docs/feature/des-us005/steps/03-02.json
  src/des/application/recovery_guidance_handler.py
  tests/des/unit/application/test_recovery_guidance_handler.py
Due: formatter-availability

feat(des-us005-03-03): Complete 8-phase TDD cycle for validation error inline fix guidance
  docs/feature/des-us005/steps/03-03.json
Due: none

feat(des-us005-03-04): Integrate RecoveryGuidanceHandler with DES orchestrator
  .des/audit/audit-2026-01-29.log
  docs/feature/des-us005/steps/03-04.json
  tests/des/acceptance/test_us005_failure_recovery.py
  tests/des/unit/application/test_orchestrator_recovery_integration.py
Due: formatter-availability

feat(03-05): Complete failure mode registry - all 7 modes with recovery guidance
  docs/feature/des-us005/steps/03-05.json
  src/des/application/recovery_guidance_handler.py
  tests/des/acceptance/test_us005_failure_recovery.py
  tests/unit/des/test_recovery_guidance_handler.py
Due: formatter-availability

docs(des-us005): Archive User Story evolution document
  docs/evolution/2026-01-29-des-us005.md
Due: none

chore(des-us005): Clean up workflow artifacts after finalization
  .des/audit/audit-2026-01-29.log
  docs/feature/des-us005/.develop-progress.json
  docs/feature/des-us005/IMPLEMENTATION_REVIEW.md
  docs/feature/des-us005/roadmap.yaml
  docs/feature/des-us005/steps/01-01.json
  docs/feature/des-us005/steps/01-02.json
  docs/feature/des-us005/steps/02-01.json
  docs/feature/des-us005/steps/02-02.json
  docs/feature/des-us005/steps/02-03.json
  docs/feature/des-us005/steps/02-04.json
  docs/feature/des-us005/steps/02-05.json
  docs/feature/des-us005/steps/03-01.json
  docs/feature/des-us005/steps/03-02.json
  docs/feature/des-us005/steps/03-03.json
  docs/feature/des-us005/steps/03-04.json
  docs/feature/des-us005/steps/03-05.json
Due: yaml-validation

feat(03-04): Complete DES orchestrator integration for recovery guidance with full 8-phase TDD execution
  docs/feature/des-us005/steps/03-04.json
Due: none

chore(audit): Update audit log for step 03-04 orchestrator integration completion
  .des/audit/audit-2026-01-29.log
Due: none

docs(des-us005): Add external validity verification report for step 03-04 orchestrator integration
  docs/feature/des-us005/EXTERNAL_VALIDITY_VERIFICATION.md
Due: none

docs(des-us005): Re-finalize with orchestrator integration complete - PRODUCTION READY
  .des/audit/audit-2026-01-29.log
  docs/evolution/2026-01-29-des-us005.md
  docs/feature/des-us005/baseline.yaml
  docs/feature/des-us005/steps/03-04.json
Due: yaml-validation

feat(APEX-002): implement pre-flight environment detection for nWave installer
  .des/audit/audit-2026-01-29.log
  docs/feature/installation-environment-detection/steps/01-01.json
  docs/feature/installation-environment-detection/steps/02-02.json
  docs/feature/installation-environment-detection/steps/02-03.json
  docs/feature/installation-environment-detection/steps/03-01.json
  docs/feature/installation-environment-detection/steps/03-02.json
  docs/feature/installation-environment-detection/steps/03-03.json
  docs/feature/installation-environment-detection/steps/04-01.json
  docs/feature/installation-environment-detection/steps/04-02.json
  docs/feature/installation-environment-detection/steps/05-01.json
  docs/feature/installation-environment-detection/steps/05-02.json
  docs/feature/installation-environment-detection/steps/05-03.json
  docs/feature/installation-environment-detection/steps/06-01.json
  docs/installation/installation-guide.md
  scripts/install/context_detector.py
  scripts/install/error_codes.py
  scripts/install/install_nwave.py
  scripts/install/install_utils.py
  scripts/install/installation_verifier.py
  scripts/install/output_formatter.py
  scripts/install/preflight_checker.py
  scripts/install/verify_nwave.py
  tests/acceptance/installation/features/06_documentation.feature
  tests/acceptance/installation/step_defs/steps_documentation.py
  tests/unit/test_context_detector.py
  tests/unit/test_error_codes.py
  tests/unit/test_install_nwave_preflight.py
  tests/unit/test_installation_logging.py
  tests/unit/test_installation_verifier.py
  tests/unit/test_output_formatter.py
  tests/unit/test_output_formatter_ci.py
  tests/unit/test_output_formatter_json.py
  tests/unit/test_preflight_checker.py
  tests/unit/test_preflight_dependencies.py
  tests/unit/test_preflight_pipenv.py
  tests/unit/test_verify_nwave.py
Due: conflict-detection, formatter-availability

feat(des-us006): Design TIMEOUT_INSTRUCTION template structure - step 01-01
  docs/feature/des-us005/EXTERNAL_VALIDITY_VERIFICATION.md
  docs/feature/des-us005/IMPLEMENTATION_REVIEW.md
  docs/feature/des-us006/.execution-order.txt
  docs/feature/des-us006/.progress-report.md
  docs/feature/des-us006/baseline.yaml
  docs/feature/des-us006/roadmap.yaml
  docs/feature/des-us006/steps/01-01.json
  docs/feature/des-us006/steps/01-02.json
  docs/feature/des-us006/steps/01-03.json
  docs/feature/des-us006/steps/02-01.json
  docs/feature/des-us006/steps/02-02.json
  docs/feature/des-us006/steps/03-01.json
  docs/feature/des-us006/steps/03-02.json
  docs/feature/des-us006/steps/03-03.json
  docs/feature/des-us006/steps/04-01.json
  docs/feature/des-us006/steps/04-02.json
  docs/feature/des-us006/steps/05-01.json
  docs/feature/des-us006/steps/05-02.json
  docs/feature/des-us006/steps/05-03.json
  docs/feature/des-us006/steps/06-01.json
  docs/feature/des-us006/steps/06-02.json
  docs/feature/des-us006/steps/07-01.json
  docs/feature/des-us006/steps/07-02.json
  docs/feature/des-us006/steps/08-01.json
  docs/feature/des-us006/steps/08-02.json
  docs/feature/des-us006/steps/09-01.json
  docs/feature/des-us006/steps/09-02.json
  docs/feature/des-us006/steps/09-03.json
  docs/feature/des-us006/steps/10-01.json
  docs/feature/des-us006/steps/10-02.json
  docs/feature/des-us006/steps/10-03.json
  docs/feature/des-us006/steps/10-04.json
  docs/feature/des-us006/steps/11-01.json
  docs/feature/des-us006/steps/11-02.json
  docs/feature/des-us006/steps/11-03.json
  docs/feature/des-us006/steps/11-04.json
  src/des/application/orchestrator.py
  src/des/domain/timeout_instruction_template.py
  tests/des/acceptance/test_us006_turn_discipline.py
  tests/des/unit/application/test_timeout_instruction_template.py
Due: formatter-availability, yaml-validation

feat(des-us006): Complete step 01-02 - _render_turn_budget() validation
  docs/feature/des-us006/steps/01-02.json
  tests/des/acceptance/test_us006_turn_discipline.py
Due: formatter-availability

feat(des-us006): Enable test_scenario_003 progress checkpoints - step 01-03
  docs/feature/des-us006/steps/01-03.json
  tests/des/acceptance/test_us006_turn_discipline.py
Due: formatter-availability

chore(des-us006): Complete step 01-03 phase tracking
  docs/feature/des-us006/steps/01-03.json
Due: none

feat(des-us006): Add unit tests for _render_early_exit_protocol() - step 01-04
  docs/feature/des-us006/steps/01-01.json
  docs/feature/des-us006/steps/01-04.json
  tests/des/acceptance/test_us006_turn_discipline.py
  tests/des/unit/application/test_timeout_instruction_template.py
Due: formatter-availability

chore(des-us006): Update step 01-04 with COMPLETED status
  docs/feature/des-us006/steps/01-04.json
Due: none

feat(des-us006): Document step 01-05 - _render_turn_logging_instruction() already implemented
  docs/feature/des-us006/steps/01-05.json
  docs/feature/des-us006/steps/02-00.json
  docs/feature/des-us006/steps/02-03.json
  docs/feature/des-us006/steps/02-04.json
  docs/feature/des-us006/steps/04-03.json
  docs/feature/des-us006/steps/04-04.json
  docs/feature/des-us006/steps/05-04.json
  docs/feature/des-us006/steps/STEP_GENERATION_SUMMARY.md
  tests/des/acceptance/test_us006_turn_discipline.py
Due: formatter-availability

feat(des-us006-02-00): Enable test_scenario_001 - render_full_prompt() entry point
  docs/feature/des-us006/steps/02-00.json
  tests/des/acceptance/test_us006_turn_discipline.py
Due: formatter-availability

docs(des-us006-02-00): Complete step file with 8-phase TDD cycle tracking
  docs/feature/des-us006/steps/02-00.json
Due: none

feat(des-us006): Add unit tests for TIMEOUT_INSTRUCTION generation - step 02-01
  docs/feature/des-us006/steps/02-01.json
  tests/des/acceptance/test_us006_turn_discipline.py
  tests/des/unit/application/test_orchestrator_timeout_instruction.py
Due: formatter-availability

test(des-us006): Validate /nw:develop includes TIMEOUT_INSTRUCTION - step 02-02
  docs/feature/des-us006/steps/02-02.json
  tests/des/acceptance/test_us006_turn_discipline.py
Due: formatter-availability

chore(des-us006): Update step 02-02 with COMPLETED status
  docs/feature/des-us006/steps/02-02.json
Due: none

feat(des-us006): Add unit tests for ad-hoc prompt behavior (step 02-03)
  docs/feature/des-us006/steps/02-03.json
  tests/des/acceptance/test_us006_turn_discipline.py
  tests/des/unit/application/test_orchestrator_timeout_instruction.py
Due: formatter-availability

feat(des-us006): Verify /nw:research has no TIMEOUT_INSTRUCTION - step 02-04
  docs/feature/des-us006/steps/02-04.json
  tests/des/acceptance/test_us006_turn_discipline.py
  tests/des/unit/application/test_orchestrator_research_command.py
Due: formatter-availability
