Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation, shell-syntax-check

nwave-version-bump:
  name: nWave Version Auto-Increment
  entry: python3 scripts/hooks/version_bump.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

conflict-detection:
  name: Conflict Detection - Related Files
  entry: python3 scripts/hooks/detect_conflicts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

formatter-availability:
  name: Code Formatter Availability Check
  entry: python3 scripts/hooks/check_formatter_available.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

yaml-validation:
  name: YAML File Validation
  entry: python3 scripts/validation/validate_yaml_files.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

shell-syntax-check:
  name: Shell Script Syntax Check
  entry: bash -n
  language: system
  stages:
  - pre-commit

ci: add comprehensive unified CI/CD workflow
  .github/workflows/DELIVERABLES.md
  .github/workflows/MIGRATION.md
  .github/workflows/README.md
  .github/workflows/ci-cd.yml
  docs/CI-CD-README.md
  scripts/validation/validate_ci_cd_workflow.py
Due: conflict-detection, formatter-availability, yaml-validation

fix: replace python with python3 in CI/CD workflow and validation
  .github/workflows/ci-cd.yml
  .gitignore
  README.md
  docs/analysis/ci-cd-workflow-failure-rca.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/dw
  nWave/tasks/nw/version.md
  scripts/validation/validate_ci_cd_workflow.py
Due: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation

fix: archive old workflows and fix shellcheck warnings
  .github/workflows/archive/ci.yml
  .github/workflows/archive/release.yml
  tests/acceptance/install-uninstall.sh
  tests/acceptance/update-script.sh
Due: yaml-validation, shell-syntax-check

fix: add PYTHONPATH for build scripts and use correct release packager
  .github/workflows/ci-cd.yml
  scripts/validation/validate_ci_cd_workflow.py
Due: conflict-detection, formatter-availability, yaml-validation

feat: add documentation freshness check to pre-commit hooks
  .pre-commit-config.yaml
  scripts/hooks/check_documentation_freshness.py
Due: conflict-detection, formatter-availability, yaml-validation

fix: remove pip cache from CI/CD workflow (no requirements.txt)
  .github/workflows/ci-cd.yml
Due: yaml-validation

fix: Python 3.8 compatibility for type hints in test_path_traversal.py
  tests/test_path_traversal.py
Due: formatter-availability

fix: Windows Unicode encoding in CI/CD pre-commit hooks
  .github/workflows/ci-cd.yml
Due: yaml-validation

fix: enforce LF line endings for shell scripts (Windows CI/CD)
  .gitattributes
Due: none

refactor: eliminate all shell scripts and enforce Python-only policy
  .gitattributes
  .pre-commit-config.yaml
  scripts/archive/agent-catalog-conflict-detection.sh
  scripts/archive/validate-rename.sh
  scripts/hooks/prevent_shell_scripts.py
  tests/acceptance/install-uninstall.sh
  tests/acceptance/update-script.sh
Due: conflict-detection, formatter-availability, yaml-validation, shell-syntax-check

refactor: require Python 3.11+ and eliminate legacy compatibility
  .github/workflows/ci-cd.yml
  docs/CI-CD-README.md
  docs/guides/layer-4-for-developers.md
  docs/installation/installation-guide.md
  tests/test_path_traversal.py
Due: formatter-availability, yaml-validation

docs: enforce single-source versioning and update 5-layer framework terminology
  VERSION_POLICY.md
  docs/DOCUMENTATION_STRUCTURE.md
  docs/analysis/divio-audit/DIVIO_CLASSIFICATION_SUMMARY.md
  docs/analysis/divio-audit/DOCUMENTARIST_ANALYSIS_COMPLETE.md
  docs/analysis/divio-audit/DOCUMENTARIST_REVIEWER_ASSESSMENT.md
  docs/analysis/divio-audit/DOCUMENTATION_CONSOLIDATION_COMPLETE.md
  docs/analysis/divio-audit/DOCUMENTATION_RESTRUCTURING_ACTION_PLAN.md
  docs/analysis/divio-audit/FILE_INVENTORY.md
  docs/features/framework-rationalization/reports/framework/PRODUCTION_FRAMEWORKS_IMPLEMENTATION_REPORT.md
  docs/features/framework-rationalization/reports/validation/AGENT_TEMPLATE_COMPLIANCE_ANALYSIS.md
  docs/guides/5-layer-testing-cicd.md
  docs/guides/5-layer-testing-developers.md
  docs/guides/5-layer-testing-implementation.md
  docs/guides/5-layer-testing-users.md
  docs/guides/invoke-reviewer-agents.md
  docs/guides/validation-checklist.md
  docs/reference/5-layer-testing-api.md
  docs/reference/nwave-commands-reference.md
  docs/reference/reviewer-agents-reference.md
  docs/reports/adversarial/ADVERSARIAL_VERIFICATION_WORKFLOW.md
  docs/research/claude-code-subagent-activation-best-practices.md
  scripts/sync_doc_versions.py
Due: conflict-detection, formatter-availability

style: apply ruff formatting to sync_doc_versions.py
  scripts/sync_doc_versions.py
Due: conflict-detection, formatter-availability

feat: add DISCOVER wave as first phase in 6-wave nWave framework
  README.md
  docs/research/claude-code-subagent-activation-best-practices.md
  nWave/README.md
  nWave/agents/devop.md
  nWave/agents/product-owner.md
  nWave/checklists/deliver-wave-checklist.md
  nWave/checklists/develop-wave-checklist.md
  nWave/checklists/nwave-methodology-checklist.md
  nWave/data/agents_reference/AGENT_QUICK_REFERENCE.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/develop.md
  nWave/tasks/nw/discover.md
  nWave/tasks/nw/discuss.md
  nWave/tasks/nw/version.md
  nWave/templates/deliver-production-readiness.yaml
  nWave/templates/develop-outside-in-tdd.yaml
  nWave/templates/nwave-complete-methodology.yaml
Due: nwave-version-bump, conflict-detection, yaml-validation

feat(des): save DES design session - checkpoint for conversation recovery
  .claude/settings.local.json
  README.md
  data/research/workflow-patterns/deterministic-workflow-execution-llm-agents.md
  docs/design/des-critical-finding-max-turns.md
  docs/design/des-discovery-report.md
  docs/design/des-session-checkpoint.md
  docs/design/deterministic-execution-system-design.md
  docs/design/deterministic-execution-system-review-summary.md
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/hooks/discover_subagent_context.py
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

fix(des): resolve Q1 with empirical SubagentStop hook verification
  docs/design/des-discovery-report.md
  docs/design/deterministic-execution-system-design.md
  docs/design/deterministic-execution-system-review-summary.md
Due: none

feat(des): complete DISCUSS wave with requirements and UAT scenarios
  docs/feature/des/acceptance-criteria.md
  docs/feature/des/dor-checklist.md
  docs/feature/des/requirements.md
  docs/feature/des/user-stories.md
Due: none

feat(des): implement daily audit log rotation
  docs/design/deterministic-execution-system-design.md
  docs/feature/des/acceptance-criteria.md
  docs/feature/des/user-stories.md
Due: none

feat(des): redesign watchdog as session-scoped stale detection
  docs/design/deterministic-execution-system-design.md
  docs/feature/des/acceptance-criteria.md
  docs/feature/des/user-stories.md
Due: none

feat(des): complete DESIGN wave with architecture documentation
  docs/architecture/des/architecture-design.md
  docs/architecture/des/component-boundaries.md
  docs/architecture/des/data-models.md
  docs/architecture/des/technology-stack.md
Due: none

refactor(des): reorganize docs by nWave wave structure
  docs/feature/des/design/architecture-design.md
  docs/feature/des/design/component-boundaries.md
  docs/feature/des/design/data-models.md
  docs/feature/des/design/technology-stack.md
  docs/feature/des/discuss/acceptance-criteria.md
  docs/feature/des/discuss/dor-checklist.md
  docs/feature/des/discuss/requirements.md
  docs/feature/des/discuss/user-stories.md
Due: none

feat(nwave): update wave commands to use feature-based folder structure
  README.md
  data/research/wave-command-output-paths-for-reference-doc.md
  docs/reference/wave-command-output-paths.md
  docs/reference/wave-command-output-paths.md.validation.yaml
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/deliver.md
  nWave/tasks/nw/design.md
  nWave/tasks/nw/discuss.md
  nWave/tasks/nw/distill.md
  nWave/tasks/nw/version.md
Due: nwave-version-bump, conflict-detection, yaml-validation

fix(des): address all architecture review issues (1 CRITICAL + 4 HIGH)
  docs/feature/des/design/architecture-design.md
Due: none

refactor(des): clarify command-specific template validation (v1.1 → v1.2)
  docs/feature/des/design/architecture-design.md
Due: none

feat(des): add workflow_type field and safety gates for configuration tasks (v1.3)
  docs/feature/des/design/architecture-design.md
  docs/feature/des/design/data-models.md
  docs/feature/des/discuss/user-stories.md
Due: none

feat(des): implement dataclass-based schema validation with single source of truth (v1.4)
  docs/feature/des/design/architecture-design.md
  docs/feature/des/design/data-models.md
Due: none

fix: remove .claude/settings.local.json
  .claude/settings.local.json
Due: none

fix(des): address 3 priority review conditions (v1.4 → v1.4.1)
  docs/feature/des/design/architecture-design.md
Due: none

feat(des): add installation/uninstallation requirements and architecture
  docs/feature/des/design/installation-architecture.md
  docs/feature/des/discuss/INSTALLATION-INTEGRATION.md
  docs/feature/des/discuss/installation-user-stories.md
Due: none

feat(des): add virtual environment isolation to installation (v1.1)
  docs/feature/des/design/installation-architecture.md
  docs/feature/des/discuss/installation-user-stories.md
  docs/feature/des/discuss/venv-isolation-update-summary.md
Due: none

review(des): installation architecture v1.1 - NEEDS_REVISION
  docs/feature/des/design/INSTALLATION_ISSUES_TO_RESOLVE.md
  docs/feature/des/design/installation-architecture.md
Due: none

fix(des): resolve all 6 blocking issues in installation architecture (v1.2)
  docs/feature/des/design/installation-architecture.md
Due: none

review(des): installation architecture v1.2 - APPROVED ✅
  docs/feature/des/design/installation-architecture.md
Due: none

feat(nwave): add version update experience requirements (DISCUSS wave)
  docs/features/version-update-experience/01-discuss/requirements.md
Due: none

fix(nwave): address DoR review findings for version update requirements
  docs/features/version-update-experience/01-discuss/requirements.md
Due: none

refactor(nwave): restructure personas as Creators vs Users
  docs/features/version-update-experience/01-discuss/requirements.md
Due: none

fix(des): resolve DoR critical blocker - add SubagentStop hook empirical evidence
  docs/feature/des/design/des-discovery-report.md
  docs/feature/des/discuss/dor-checklist.md
Due: none

fix(des): correct discovery report with real SubagentStop hook data (v2.0)
  docs/feature/des/design/des-discovery-report.md
Due: none

fix(des): correct architecture with real SubagentStop hook schema (v1.5.0)
  docs/feature/des/design/architecture-design.md
Due: none

fix(nwave): address critical review findings - dynamic URLs and complete plugin chain
  docs/features/version-update-experience/01-discuss/requirements.md
Due: none

Path conditions:
  nwave-version-bump: any of: ^(nWave/|tools/), but not: version\.md$
  conflict-detection: any of: ^(nWave/|scripts/|tools/)
  formatter-availability: any of: ^(scripts/|tools/|tests/).*\.py$
  yaml-validation: any of: \.(yaml|yml)$
  shell-syntax-check: any of: ^tests/acceptance/.*\.sh$
