Repository 11PJ11/crafter-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: nwave-version-bump, conflict-detection, formatter-availability, yaml-validation, shell-syntax-check

nwave-version-bump:
  name: nWave Version Auto-Increment
  entry: python3 scripts/hooks/version_bump.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

conflict-detection:
  name: Conflict Detection - Related Files
  entry: python3 scripts/hooks/detect_conflicts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

formatter-availability:
  name: Code Formatter Availability Check
  entry: python3 scripts/hooks/check_formatter_available.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

yaml-validation:
  name: YAML File Validation
  entry: python3 scripts/validation/validate_yaml_files.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

shell-syntax-check:
  name: Shell Script Syntax Check
  entry: bash -n
  language: system
  stages:
  - pre-commit

chore(cleanup): Remove archived des-us003 feature folder
  docs/feature/des-us003/.develop-progress.json
  docs/feature/des-us003/steps/01-03.json
Due: none

chore(cleanup): Remove archived des-us004 feature folder
  docs/feature/des-us004/baseline.yaml
  docs/feature/des-us004/roadmap.yaml
  docs/feature/des-us004/steps/01-01.json
  docs/feature/des-us004/steps/01-02.json
  docs/feature/des-us004/steps/01-03.json
  docs/feature/des-us004/steps/02-01.json
  docs/feature/des-us004/steps/02-02.json
  docs/feature/des-us004/steps/02-03.json
  docs/feature/des-us004/steps/02-04.json
  docs/feature/des-us004/steps/03-01.json
  docs/feature/des-us004/steps/03-02.json
Due: yaml-validation

chore(cleanup): Remove duplicate turn-discipline folder
  docs/feature/turn-discipline/baseline.yaml
  docs/feature/turn-discipline/roadmap.yaml
  docs/feature/turn-discipline/steps/01-01.json
  docs/feature/turn-discipline/steps/01-02.json
  docs/feature/turn-discipline/steps/01-03.json
  docs/feature/turn-discipline/steps/01-04.json
  docs/feature/turn-discipline/steps/02-01.json
  docs/feature/turn-discipline/steps/02-02.json
  docs/feature/turn-discipline/steps/02-03.json
  docs/feature/turn-discipline/steps/02-04.json
  docs/feature/turn-discipline/steps/02-05.json
  docs/feature/turn-discipline/steps/02-06.json
  docs/feature/turn-discipline/steps/03-01.json
  docs/feature/turn-discipline/steps/03-02.json
  docs/feature/turn-discipline/steps/04-01.json
  docs/feature/turn-discipline/steps/04-02.json
  docs/feature/turn-discipline/steps/05-01.json
  docs/feature/turn-discipline/steps/05-02.json
  docs/feature/turn-discipline/steps/05-03.json
  docs/feature/turn-discipline/steps/05-04.json
  docs/feature/turn-discipline/steps/06-01.json
  docs/feature/turn-discipline/steps/06-02.json
  docs/feature/turn-discipline/steps/06-03.json
  docs/feature/turn-discipline/steps/06-04.json
  docs/feature/turn-discipline/steps/06-05.json
Due: yaml-validation

fix(templates,des-us005): Update step-template to use 8-phase TDD schema v2.0
  docs/feature/des-us005/steps/01-02.json
  docs/feature/des-us005/steps/02-01.json
  docs/feature/des-us005/steps/02-02.json
  docs/feature/des-us005/steps/02-03.json
  docs/feature/des-us005/steps/02-04.json
  docs/feature/des-us005/steps/02-05.json
  docs/feature/des-us005/steps/03-01.json
  docs/feature/des-us005/steps/03-02.json
  docs/feature/des-us005/steps/03-03.json
  docs/feature/des-us005/steps/03-04.json
  docs/feature/des-us005/steps/03-05.json
  nWave/data/agents_reference/COMMAND-AGENT-MAPPING.md
  nWave/framework-catalog.yaml
  nWave/tasks/nw/version.md
  nWave/templates/step-template.json
Due: nwave-version-bump, conflict-detection, yaml-validation

chore(version): Bump to 1.2.85 - Schema v2.0 with 8-phase TDD
  nWave/tasks/nw/version.md
  setup.py
Due: conflict-detection

feat(versioning): implement Version entity with semantic versioning - step 01-01
  docs/features/versioning-release-management/steps/01-01.json
  docs/features/versioning-release-management/steps/01-05.json
  nWave/core/versioning/__init__.py
  nWave/core/versioning/domain/__init__.py
  nWave/core/versioning/domain/core_content_identifier.py
  nWave/core/versioning/domain/version.py
  tests/unit/__init__.py
  tests/unit/domain/__init__.py
  tests/unit/domain/test_core_content_identifier.py
  tests/unit/domain/test_version.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(versioning): Implement BackupPolicy domain service - step 01-04
  docs/features/versioning-release-management/steps/01-04.json
  nWave/core/versioning/domain/backup_policy.py
  tests/unit/domain/test_backup_policy.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(versioning): implement GitHubAPIPort interface - step 02-01
  docs/features/versioning-release-management/steps/02-01.json
  nWave/core/versioning/ports/__init__.py
  nWave/core/versioning/ports/github_api_port.py
  tests/unit/ports/__init__.py
  tests/unit/ports/test_github_api_port.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(us005-01-02): Implement RCVersion value object
  docs/features/versioning-release-management/steps/01-02.json
  nWave/core/versioning/domain/rc_version.py
  tests/unit/domain/test_rc_version.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(versioning): Define FileSystemPort interface (step 02-02)
  docs/features/versioning-release-management/steps/02-02.json
  nWave/core/versioning/ports/file_system_port.py
  tests/unit/ports/test_file_system_port.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(us005-01-03): Implement Watermark entity
  docs/features/versioning-release-management/steps/01-03.json
  nWave/core/versioning/domain/watermark.py
  tests/unit/domain/test_watermark.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(ports): Define GitPort interface for git operations
  nWave/core/versioning/ports/__init__.py
  nWave/core/versioning/ports/git_port.py
  tests/unit/ports/test_git_port.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(02-04): Define DownloadPort interface
  docs/features/versioning-release-management/steps/02-05.json
  nWave/core/versioning/ports/checksum_port.py
  nWave/core/versioning/ports/download_port.py
  tests/unit/ports/test_checksum_port.py
  tests/unit/ports/test_download_port.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(us001-03-03): Display version when offline with graceful error handling
  docs/features/versioning-release-management/distill/acceptance-tests.feature
  docs/features/versioning-release-management/steps/03-03.json
  nWave/core/versioning/application/__init__.py
  nWave/core/versioning/application/version_service.py
  tests/acceptance/features/versioning-release-management/__init__.py
  tests/acceptance/features/versioning-release-management/conftest.py
  tests/acceptance/features/versioning-release-management/test_us001_version_check.py
  tests/unit/version/test_version_service_offline.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(versioning): Display version with update available - step 03-01
  docs/features/versioning-release-management/steps/03-01.json
  nWave/cli/__init__.py
  nWave/cli/version_cli.py
  nWave/infrastructure/versioning/__init__.py
  nWave/infrastructure/versioning/file_system_adapter.py
  nWave/infrastructure/versioning/github_api_adapter.py
  tests/acceptance/versioning/__init__.py
  tests/acceptance/versioning/conftest.py
  tests/acceptance/versioning/test_us001_version_check.py
  tests/unit/versioning/__init__.py
  tests/unit/versioning/test_file_system_adapter.py
  tests/unit/versioning/test_github_adapter.py
  tests/unit/versioning/test_version_cli.py
  tests/unit/versioning/test_version_service.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(us001-03-02): Display version when up-to-date
  docs/features/versioning-release-management/steps/03-02.json
  tests/acceptance/versioning_release_management/__init__.py
  tests/acceptance/versioning_release_management/conftest.py
  tests/acceptance/versioning_release_management/test_us001_version_check.py
Due: formatter-availability

feat(us001-03-04): Daily auto-check updates watermark when stale
  docs/features/versioning-release-management/distill/acceptance-tests.feature
  docs/features/versioning-release-management/steps/03-04.json
  tests/acceptance/versioning/test_us001_version_check.py
  tests/unit/versioning/test_version_service.py
Due: formatter-availability

feat(us001): Handle missing VERSION file and rate limit gracefully
  docs/features/versioning-release-management/steps/03-06.json
  docs/features/versioning-release-management/steps/03-07.json
  nWave/cli/version_cli.py
  tests/acceptance/versioning_release_management/test_us001_version_check.py
  tests/unit/versioning/test_github_adapter.py
  tests/unit/versioning/test_version_cli.py
Due: nwave-version-bump, conflict-detection, formatter-availability

docs(02-03): Update step file with completed TDD cycle
  docs/features/versioning-release-management/steps/02-03.json
Due: none

feat(us-001): Skip update check when watermark is fresh - step 03-05
  docs/features/versioning-release-management/distill/acceptance-tests.feature
  docs/features/versioning-release-management/steps/03-05.json
  nWave/core/versioning/application/version_service.py
  tests/acceptance/features/versioning-release-management/test_us001_version_check.py
  tests/unit/versioning/test_version_service.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(us-004): Implement forge:install walking skeleton - step 06-01
  docs/features/versioning-release-management/steps/06-01.json
  nWave/cli/forge_install_cli.py
  nWave/core/versioning/application/install_service.py
  tests/acceptance/versioning_release_management/test_us004_forge_install.py
  tests/unit/versioning/test_install_service.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(us-003): Implement forge build walking skeleton - step 05-01
  docs/features/versioning-release-management/steps/05-01.json
  nWave/cli/forge_cli.py
  nWave/core/versioning/application/build_service.py
  nWave/infrastructure/versioning/git_adapter.py
  tests/acceptance/versioning/forge/__init__.py
  tests/acceptance/versioning/forge/conftest.py
  tests/acceptance/versioning/forge/test_us003_forge_build.py
  tests/unit/versioning/forge/__init__.py
  tests/unit/versioning/forge/test_build_service.py
  tests/unit/versioning/forge/test_forge_cli.py
  tests/unit/versioning/forge/test_git_adapter_forge.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(us002-04-01): Implement update with backup creation - walking skeleton
  docs/features/versioning-release-management/steps/04-01.json
  nWave/cli/update_cli.py
  nWave/core/versioning/application/update_service.py
  nWave/infrastructure/versioning/checksum_adapter.py
  nWave/infrastructure/versioning/download_adapter.py
  tests/acceptance/versioning_release_management/test_us002_update.py
  tests/unit/versioning/update/__init__.py
  tests/unit/versioning/update/test_checksum_adapter.py
  tests/unit/versioning/update/test_download_adapter.py
  tests/unit/versioning/update/test_update_cli.py
  tests/unit/versioning/update/test_update_service.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(us004-06-05): Smoke test failure reports error
  docs/features/versioning-release-management/steps/06-05.json
  nWave/cli/forge_install_cli.py
  tests/acceptance/versioning_release_management/test_us004_forge_install.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(us003-05-05): Feature branch name included in RC version
  docs/features/versioning-release-management/steps/05-05.json
  tests/acceptance/versioning/forge/test_us003_forge_build.py
Due: formatter-availability

feat(us004-06-04): Installation fails when dist/ is missing required files
  docs/features/versioning-release-management/distill/acceptance-tests.feature
  docs/features/versioning-release-management/steps/06-02.json
  docs/features/versioning-release-management/steps/06-03.json
  docs/features/versioning-release-management/steps/06-04.json
  tests/unit/versioning/test_install_service.py
Due: formatter-availability

feat(us003-05-03): RC counter increments on same day builds
  docs/features/versioning-release-management/steps/05-03.json
  nWave/core/versioning/application/build_service.py
  tests/acceptance/versioning/forge/conftest.py
  tests/acceptance/versioning/forge/test_us003_forge_build.py
  tests/unit/versioning/forge/test_build_service.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(us005-07-01): Implement forge:release walking skeleton - step 07-01
  docs/features/versioning-release-management/steps/04-06.json
  docs/features/versioning-release-management/steps/04-07.json
  docs/features/versioning-release-management/steps/05-06.json
  docs/features/versioning-release-management/steps/07-01.json
  nWave/cli/forge_release_cli.py
  nWave/core/versioning/application/__init__.py
  nWave/core/versioning/application/release_service.py
  nWave/core/versioning/application/update_service.py
  nWave/core/versioning/ports/github_cli_port.py
  nWave/infrastructure/versioning/__init__.py
  nWave/infrastructure/versioning/github_cli_adapter.py
  tests/acceptance/features/version-update-experience/test_update_steps.py
  tests/acceptance/features/version-update-experience/us-002-update-safely.feature
  tests/acceptance/versioning/test_us002_update.py
  tests/acceptance/versioning_release_management/test_us005_forge_release.py
  tests/unit/versioning/forge/test_forge_cli.py
  tests/unit/versioning/release/__init__.py
  tests/unit/versioning/release/test_forge_release_cli.py
  tests/unit/versioning/release/test_github_cli_adapter.py
  tests/unit/versioning/release/test_release_service.py
  tests/unit/versioning/update/test_checksum_validation_failure.py
  tests/unit/versioning/update/test_update_service.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(us005-07): User accepts install after successful build
  docs/features/versioning-release-management/steps/05-07.json
  nWave/cli/forge_cli.py
Due: nwave-version-bump, conflict-detection

feat(us002-04-02): Major version change requires confirmation
  docs/features/versioning-release-management/steps/04-02.json
  docs/features/versioning-release-management/steps/04-08.json
  docs/features/versioning-release-management/steps/04-10.json
  nWave/cli/update_cli.py
  nWave/core/versioning/application/update_service.py
  nWave/core/versioning/domain/backup_policy.py
  tests/acceptance/versioning/test_us002_backup_rotation.py
  tests/acceptance/versioning_release_management/test_us002_update.py
  tests/unit/domain/test_backup_policy.py
  tests/unit/versioning/update/test_update_cli.py
  tests/unit/versioning/update/test_update_service.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(us002-04-04): Major version update cancelled with denial
  docs/features/versioning-release-management/steps/04-04.json
Due: none

feat(us002-04-06): Network failure during download leaves installation unchanged
  docs/features/versioning-release-management/steps/04-06.json
Due: none

feat(us002-04-03): Major version update proceeds with confirmation
  docs/features/versioning-release-management/distill/acceptance-tests.feature
  docs/features/versioning-release-management/steps/04-03.json
  docs/features/versioning-release-management/steps/04-05.json
  nWave/core/versioning/application/update_service.py
  tests/acceptance/features/version-update-experience/test_update_steps.py
Due: nwave-version-bump, conflict-detection, formatter-availability

feat(us002-04-09): Non-nWave user content is preserved during update
  docs/features/versioning-release-management/steps/04-09.json
Due: none

feat(us002-04-05): Local RC version triggers customization warning
  docs/features/versioning-release-management/steps/04-05.json
Due: none

feat(us005-07-02): Add acceptance test for release command fails on main branch
  docs/features/versioning-release-management/distill/acceptance-tests.feature
  docs/features/versioning-release-management/steps/07-02.json
  tests/acceptance/versioning_release_management/test_us005_forge_release.py
Due: formatter-availability

feat(us005-07-04): Permission denied for non-admin user
  docs/features/versioning-release-management/steps/07-03.json
  docs/features/versioning-release-management/steps/07-04.json
  tests/unit/versioning/release/test_forge_release_cli.py
  tests/unit/versioning/release/test_release_service.py
Due: formatter-availability

feat(us005-07-06): Release shows pipeline status after PR creation
  docs/features/versioning-release-management/steps/07-05.json
  docs/features/versioning-release-management/steps/07-06.json
  nWave/cli/forge_release_cli.py
Due: nwave-version-bump, conflict-detection

docs(versioning): Complete DEVELOP wave for versioning-release-management
  docs/features/versioning-release-management/baseline.yaml
  docs/features/versioning-release-management/distill/step-definitions-outline.md
  docs/features/versioning-release-management/distill/test-scenarios.md
  docs/features/versioning-release-management/roadmap.yaml
  docs/features/versioning-release-management/steps/02-04.json
  docs/features/versioning-release-management/steps/04-02.json
  docs/features/versioning-release-management/steps/05-02.json
  docs/features/versioning-release-management/steps/05-04.json
Due: yaml-validation

fix(schema): Complete 8-phase TDD migration - update validators and tests
  nWave/constants/__init__.py
  nWave/constants/tdd_phases.py
  nWave/tasks/nw/split.md
  nWave/templates/step-tdd-cycle-schema.json
  scripts/validation/validate_steps.py
  src/des/application/validator.py
  tests/test_step_file_format.py
  tests/test_step_schema_turn_count.py
  tests/test_template_integrity.py
  tests/unit/test_validator.py
Due: nwave-version-bump, conflict-detection, formatter-availability

Path conditions:
  nwave-version-bump: any of: ^(nWave/|tools/), but not: version\.md$
  conflict-detection: any of: ^(nWave/|scripts/|tools/)
  formatter-availability: any of: ^(scripts/|tools/|tests/).*\.py$
  yaml-validation: any of: \.(yaml|yml)$
  shell-syntax-check: any of: ^tests/acceptance/.*\.sh$
